<!-- List -->
<table class="table table-hover">
  <thead>
    <tr>
      <!-- Headers -->
      <th scope="col">
        Nombre <sorting-button property="fullName" (directionChange)="changeDirection.emit($event)"></sorting-button>
      </th>
      <th scope="col">
        Activo <sorting-button property="active" (directionChange)="changeDirection.emit($event)"></sorting-button>
      </th>
    </tr>
  </thead>
  <tbody class="table-group-divider">
    @for (person of people(); track person; let rowIndex = $index) {
      <tr
        [ngClass]="{ 'table-secondary': !person.membership?.active }" role="button"
        routerLink="{{routeLinkAdapter()(person)}}">
        <!-- Cells -->
        <td>
          {{person.name.fullName}}
        </td>
        <td>
          @switch (person.membership === null) {
            @case (true) {
              No es socio
            }
            @case (false) {
              <icon-success-or-failure [success]="person.membership?.active"></icon-success-or-failure>
            }
          }
        </td>
      </tr>
    }
  </tbody>
</table>