<nav id="navbar-main" class="navbar navbar-expand-md navbar-dark sticky-top bg-primary flex-md-nowrap p-0">
  <div class="container-fluid">
    <a class="navbar-brand" routerLink="/">{{title}}</a>
    <div class="ms-auto">
      <button type="button" class="nav-link" aria-label="Login" role="button" routerLink="/login">
        <icon-login></icon-login>
      </button>
    </div>
    <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbar-main-menu"
      aria-controls="navbar-main" aria-expanded="false" aria-label="Toggle navigation">
      <span class="navbar-toggler-icon"></span>
    </button>
    <div class="collapse navbar-collapse" id="navbar-main-menu">
      <ul class="nav navbar-nav ms-auto">
        <a routerLink="/login" class="nav-link" aria-label="Login" title="Login">
          <icon-login></icon-login>
        </a>
      </ul>
    </div>
  </div>
</nav>