<form [formGroup]="form" (ngSubmit)="onSave()" class="needs-validation" novalidate>
  <!-- Person -->
  <h2>{{fullname}}</h2>
  <!-- Payment date -->
  <p-floatlabel variant="in" class="mb-2 d-flex">
    <p-datepicker id="transactionInput" formControlName="transaction" [invalid]="isFieldInvalid('transaction')"
      dateFormat="yy-mm-dd" />
    <label for="transactionInput">Pago</label>
  </p-floatlabel>
  <div class="mb-2">
    @for (failure of failures().getFailures('transaction'); track failure) {
      <p-message severity="error" size="small" variant="simple">
        {{failure.message}}
      </p-message>
    }
  </div>
  <!-- Fees -->
  <h3>Cuotas</h3>
  <!-- Each fee -->
  @for (date of months.controls; track date; let i = $index) {
    <div class="row">
      <div class="col-sm-10">
        <p-floatlabel variant="in" class="mb-2 d-flex">
          <p-datepicker [id]="'monthYearInput_' + i" [invalid]="isFieldInvalid('months[]')"
            view="month" dateFormat="yy-mm" (onSelect)="onMonthSelect($event, i)" />
          <label [for]="'monthYearInput_' + i">Mes</label>
        </p-floatlabel>
      </div>
      <div class="col-sm-2">
        <div class="col-md-2 mb-2">
          <button type="button" class="btn btn-link link-danger" aria-label="Remove date" [disabled]="!formEnabled"
            (click)="removeDate(i)">
            <icon-delete />
          </button>
        </div>
      </div>
    </div>
  }
  <!-- Add fee button -->
  <div class="row">
    <div uiJustifyCenter>
      <button type="button" class="btn btn-primary" aria-label="Add date" [disabled]="!formEnabled" (click)="addDate()">
        <icon-add />
      </button>
    </div>
  </div>
  <div class="mb-2">
    @for (failure of failures().getFailures('months[]'); track failure) {
      <p-message severity="error" size="small" variant="simple">
        {{failure.message}}
      </p-message>
    }
  </div>

  <!-- Save button -->
  <div class="row">
    <div class="col-sm-2 d-grid gap-2">
      <!-- Save button -->
      <button type="submit" name="Login" class="btn btn-primary" [uiWaiting]="waiting" [disabled]="!saveEnabled"
        [attr.aria-disabled]="!saveEnabled">Guardar</button>
    </div>
  </div>
</form>