<form [formGroup]="form" (ngSubmit)="onSave()" class="needs-validation" novalidate>
  <!-- Member -->
  <div class="row mb-2">
    <label for="memberNameInput" class="col-sm-2 col-form-label">Socio</label>
    <div class="col-sm-10">
      <input disabled type="text" id="memberNameInput" [value]="fullname" readonly="true"
        class="form-control" aria-describedby="memberNameLabel">
    </div>
  </div>
  <!-- Payment date -->
  <div class="row mb-2">
    <label for="paymentDateInput" id="paymentDateLabel" class="col-sm-2 col-form-label">Pago</label>
    <div formGroupName="transaction" class="col-sm-10">
      <input type="date" id="paymentDateInput" formControlName="date" class="form-control"
        appInvalidField="transaction.date" [backendFailure]="failures.hasFailures('transaction.date')"
        aria-describedby="paymentDateLabel">
      <app-input-failure-feedback [failures]="failures.getFailures('transaction.date')"></app-input-failure-feedback>
    </div>
  </div>
  <!-- Fees -->
  <div class="row mb-2">
    <label class="col-sm-2 col-form-label">Cuotas</label>
    <div class="col-sm-10">
      <!-- Each fee -->
      <div *ngFor="let date of form.get('feeMonths').controls; let i = index" formGroupName="feeMonths" class="row">
        <div class="col-md-6 mb-2">
          <input type="month" [id]="'monthYearInput_' + i" [formControlName]="i" class="form-control"
            appInvalidField="feeMonths[]" [backendFailure]="failures.hasFailures('feeMonths[]')">
          <app-input-failure-feedback [failures]="failures.getFailures('feeMonths[]')"></app-input-failure-feedback>
        </div>
        <div class="col-md-2 mb-2">
          <button type="button" class="btn btn-link link-danger" aria-label="Remove date" [disabled]="!formEnabled"
            (click)="removeDate(i)">
            <icon-delete></icon-delete>
          </button>
        </div>
      </div>
      <!-- Add fee button -->
      <div class="row">
        <div appJustifyCenter>
          <button type="button" class="btn btn-primary" aria-label="Add date" [disabled]="!formEnabled"
            (click)="addDate()">
            <icon-add></icon-add>
          </button>
        </div>
      </div>
    </div>
  </div>

  <!-- Save button -->
  <div class="row">
    <div class="col-sm-2 d-grid gap-2">
      <!-- Save button -->
      <layout-waiting-button [waiting]="waiting" [disabled]="!saveEnabled" name="Save"
        (action)="onSave()">Guardar</layout-waiting-button>
    </div>
  </div>
</form>