<form [formGroup]="form" (ngSubmit)="onSave()" class="needs-validation" novalidate>
  <!-- Person -->
  <div class="row mb-2">
    <label for="fullNameInput" class="col-sm-2 col-form-label">Socio</label>
    <div class="col-sm-10">
      <input disabled type="text" id="fullNameInput" [value]="fullname" readonly="true" class="form-control"
        aria-describedby="fullNameLabel">
    </div>
  </div>
  <!-- Payment date -->
  <div class="row mb-2">
    <label for="paymentDateInput" id="paymentDateLabel" class="col-sm-2 col-form-label">Pago</label>
    <div formGroupName="payment" class="col-sm-10">
      <input type="date" id="paymentDateInput" formControlName="date" class="form-control"
        formInvalidField="payment.date" [backendFailure]="failures.hasFailures('payment.date')"
        aria-describedby="paymentDateLabel">
      <form-input-failure-feedback [failures]="failures.getFailures('payment.date')"></form-input-failure-feedback>
    </div>
  </div>
  <!-- Fees -->
  <div class="row mb-2">
    <label class="col-sm-2 col-form-label">Cuotas</label>
    <div class="col-sm-10">
      <!-- Each fee -->
      <div *ngFor="let date of form.get('feeMonths').controls; let i = index" formGroupName="feeMonths" class="row">
        <div class="col-md-6 mb-2">
          <input type="month" [id]="'monthYearInput_' + i" [formControlName]="i" class="form-control"
            formInvalidField="feeMonths[]" [backendFailure]="failures.hasFailures('feeMonths[]')">
          <form-input-failure-feedback [failures]="failures.getFailures('feeMonths[]')"></form-input-failure-feedback>
        </div>
        <div class="col-md-2 mb-2">
          <button type="button" class="btn btn-link link-danger" aria-label="Remove date" [disabled]="!formEnabled"
            (click)="removeDate(i)">
            <icon-delete></icon-delete>
          </button>
        </div>
      </div>
      <!-- Add fee button -->
      <div class="row">
        <div layoutJustifyCenter>
          <button type="button" class="btn btn-primary" aria-label="Add date" [disabled]="!formEnabled"
            (click)="addDate()">
            <icon-add></icon-add>
          </button>
        </div>
      </div>
    </div>
  </div>

  <!-- Save button -->
  <div class="row">
    <div class="col-sm-2 d-grid gap-2">
      <!-- Save button -->
      <button type="submit" name="Login" class="btn btn-primary" [layoutWaiting]="waiting" [disabled]="!saveEnabled"
        [attr.aria-disabled]="!saveEnabled" (click)="onSave()">Guardar</button>
    </div>
  </div>
</form>