<div class="row mb-2">
  <div appJustifyBetween>
    <div>Selecciona un socio</div>
    <assoc-member-status-select [disabled]="waiting"
      (changeStatus)="changeFilter.emit($event)"></assoc-member-status-select>
  </div>
</div>
  <layout-button-list [values]="data.content" [renderer]="nameRenderer" *layoutBlockUi="waiting"
    (pick)="selectPerson.emit($event)"></layout-button-list>
<div appJustifyCenter class="mt-1">
  <pagination-navigation [disabled]="waiting" [current]="data.page" [pages]="data.totalPages"
    (goTo)="goToPage.emit($event)">
  </pagination-navigation>
</div>