<!-- Controls -->
<div class="d-flex justify-content-center pb-2">
  <!-- To previous year button -->
  <button *ngIf="isAbleToGoPrevious()" id="previousYearButton" type="button" class="page-link" (click)="onGoPrevious()"
    [disabled]="!isAbleToGoPrevious()" [attr.aria-disabled]="!isAbleToGoPrevious()" aria-label="Previous year">
    <icon-backward></icon-backward>
  </button>
  <div class="w-25 px-3">
    <!-- Current year -->
    <select class="form-select" aria-label="Select year" [disabled]="waiting" (change)="onGoTo($event)">
      <option *ngFor="let selectionYear of range.years.slice().reverse()" [selected]="selectionYear === year"
        [value]="selectionYear">
        {{selectionYear}}</option>
    </select>
  </div>
  <!-- To next year button -->
  <button *ngIf="isAbleToGoNext()" id="nextYearButton" type="button" class="page-link" (click)="onGoNext()"
    [disabled]="!isAbleToGoNext()" [attr.aria-disabled]="!isAbleToGoNext()" aria-label="Next year">
    <icon-forward></icon-forward>
  </button>
</div>
<!-- Table -->
<layout-waiting-wrapper [waiting]="waiting">
  <div class="table-responsive"> <!-- Add a container for responsiveness -->
    <table class="table table-sm table-hover">
      <thead class="thead-light">
        <tr>
          <th scope="col">Member</th>
          <!-- Add classes for responsiveness -->
          <th scope="col" *ngFor="let month of months"> {{month}}</th>
        </tr>
      </thead>
      <tbody class="table-group-divider">
        <ng-template ngFor let-row [ngForOf]="rows">
          <tr [ngClass]="{ 'table-warning': row.member.active === false }">
            <td>
              {{row.member.fullName}}
            </td>
            <!-- Month fees -->
            <ng-template ngFor let-month [ngForOf]="months">
              <td>
                <ng-container *ngIf="hasMonth(row.months, month)" [ngSwitch]="getMonth(row.months, month)?.fee?.paid">
                  <button type="button" class="btn btn-secondary btn-sm" role="button"
                    routerLink="/fees/{{getMonth(row.months, month)?.fee?.date}}/{{row.member.number}}">
                    <ng-container *ngSwitchCase="true">
                      <!-- Paid month -->
                      <icon-success class="text-success"></icon-success>
                    </ng-container>
                    <ng-container *ngSwitchCase="false">
                      <!-- Not paid month -->
                      <icon-failure class="text-danger"></icon-failure>
                    </ng-container>
                  </button>
                </ng-container>
              </td>
            </ng-template>
          </tr>
        </ng-template>
      </tbody>
    </table>
  </div>
</layout-waiting-wrapper>