<form [formGroup]="form" (ngSubmit)="onSave()" class="needs-validation" novalidate>
  <!-- First name -->
  <div class="row mb-2">
    <label for="firstNameInput" id="firstNameLabel" class="col-sm-2 col-form-label">Nombre</label>
    <div formGroupName="name" class="col-sm-10">
      <input type="text" id="firstNameInput" formControlName="firstName" class="form-control"
        appInvalidField="name.firstName" [backendFailure]="failures.hasFailures('name.firstName')"
        aria-describedby="firstNameLabel" maxlength="50">
      <app-input-failure-feedback [failures]="failures.getFailures('name.firstName')"></app-input-failure-feedback>
    </div>
  </div>
  <!-- Last name -->
  <div class="row mb-2">
    <label for="lastNameInput" id="lastNameLabel" class="col-sm-2 col-form-label">Apellidos</label>
    <div formGroupName="name" class="col-sm-10">
      <input type="text" id="lastNameInput" formControlName="lastName" class="form-control"
        appInvalidField="name.firstName" [backendFailure]="failures.hasFailures('name.lastName')"
        aria-describedby="lastNameLabel" maxlength="50">
      <app-input-failure-feedback [failures]="failures.getFailures('name.lastName')"></app-input-failure-feedback>
    </div>
  </div>
  <!-- Membership -->
  <div class="form-check">
    <input class="form-check-input" type="checkbox" value="" id="flexCheckDefault"
      (change)="onChangeMemberStatus($event)" [checked]="member">
    <label class="form-check-label" for="flexCheckDefault">
      Socio
    </label>
  </div>
  <app-save-controls [waiting]="waiting" [saveDisabled]="!saveEnabled" [cancelDisabled]="!cancelEnabled"
    [cancellable]="cancellable" (save)="onSave()" (reject)="onCancel()"></app-save-controls>
</form>