<div class="card mb-1">
  <div class="card-header">
    <ul class="nav nav-tabs card-header-tabs">
      <li class="nav-item">
        <a class="nav-link" [class.active]="view === 'details'" aria-current="page" role="button"
          (click)="onChangeView('details')">Detalles</a>
      </li>
      <li class="nav-item">
        <a class="nav-link" [class.active]="view === 'status'" aria-current="page" role="button"
          (click)="onChangeView('status')">Estado</a>
      </li>
    </ul>
  </div>
  <ng-container [ngSwitch]="view">
    <ng-container *ngSwitchCase="'details'">
      <div class="card-body">
        <assoc-member-info-details [data]="data"></assoc-member-info-details>
      </div>
      <div *ngIf="showMenu" class="card-footer">
        <div>
          <form-editor-header [editable]="editable" [deletable]="deletable" (startEditing)="startEditing.emit()"
            (delete)="delete.emit()"></form-editor-header>
        </div>
      </div>
    </ng-container>
    <ng-container *ngSwitchCase="'status'">
      <div class="card-body">
        <!-- Active -->
        <div class="row mb-2">
          <div class="col-sm-2 text-primary">Activo</div>
          <div class="col-sm-10">
            <icon-success-or-failure [success]="data.active"></icon-success-or-failure>
          </div>
        </div>
      </div>
      <div class="card-footer">
        <ng-template [ngIf]="!data.active">
          <!-- Enable button -->
          <div class="col-sm-2 d-grid gap-2">
            <layout-waiting-button [waiting]="waiting" [disabled]="!editEnabled" name="Activate" data-bs-toggle="modal"
              [attr.data-bs-target]="editEnabled ? '#activateModal' : ''">Activar</layout-waiting-button>
          </div>
        </ng-template>
        <ng-template [ngIf]="data.active">
          <!-- Disable button -->
          <div class="col-sm-2 d-grid gap-2">
            <layout-waiting-button [waiting]="waiting" [disabled]="!editEnabled" name="Deactivate"
              data-bs-toggle="modal"
              [attr.data-bs-target]="editEnabled ? '#deactivateModal' : ''">Desactivar</layout-waiting-button>
          </div>
        </ng-template>
      </div>
    </ng-container>
  </ng-container>
</div>

<!-- Modal confirmation for deactivating -->
<layout-modal name="deactivateModal" title="Desactivar socio" acceptText="Desactivar" (accept)="deactivate.emit()">
  <p>¿Estás seguro de que quieres marcar como no activo al socio?</p>
</layout-modal>

<!-- Modal confirmation for activating -->
<layout-modal name="activateModal" title="Activar socio" acceptText="Activar" (accept)="activate.emit()">
  <p>¿Estás seguro de que quieres marcar como activo al socio?</p>
</layout-modal>