<!-- Controls -->
<div uiJustifyCenter class="pb-2">
  <!-- To previous year button -->
  @if (canGoPrevious) {
    <button id="previousYearButton" type="button" class="btn btn-link" (click)="onGoPrevious()"
      [disabled]="!canGoPrevious" [attr.aria-disabled]="!canGoPrevious" aria-label="Previous year">
      <icon-backward />
    </button>
  }
  <div class="w-25 px-3">
    <!-- Current year -->
    <p-select [(ngModel)]="year" [disabled]="waiting()" [options]="years" (onChange)="onGoTo($event)" />
  </div>
  <!-- To next year button -->
  @if (canGoNext) {
    <button id="nextYearButton" type="button" class="btn btn-link" (click)="onGoNext()"
      [disabled]="!canGoNext" [attr.aria-disabled]="!canGoNext" aria-label="Next year">
      <icon-forward />
    </button>
  }
</div>
<!-- Table -->
<div class="table-responsive" *uiBlock="waiting()">
  <table class="table table-sm table-hover">
    <thead class="thead-light">
      <tr>
        <th scope="col">Socio</th>
        @for (monthNumber of monthNumbers; track monthNumber) {
          <th scope="col"> {{monthNumber}}</th>
        }
      </tr>
    </thead>
    <tbody class="table-group-divider">
      @for (memberFees of feeCalendar(); track memberFees) {
        <tr [ngClass]="{ 'table-warning': !memberFees.member.active}">
          <td>
            {{memberFees.member.name.fullName}}
          </td>
          <!-- Month fees -->
          @for (monthNumber of monthNumbers; track monthNumber) {
            <td>
              @if (hasMonth(memberFees.months, monthNumber)) {
                <button type="button" class="btn btn-secondary btn-sm" role="button"
                  routerLink="{{getMonth(memberFees.months, monthNumber)}}/{{memberFees.member.number}}">
                  <icon-success-or-failure [success]="isPaid(memberFees.months, monthNumber)" />
                </button>
              }
            </td>
          }
        </tr>
      }
    </tbody>
  </table>
</div>