<!-- Controls -->
<div appJustifyCenter class="pb-2">
  <!-- To previous year button -->
  <button *ngIf="canGoPrevious" id="previousYearButton" type="button" class="btn btn-link" (click)="onGoPrevious()"
    [disabled]="!canGoPrevious" [attr.aria-disabled]="!canGoPrevious" aria-label="Previous year">
    <icon-backward></icon-backward>
  </button>
  <div class="w-25 px-3">
    <!-- Current year -->
    <select class="form-select" aria-label="Select year" [disabled]="waiting" (change)="onGoTo($event)">
      <option *ngFor="let selectionYear of range.years.slice().reverse()" [selected]="selectionYear === year"
        [value]="selectionYear">
        {{selectionYear}}</option>
    </select>
  </div>
  <!-- To next year button -->
  <button *ngIf="canGoNext" id="nextYearButton" type="button" class="btn btn-link" (click)="onGoNext()"
    [disabled]="!canGoNext" [attr.aria-disabled]="!canGoNext" aria-label="Next year">
    <icon-forward></icon-forward>
  </button>
</div>
<!-- Table -->
<div class="table-responsive" *layoutBlockUi="waiting">
  <table class="table table-sm table-hover">
    <thead class="thead-light">
      <tr>
        <th scope="col">Socio</th>
        <th scope="col" *ngFor="let month of months"> {{month}}</th>
      </tr>
    </thead>
    <tbody class="table-group-divider">
      <ng-template ngFor let-row [ngForOf]="rows">
        <tr [ngClass]="{ 'table-warning': !row.member.active }">
          <td>
            {{row.member.fullName}}
          </td>
          <!-- Month fees -->
          <ng-template ngFor let-month [ngForOf]="months">
            <td>
              <ng-container *ngIf="hasMonth(row.months, month)">
                <button type="button" class="btn btn-secondary btn-sm" role="button"
                  routerLink="{{getMonth(row.months, month)?.fee?.date}}/{{row.member.number}}">
                  <icon-success-or-failure [success]="getMonth(row.months, month)?.fee?.paid"></icon-success-or-failure>
                </button>
              </ng-container>
            </td>
          </ng-template>
        </tr>
      </ng-template>
    </tbody>
  </table>
</div>