<layout-waiting-overlay [waiting]="waiting">
  <table class="table">
    <thead>
      <tr>
        <th scope="col"></th>
        <th scope="col">
          Resource
        </th>
        <th scope="col">
          Action
        </th>
      </tr>
    </thead>
    <tbody class="table-group-divider">
      <ng-template ngFor let-permission [ngForOf]="page.content">
        <tr>
          <td>
            <button [disabled]="!deletable" (click)="onRemove(permission)" type="button" class="btn btn-link link-dark"
              role="button" aria-label="Back">
              <icon-delete></icon-delete>
            </button>
          </td>
          <td>{{permission.resource}}</td>
          <td>{{permission.action}}</td>
        </tr>
      </ng-template>
    </tbody>
  </table>
</layout-waiting-overlay>
<!-- Page navigation -->
<div class="d-flex justify-content-center mt-1">
  <pagination-navigation [current]="page.page + 1" [pages]="page.totalPages" [disabled]="waiting"
    (goTo)="onGoToPage($event)">
  </pagination-navigation>
</div>