<form [formGroup]="form" (ngSubmit)="onSave()" class="needs-validation" novalidate>
  <!-- Name -->
  <div class="row mb-2">
    <label for="nameInput" id="nameLabel" class="col-sm-2 col-form-label">Nombre</label>
    <div class="col-sm-10">
      <input type="text" id="nameInput" formControlName="name" class="form-control" formInvalidField
        [backendFailure]="failures().hasFailures('name')" aria-describedby="nameLabel" maxlength="100">
      <form-input-failure-feedback [failures]="failures().getFailures('name')" />
    </div>
  </div>
  <!-- Save controls -->
  <form-save-controls [waiting]="waiting" [saveDisabled]="!saveEnabled" [cancelDisabled]="!cancelEnabled"
    [cancellable]="cancellable" (reject)="onCancel()" />
</form>