<layout-article title="Members">
  <!-- Add -->
  <div class="row">
    <!-- Add button -->
    <div class="col-sm-2 d-grid gap-2">
      <a routerLink="/members/create" type="button" class="btn btn-link link-dark" role="button">
        <fa-icon [icon]="addIcon"></fa-icon>
      </a>
    </div>
  </div>
  <layout-waiting-wrapper [waiting]="waiting">
    <layout-router-link-list [rows]="rows" [header]="header" route="/members" [totalPages]="totalPages">
    </layout-router-link-list>
  </layout-waiting-wrapper>
</layout-article>