<layout-article title="Members">
  <!-- Add -->
  <div *ngIf="createPermission" class="row">
    <!-- Add button -->
    <div class="col-sm-2 d-grid gap-2">
      <a routerLink="/members/create" type="button" class="btn btn-link link-dark" role="button">
        <fa-icon [icon]="addIcon"></fa-icon>
      </a>
    </div>
  </div>
  <layout-waiting-wrapper [waiting]="waiting">
    <div class="card">
      <div class="card-body">
        <member-selection-list [members]="members">
        </member-selection-list>
      </div>
      <div class="d-flex justify-content-center mt-1">
        <pagination-route-navigation [totalPages]="totalPages">
        </pagination-route-navigation>
      </div>
    </div>
  </layout-waiting-wrapper>
</layout-article>