<!-- List -->
<table class="table table-hover">
  <thead>
    <tr>
      <!-- Headers -->
      <th scope="col">
        Nombre <sorting-button property="fullName" (directionChange)="changeDirection.emit($event)" />
      </th>
    </tr>
  </thead>
  <tbody class="table-group-divider">
    @for (member of members(); track member; let rowIndex = $index) {
      <tr role="button" routerLink="{{routeLinkAdapter()(member)}}">
        <!-- Cells -->
        <td>
          {{member.name.fullName}}
        </td>
      </tr>
    }
  </tbody>
</table>