<layout-article title="Edit member">
  <div *ngIf="editable; then editForm else infoForm"></div>
  <ng-template #editForm>
    <assoc-member-edit-form [editable]="editable" [deletable]="deletable" [saving]="saving"
      [failures]="failures" [data]="member" (save)="onSave($event)" (delete)="onDelete($event)">
    </assoc-member-edit-form>
  </ng-template>
  <ng-template #infoForm>
    <div class="card">
      <div class="card-body">
        <assoc-member-info [data]="member"></assoc-member-info>
      </div>
    </div>
  </ng-template>
</layout-article>