<div class="card">
  <div class="card-body">
    <!-- Filter -->
    <div class="row">
      <div class="col-md-1 offset-md-9">
        Estado
      </div>
      <div class="col-md-2">
        <assoc-member-status-select (changeStatus)="onChangeActiveFilter($event)"></assoc-member-status-select>
      </div>
    </div>
    <!-- List -->
    <layout-waiting-overlay [waiting]="readingMembers">
      <assoc-member-list [page]="page" (changeDirection)="onChangeDirection($event)">
      </assoc-member-list>
    </layout-waiting-overlay>
    <!-- Pagination info -->
    <pagination-navigation-info [page]="page" [disabled]="readingMembers"
      (goTo)="load($event)"></pagination-navigation-info>
    <!-- Add -->
    <div class="col-md-2 offset-md-5">
      <div class="d-grid">
        <button type="button" class="btn btn-primary" aria-label="register" routerLink="/members/register"
          [disabled]="!createPermission" [attr.aria-disabled]="!createPermission">
          <icon-add></icon-add>
        </button>
      </div>
    </div>
  </div>
</div>