<div class="card">
  <div class="card-body">
    <!-- Filter -->
    <div class="row">
      <div class="col-md-1 offset-md-9">
        status
      </div>
      <div class="col-md-2">
        <assoc-member-status-select (changeStatus)="onChangeActiveFilter($event)"></assoc-member-status-select>
      </div>
    </div>
    <!-- List -->
    <layout-waiting-wrapper [waiting]="readingMembers">
      <assoc-member-list [page]="page" (changeDirection)="onChangeDirection($event)">
      </assoc-member-list>
    </layout-waiting-wrapper>
    <!-- Total -->
    <div class="row">
      <div class="col-md-1">
        <p>Total: {{page.totalElements}}</p>
      </div>
    </div>
    <!-- Page navigation -->
    <div class="d-flex justify-content-center mt-1">
      <pagination-navigation [current]="page.page + 1" [pages]="page.totalPages" [disabled]="readingMembers"
        (goTo)="load($event)">
      </pagination-navigation>
    </div>
    <!-- Add -->
    <div class="col-md-2 offset-md-5">
      <div class="d-grid">
        <button type="button" class="btn btn-primary" aria-label="register" routerLink="/members/register"
          [disabled]="!createPermission" [attr.aria-disabled]="!createPermission">
          <icon-add></icon-add>
        </button>
      </div>
    </div>
  </div>
</div>