<h1>transactions</h1>
<button-link-create link="/transactions/create"></button-link-create>
<pagination-navigation [page]="pageInfo.page" [totalPages]="pageInfo.totalPages" [first]="pageInfo.first"
    [last]="pageInfo.last"></pagination-navigation>
<pagination-size-selector [selected]="pageInfo.size"></pagination-size-selector>
<table class="table">
    <thead>
        <tr>
            <th scope="col"></th>
            <th scope="col">
                <order-button property="description"></order-button>description
            </th>
            <th scope="col">
                <order-button property="date"></order-button>pay date
            </th>
            <th scope="col">
                <order-button property="amount"></order-button>amount
            </th>
        </tr>
    </thead>
    <tbody>
        <ng-template ngFor let-transaction [ngForOf]="transactions">
            <tr>
                <td>
                    <button-link-edit link="/transactions/{{transaction.id}}"></button-link-edit>
                </td>
                <td>{{transaction.description}}</td>
                <td>{{transaction.date}}</td>
                <td>{{transaction.amount}}</td>
            </tr>
        </ng-template>
    </tbody>
</table>