<h1>transactions</h1>
<button-link-create link="/transactions/create"></button-link-create>
<route-pagination-navigation [pageInfo]="pageInfo"></route-pagination-navigation>
<route-pagination-size-selector [pageInfo]="pageInfo"></route-pagination-size-selector>
<table class="table">
    <thead>
        <tr>
            <th scope="col"></th>
            <th scope="col"><route-order-button property="description"></route-order-button>description</th>
        </tr>
    </thead>
    <tbody>
        <ng-template ngFor let-transaction [ngForOf]="transactions">
            <tr>
                <td>
                    <button-link-edit link="/transactions/{{transaction.id}}"></button-link-edit>
                </td>
                <td>{{transaction.description}}</td>
                <td>{{transaction.day}}/{{transaction.month}}/{{transaction.year}}</td>
            </tr>
        </ng-template>
    </tbody>
</table>