<h1>transactions</h1>
<div class="row">
    <button-link-create link="/data/transactions/create"></button-link-create>
</div>
<div class="row">
    <pagination-navigation [totalPages]="pageInfo.totalPages" [first]="pageInfo.first" [last]="pageInfo.last"
        [disabled]="isLoading()">
    </pagination-navigation>
</div>
<div class="row">
    <pagination-size-selector [selected]="pageInfo.size" [disabled]="isLoading()"></pagination-size-selector>
</div>
<div class="row">
    <table class="table">
        <thead>
            <tr>
                <th scope="col"></th>
                <th scope="col">
                    <order-button property="description" [disabled]="isLoading()"></order-button>description
                </th>
                <th scope="col">
                    <order-button property="date" [disabled]="isLoading()"></order-button>pay date
                </th>
                <th scope="col">
                    <order-button property="amount" [disabled]="isLoading()"></order-button>amount
                </th>
            </tr>
        </thead>
        <tbody>
            <div *ngIf="isLoading(); then loading_cue else data_list"></div>
            <ng-template #loading_cue>
                <div class="d-flex justify-content-center">
                    <span class="spinner-border spinner-border-sm mr-1"></span>
                </div>
            </ng-template>
            <ng-template #data_list>
                <ng-template ngFor let-transaction [ngForOf]="transactions">
                    <tr>
                        <td>
                            <button-link-edit link="/data/transactions/{{transaction.id}}"></button-link-edit>
                        </td>
                        <td>{{transaction.description}}</td>
                        <td>{{transaction.date | date:'shortDate'}}</td>
                        <td>{{transaction.amount}}</td>
                    </tr>
                </ng-template>
            </ng-template>
        </tbody>
    </table>
</div>