<layout-article title="Datos de libro">
  <div appResponsiveShortColumns>
    <!-- Form -->
    <div class="card">
      <div class="card-body">
        <assoc-library-admin-book-form [data]="data" [waiting]="saving" [failures]="failures" [readonly]="!formEnabled"
          [languages]="languages" [bookTypePage]="bookTypePage" [gameSystemPage]="gameSystemPage"
          [authorPage]="authorPage" [publisherPage]="publisherPage" [donorPage]="donorPage" 
          (save)="onSave($event)" (cancel)="onCancel()" (goToBookTypePage)="onGoToBookTypePage($event)"
          (goToGameSystemPage)="onGoToGameSystemPage($event)" (goToAuthorPage)="onGoToAuthorPage($event)"
          (goToPublisherPage)="onGoToPublisherPage($event)" (goToDonorPage)="onGoToDonorPage($event)">
        </assoc-library-admin-book-form>
      </div>
    </div>
  </div>
</layout-article>