<layout-article title="Datos de libro">
  <div appResponsiveShortColumns>
    <ng-container [ngSwitch]="editing">
      <!-- Form -->
      <ng-container *ngSwitchCase="true">
        <div class="card">
          <div class="card-body">
            <assoc-library-admin-book-form [data]="data" [waiting]="saving" [failures]="failures"
              [readonly]="!formEnabled" [languages]="languages" [bookTypePage]="bookTypePage"
              [gameSystemPage]="gameSystemPage" [authorPage]="authorPage" [publisherPage]="publisherPage"
              [donorPage]="donorPage" [cancellable]="true" (save)="onSave($event)" (cancel)="onCancel()"
              (goToBookTypePage)="onGoToBookTypePage($event)" (goToGameSystemPage)="onGoToGameSystemPage($event)"
              (goToAuthorPage)="onGoToAuthorPage($event)" (goToPublisherPage)="onGoToPublisherPage($event)"
              (goToDonorPage)="onGoToDonorPage($event)">
            </assoc-library-admin-book-form>
          </div>
        </div>
      </ng-container>
      <!-- Info -->
      <ng-container *ngSwitchCase="false">
        <div class="card">
          <div class="card-body">
            <assoc-library-admin-book-info [data]="data" [languages]="languages"></assoc-library-admin-book-info>
          </div>
          <div *ngIf="showMenu" class="card-footer">
            <form-control-buttons [editable]="editable" [deletable]="deletable" (startEditing)="onStartEditing()"
              (delete)="onDelete()"></form-control-buttons>
          </div>
        </div>
      </ng-container>
    </ng-container>
  </div>
</layout-article>