<layout-article title="Edit user token">
  <div class="col-md-6 offset-md-3">
    <!-- Role -->
    <div class="mb-1">
      <!-- Info -->
      <div class="card">
        <div class="card-body">
          <access-user-token-info id="info" [failures]="failures" [data]="data"></access-user-token-info>
        </div>
        <footer class="card-footer">
          <div class="row">
            <!-- Revoke button -->
            <div class="col-sm-2 d-grid gap-2">
              <layout-waiting-button [waiting]="waiting" [disabled]="!editEnabled" name="Revoke"
              data-bs-toggle="modal"
              [attr.data-bs-target]="editEnabled ? '#revokeModal' : ''">Revoke</layout-waiting-button>
            </div>
            <!-- Extend expiration button -->
            <div class="col-sm-2 d-grid gap-2">
              <layout-waiting-button [waiting]="waiting" [disabled]="!editEnabled" name="Extend expiration"
                data-bs-toggle="modal"
                [attr.data-bs-target]="editEnabled ? '#extendExpirationModal' : ''">Extend expiration</layout-waiting-button>
            </div>
          </div>
        </footer>
      </div>
    </div>
  </div>
</layout-article>

<!-- Modal for extending expiration -->
<div id="extendExpirationModal" class="modal fade" data-bs-backdrop="static" data-bs-keyboard="false" tabindex="-1"
  aria-hidden="true">
  <div class="modal-dialog">
    <div class="modal-content">
      <div class="modal-body">
        <p>Choose new date</p>
        <form [formGroup]="extendExpirationForm" (ngSubmit)="onExtendExpiration()" class="needs-validation" novalidate>
          <input type="datetime-local" id="extendExpirationInput" class="form-control" formControlName="expirationDate">
        </form>
      </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Cancel</button>
        <button type="button" class="btn btn-secondary" (click)="onExtendExpiration()"
          data-bs-dismiss="modal">Accept</button>
      </div>
    </div>
  </div>
</div>

<!-- Modal confirmation for revoking -->
<div id="revokeModal" class="modal fade" data-bs-backdrop="static" data-bs-keyboard="false" tabindex="-1"
  aria-hidden="true">
  <div class="modal-dialog">
    <div class="modal-content">
      <div class="modal-body">
        <p>Are you sure you want to revoke the token?</p>
        <p class="text-warning"><small>This action cannot be undone.</small></p>
      </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Cancel</button>
        <button type="button" class="btn btn-danger" (click)="onRevoke()" data-bs-dismiss="modal">Revoke</button>
      </div>
    </div>
  </div>
</div>