<route-pagination-navigation [pageInfo]="pageInfo"></route-pagination-navigation>
<table class="table">
    <thead>
        <tr>
            <th scope="col">
                name
            </th>
            <th scope="col">
                surname
            </th>
        </tr>
    </thead>
    <tbody>
        <ng-template ngFor let-member [ngForOf]="members">
            <tr>
                <td><input type="checkbox" [checked]="member.active" [attr.disabled]="true" class="form-check-input">
                </td>
                <td>{{member.name}}</td>
                <td>{{member.surname}}</td>
            </tr>
        </ng-template>
    </tbody>
</table>