<div>
  <edition-form-frame [editable]="isEditable()" [saving]="saving" [formValid]="formValid" (save)="onSave()">
    <button type="button" (click)="onStartEditing()" class="btn btn-link link-dark" [disabled]="editing"
      aria-label="Edit">
      <icon-edit></icon-edit>
    </button>
    <button type="button" class="btn btn-link link-dark" aria-label="Delete" data-bs-toggle="modal"
      data-bs-target="#deleteModal">
      <icon-delete></icon-delete>
    </button>
    <edition-dynamic-form-body [fields]="fields" [failures]="failures" [data]="data" [editable]="isEditable()"
      [disabled]="isDisabled()" (save)="onSave()" (valueChange)="onFormChange($event)"
      (validChange)="onFormValidChange($event)"></edition-dynamic-form-body>
  </edition-form-frame>

  <!-- Modal confirmation for delete -->
  <div id="deleteModal" class="modal fade" data-bs-backdrop="static" data-bs-keyboard="false" tabindex="-1"
    aria-hidden="true">
    <div class="modal-dialog">
      <div class="modal-content">
        <div class="modal-body">
          <p>Are you sure you want to delete the data?</p>
          <p class="text-warning"><small>This action cannot be undone.</small></p>
        </div>
        <div class="modal-footer">
          <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Cancel</button>
          <button type="button" class="btn btn-danger" (click)="onDelete()" data-bs-dismiss="modal">Delete</button>
        </div>
      </div>
    </div>
  </div>
</div>