<form [formGroup]="form" (ngSubmit)="onSave()" class="needs-validation" novalidate>
  <!-- First name -->
  <div class="row mb-2">
    <label for="firstNameInput" id="firstNameLabel" class="col-sm-2 col-form-label">Nombre</label>
    <div class="col-sm-10">
      <div formGroupName="name">
        <input type="text" id="firstNameInput" formControlName="name.firstName" class="form-control"
          appInvalidField="name.firstName" [backendFailure]="failures.hasFailures('name.firstName')"
          aria-describedby="firstNameLabel" maxlength="50">
      </div>
      <app-input-failure-feedback [failures]="failures.getFailures('name.firstName')"></app-input-failure-feedback>
    </div>
  </div>
  <!-- Last name -->
  <div class="row mb-2">
    <label for="lastNameInput" id="lastNameLabel" class="col-sm-2 col-form-label">Apellidos</label>
    <div class="col-sm-10">
      <div formGroupName="name">
        <input type="text" id="lastNameInput" formControlName="name.lastName" class="form-control"
          appInvalidField="name.lastName" [backendFailure]="failures.hasFailures('name.lastName')"
          aria-describedby="lastNameLabel" maxlength="50">
      </div>
      <app-input-failure-feedback [failures]="failures.getFailures('name.lastName')"></app-input-failure-feedback>
    </div>
  </div>
  <!-- Save button -->
  <div class="row">
    <div class="col-sm-2 d-grid gap-2">
      <layout-waiting-button [waiting]="waiting" [disabled]="!saveEnabled" name="Save"
        (action)="onSave()">Guardar</layout-waiting-button>
    </div>
  </div>
</form>