<!-- Number -->
<div class="row mb-2">
  <div class="col" *layoutPlaceholder="waiting">
    # {{data.number}}
  </div>
</div>
<!-- Name -->
<div class="row mb-2">
  <div class="col-sm-2 text-primary">Nombre</div>
  <div class="col-sm-10" *layoutPlaceholder="waiting">
    {{data.name.fullName}}
  </div>
</div>
<!-- Identifier -->
<div class="row mb-2">
  <div id="identifierLabel" class="col-sm-2 text-primary">DNI</div>
  <div class="col-sm-10" *layoutPlaceholder="waiting">
    {{data.identifier}}
  </div>
</div>
<!-- Phone -->
<div class="row mb-2">
  <div id="phoneLabel" class="col-sm-2 text-primary">Teléfono</div>
  <div class="col-sm-10" *layoutPlaceholder="waiting">
    {{data.phone}}
  </div>
</div>