<div class="row mb-2">
  <div appJustifyBetween>
    <div>Selecciona un socio</div>
    <assoc-member-status-select [disabled]="waiting"
      (changeStatus)="changeFilter.emit($event)"></assoc-member-status-select>
  </div>
</div>
  <layout-button-list [values]="memberPage.content" [renderer]="nameRenderer" *layoutBlockUi="waiting"
    (pick)="selectMember.emit($event)"></layout-button-list>
<div JustifyCenterDirective class="mt-1">
  <pagination-navigation [disabled]="waiting" [current]="memberPage.page + 1" [pages]="memberPage.totalPages"
    (goTo)="goToPage.emit($event)">
  </pagination-navigation>
</div>