@for (setting of settings(); track setting) {
  <form (ngSubmit)="onSave(setting, $event)" novalidate>

    <div class="mb-4 flex flex-col md:flex-row md:items-center md:space-x-4">

      <!-- Input -->
      <p-floatlabel variant="in" class="w-full mb-2">
        <input pInputText type="{{ setting.type }}" step="any" id="{{ setting.code + 'Input' }}"
          formControlName="{{ setting.code }}" class="w-full" [disabled]="disabled() || !isEditing(setting.code)" />
        <label for="{{setting.code + 'Input'}}">{{ setting.code }}</label>
      </p-floatlabel>

      <!-- Validation messages -->
      <div class="w-full mb-2">
        @for (failure of failures().getFailures('description'); track failure) {
          <p-message severity="error" size="small" variant="simple">
            {{ failure.message }}
          </p-message>
        }
      </div>

      <!-- Edit button -->
      <div class="mt-2 md:mt-0">
        <p-button icon="pi pi-pencil" severity="secondary" (click)="onEdit(setting.code)"
          [disabled]="disabled() || isEditing(setting.code)" aria-label="Editar"
          [attr.aria-disabled]="disabled() || isEditing(setting.code)" rounded text class="!p-2" />
      </div>

    </div>

  </form>
}