<h2>Members</h2>
<p>Total: {{totalMembers}}</p>
<layout-waiting-wrapper [waiting]="readingMembers">
  <!-- List -->
  <table class="table table-hover">
    <thead>
      <tr>
        <!-- Headers -->
        <th scope="col">
          Name<pagination-order-button property="fullName" (directionChange)="onChangeDirection($event)"></pagination-order-button>
        </th>
        <th scope="col">
          Active<pagination-order-button property="active" (directionChange)="onChangeDirection($event)"></pagination-order-button>
        </th>
      </tr>
    </thead>
    <tbody class="table-group-divider">
      <tr *ngFor="let member of members; let rowIndex = index" [ngClass]="{ 'table-warning': member.active === false }"
        role="button" routerLink="/membership/member/{{member.number}}">
        <!-- Cells -->
        <td>
          {{member.fullName}}
        </td>
        <td>
          <ng-container [ngSwitch]="member.active">
            <ng-container *ngSwitchCase="true">
              <!-- Active -->
              <icon-success class="text-success"></icon-success>
            </ng-container>
            <ng-container *ngSwitchCase="false">
              <!-- Not active -->
              <icon-failure class="text-danger"></icon-failure>
            </ng-container>
          </ng-container>
        </td>
      </tr>
    </tbody>
  </table>
</layout-waiting-wrapper>
<div class="d-flex justify-content-center mt-1">
  <pagination-navigation [current]="currentPage" [pages]="totalPages" [disabled]="readingMembers"
    (goTo)="onGoTo($event)">
  </pagination-navigation>
</div>