<header class="pb-2 mt-4 mb-2 border-bottom">
    <h1>Transactions calendar</h1>
</header>
<div *ngIf="waiting; then waiting_cue else calendar"></div>
<ng-template #waiting_cue>
    <div class="d-flex justify-content-center">
        <span class="spinner-border spinner-border-sm mr-1"></span>
    </div>
</ng-template>
<ng-template #calendar>
    <calendar-month [date]="date" [notes]="notes" [startYear]="range.startYear" [startMonth]="range.startMonth"
        [endYear]="range.startYear" [endMonth]="range.startMonth" (dateChange)="onDateChange($event)"
        (pickDate)="onPickDate($event)"></calendar-month>
</ng-template>