<li class="nav-item dropdown">
    <a href="#" class="nav-link dropdown-toggle" id="menuDropdown" data-bs-toggle="dropdown" role="button"
        aria-haspopup="true" aria-expanded="false">
        <fa-icon [icon]="accountIcon"></fa-icon>
    </a>
    <ul class="dropdown-menu dropdown-menu-end" aria-labelledby="menuDropdown">
        <li>{{username}}</li>
        <li>
            <hr class="dropdown-divider">
        </li>
        <li>
            <a routerLink="/account/settings" class="dropdown-item" title="Settings">settings</a>
        </li>
        <li>
            <hr class="dropdown-divider">
        </li>
        <li>
            <logout-button></logout-button>
        </li>
    </ul>
</li>