<h1>fees</h1>
<!-- Tabs -->
<admin-fee-tabs [calendarActive]=true></admin-fee-tabs>
<!-- Calendar -->
<div *ngIf="loading; then loading_cue else fee_year"></div>
<div class="row">
  <ng-template #loading_cue>
    <div class="d-flex justify-content-center">
      <span class="spinner-border spinner-border-sm mr-1"></span>
    </div>
  </ng-template>
  <ng-template #fee_year>
    <div class="col-12">
      <div class="form-check">
        <input id="onlyActive" type="checkbox" [(ngModel)]="onlyActive" (change)="onFilterActiveMembers($event.target)"
          class="form-check-input">
        <label for="onlyActive" class="form-check-label">only_active</label>
      </div>
    </div>
    <div class="col-12">
      <admin-fee-calendar [data]="calendar" [range]="range" [year]="year"
        (yearChange)="onYearChange($event)"></admin-fee-calendar>
    </div>
  </ng-template>
</div>