<layout-article title="Publisher info">
  <div class="col-md-6 offset-md-3">
    <form-info-editor [editable]="editEnabled" [deletable]="deleteEnabled" [editing]="editing"
      (delete)="onDelete()" (startEditing)="onStartEditing()">
      <!-- Form -->
      <assoc-library-admin-publisher-form id="form" [waiting]="waiting" [readonly]="!formEnabled" [data]="data"
        [failures]="failures" (save)="onSave($event)">
      </assoc-library-admin-publisher-form>
      <!-- Info -->
      <assoc-library-admin-publisher-info id="info" [data]="data"></assoc-library-admin-publisher-info>
    </form-info-editor>
  </div>
</layout-article>