<layout-waiting-wrapper [waiting]="readingPermissions">
  <table class="table">
    <thead>
      <tr>
        <th scope="col"></th>
        <th scope="col">
          <pagination-route-order-button property="resource"></pagination-route-order-button>Resource
        </th>
        <th scope="col">
          <pagination-route-order-button property="action"></pagination-route-order-button>Action
        </th>
      </tr>
    </thead>
    <tbody>
      <ng-template ngFor let-privilege [ngForOf]="permissions">
        <tr>
          <td>
            <button [disabled]="!deletable" (click)="onRemovePermission(privilege)" type="button"
              class="btn btn-link link-dark" role="button" aria-label="Back">
              <icon-delete></icon-delete>
            </button>
          </td>
          <td>{{privilege.resource}}</td>
          <td>{{privilege.action}}</td>
        </tr>
      </ng-template>
    </tbody>
  </table>
  <!-- Permissions navigation -->
  <div class="d-flex justify-content-center mt-1">
    <pagination-navigation [current]="permissionsPage" [pages]="permissionsTotalPages" (goTo)="loadPermissions($event)">
    </pagination-navigation>
  </div>
</layout-waiting-wrapper>