<div id="form_controls" class="btn-group" role="group" aria-label="Data edition">
    <button id="save" (click)="onSave()" [disabled]="disabledSave" [attr.aria-disabled]="disabledSave" type="button" class="btn btn-default">
        <fa-icon [icon]="saveIcon"></fa-icon>
    </button>
    <button id="delete" (click)="onDelete()" [disabled]="disabledDelete" [attr.aria-disabled]="disabledDelete" type="button" class="btn btn-default">
        <fa-icon [icon]="deleteIcon"></fa-icon>
    </button>
</div>