<header class="pb-2 mt-4 mb-2 border-bottom">
  <h1>Edit fee</h1>
</header>

<div *ngIf="selectingMember; then member_selection else fee_edition"></div>

<ng-template #member_selection>
  <assoc-member-selection [members]="members" (selectMember)="onSelectMember($event)" [pageInfo]="membersPageInfo"
    (goToPage)="onGoToMembersPage($event)"></assoc-member-selection>
</ng-template>
<ng-template #fee_edition>
  <layout-form-controls (save)="onSave()" [disabledSave]="!isAbleToSave()"></layout-form-controls>
  <assoc-form-fee [data]="fee" [member]="member" (save)="onSave()" (selectMember)="onRequestMember()"
    (valueChange)="onFormChange($event)" (validChange)="onFormValidChange($event)"></assoc-form-fee>
</ng-template>