<layout-article title="Edit fee">
  <div *ngIf="selectingMember; then member_selection else fee_edition"></div>

  <ng-template #member_selection>
    <assoc-member-selection [members]="members" (selectMember)="onSelectMember($event)" [current]="membersPageInfo.page" [pages]="membersPageInfo.totalPages"
      (goToPage)="onGoToMembersPage($event)"></assoc-member-selection>
  </ng-template>
  <ng-template #fee_edition>
    <!-- Save button -->
    <div class="col-sm-2 d-grid gap-2">
       <button type="submit" class="btn btn-primary" (click)="onSave()" [disabled]="!isAbleToSave()" [attr.aria-disabled]="!isAbleToSave()" aria-label="Save">Save</button>
    </div>
    <assoc-form-fee [data]="fee" [member]="member" (save)="onSave()" (selectMember)="onRequestMember()"
      (valueChange)="onFormChange($event)" (validChange)="onFormValidChange($event)"></assoc-form-fee>
  </ng-template>
</layout-article>