<layout-article title="Edit fee">
  <div *ngIf="selectingMember; then member_selection else fee_form"></div>

  <!-- Fee form -->
  <ng-template #fee_form>
    <layout-form-frame [saving]="saving" [formValid]="formValid" (save)="onSave()">
      <assoc-form-fee [data]="fee" [memberId]="member.id" [memberName]="member.name" (save)="onSave()"
        (selectMember)="onRequestMember()" (valueChange)="onFormChange($event)"
        (validChange)="onFormValidChange($event)">
      </assoc-form-fee>
    </layout-form-frame>
  </ng-template>
  <!-- Member selection -->
  <ng-template #member_selection>
    <layout-waiting-wrapper [waiting]="readingMembers">
      <assoc-member-selection [members]="members" (selectMember)="onSelectMember($event)"
        [current]="membersPageInfo.page" [pages]="membersPageInfo.totalPages" (goToPage)="onGoToMembersPage($event)">
      </assoc-member-selection>
      <button type="button" class="btn btn-primary" (click)="onCancelSelectMember()" aria-label="Cancel">Cancel</button>
    </layout-waiting-wrapper>
  </ng-template>
</layout-article>