<!-- List -->
<layout-waiting-wrapper [waiting]="waiting">
  <table class="table table-hover">
    <thead>
      <tr>
        <!-- Data headers -->
        <th>Member</th>
      </tr>
    </thead>
    <tbody>
      <tr *ngFor="let member of members">
        <!-- Data cells -->
        <td>
          {{member.name}}
        </td>
      </tr>
    </tbody>
  </table>
  <div class="d-flex justify-content-center mt-1">
    <pagination-navigation [current]="page" [pages]="totalPages" (goTo)="onGoTo($event)">
    </pagination-navigation>
  </div>
</layout-waiting-wrapper>