<layout-article title="Fees">
  <!-- Filter -->
  <div class="card">
    <div class="card-body">
      <div class="row">
        <div class="col-2">
          Filters
        </div>
        <div class="col-2">
          <div class="form-check form-switch">
            <input id="onlyActive" type="checkbox" [(ngModel)]="onlyActive" [disabled]="readingCalendar"
              [attr.aria-disabled]="readingCalendar" (change)="onFilterActiveMembers($event.target)"
              class="form-check-input">
            <label for="onlyActive" class="form-check-label">Only active</label>
          </div>
        </div>
        <div class="col-2 offset-6">
          <!-- Add button -->
          <div *ngIf="createPermission" class="d-grid">
            <a routerLink="/fees/pay" type="button" class="btn btn-primary" role="button">
              <icon-add></icon-add>
            </a>
          </div>
        </div>
        <!-- Calendar -->
        <div class="col-md-6 offset-md-3">
          <div class="p-2">
            <assoc-fee-calendar [waiting]="readingCalendar" [rows]="rows" [years]="range.years" [year]="year"
              (yearChange)="onYearChange($event)"></assoc-fee-calendar>
          </div>
        </div>
      </div>
    </div>
  </div>
</layout-article>