<layout-article>
  <div class="row">
    <div class="col-md-2">
      <div class="pb-2">
        <!-- Add -->
        <div class="card">
          <div class="card-body">
            <div class="d-grid">
              <!-- Add button -->
              <button type="button" class="btn btn-primary" aria-label="register" routerLink="/fees/pay"
                [disabled]="!createPermission" [attr.aria-disabled]="!createPermission">
                Pay fee
              </button>
            </div>
          </div>
        </div>
      </div>
      <!-- Filter -->
      <div class="pb-2">
        <div class="card">
          <div class="card-body">
            <div class="row">
              <div class="col-4">
                Filters
              </div>
              <div class="col-8">
                <div class="form-check form-switch">
                  <input id="onlyActive" type="checkbox" [(ngModel)]="onlyActive"
                    (change)="onFilterActiveMembers($event.target)" class="form-check-input">
                  <label for="onlyActive" class="form-check-label">Only active</label>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
    <!-- Fee calendar -->
    <div class="col-md-10">
      <div class="card">
        <div class="card-body">
          <h2>Fees</h2>
          <assoc-fee-calendar [onlyActive]="onlyActive"></assoc-fee-calendar>
        </div>
      </div>
    </div>
  </div>
</layout-article>