<layout-article title="Users">
  <!-- Add -->
  <div class="row">
    <!-- Add button -->
    <div class="col-sm-2 d-grid gap-2">
      <a routerLink="/security/users/create" type="button" class="btn btn-link link-dark" role="button">
        <fa-icon [icon]="addIcon"></fa-icon>
      </a>
    </div>
  </div>
  <!-- List -->
  <layout-waiting-wrapper [waiting]="waiting">
    <layout-router-link-list [header]="header" [rows]="rows" route="/security/users" [totalPages]="totalPages">
    </layout-router-link-list>
  </layout-waiting-wrapper>
</layout-article>