<p-card>
  <p-table lazy="true" dataKey="number" selectionMode="single" [loading]="loading" [value]="data.content"
    [(selection)]="selectedAuthor" paginator="true" [rows]="data.size" [totalRecords]="data.totalElements"
    [first]="first" (onSort)="onChangeDirection($event)" (onPage)="onPageChange($event)" showCurrentPageReport="true"
    currentPageReportTemplate="Total: {totalRecords}" (onRowSelect)="onSelectAuthor()">
    <ng-template #header>
      <tr>
        <th pSortableColumn="name">Nombre <p-sortIcon field="name" /></th>
      </tr>
    </ng-template>
    <ng-template #body let-author>
      <tr [pSelectableRow]="author">
        <td>{{ author.name }}</td>
      </tr>
    </ng-template>
  </p-table>
  <ng-template #header>
    <!-- Add person -->
    <button type="button" class="btn btn-link" aria-label="register" routerLink="register"
      [disabled]="!createPermission" [attr.aria-disabled]="!createPermission">
      <icon-add />
    </button>
  </ng-template>
</p-card>