<layout-article title="Library Admin">
  <ul class="nav nav-tabs pb-2">
    <li class="nav-item">
      <a class="nav-link" [class.active]="view === 'books'" aria-current="page" role="button"
        (click)="onChangeView('books')">Libros</a>
    </li>
    <li class="nav-item">
      <a class="nav-link" [class.active]="view === 'authors'" aria-current="page" role="button"
        (click)="onChangeView('authors')">Autores</a>
    </li>
    <li class="nav-item">
      <a class="nav-link" [class.active]="view === 'publishers'" aria-current="page" role="button"
        (click)="onChangeView('publishers')">Editores</a>
    </li>
    <li class="nav-item">
      <a class="nav-link" [class.active]="view === 'book_types'" aria-current="page" role="button"
        (click)="onChangeView('book_types')">Tipos</a>
    </li>
    <li class="nav-item">
      <a class="nav-link" [class.active]="view === 'game_systems'" aria-current="page" role="button"
        (click)="onChangeView('game_systems')">Sistemas</a>
    </li>
    <li class="nav-item">
      <a class="nav-link" [class.active]="view === 'donors'" aria-current="page" role="button"
        (click)="onChangeView('donors')">Donantes</a>
    </li>
  </ul>
  <ng-container [ngSwitch]="view">
    <!-- Books -->
    <ng-container *ngSwitchCase="'books'">
      <div class="card">
        <div class="card-body">
          <h2>Libros</h2>
          <assoc-library-admin-book-list></assoc-library-admin-book-list>
          <div class="col-md-2 offset-md-5">
            <div class="d-grid">
              <button type="button" class="btn btn-primary" aria-label="register" routerLink="/library/admin/book/add"
                [disabled]="!createBookPermission" [attr.aria-disabled]="!createBookPermission">
                <icon-add></icon-add>
              </button>
            </div>
          </div>
        </div>
      </div>
    </ng-container>
    <!-- Authors -->
    <ng-container *ngSwitchCase="'authors'">
      <div class="card">
        <div class="card-body">
          <h2>Autores</h2>
          <assoc-library-admin-author-list></assoc-library-admin-author-list>
          <div class="col-md-2 offset-md-5">
            <div class="d-grid">
              <button type="button" class="btn btn-primary" aria-label="register" routerLink="/library/admin/author/add"
                [disabled]="!createAuthorPermission" [attr.aria-disabled]="!createAuthorPermission">
                <icon-add></icon-add>
              </button>
            </div>
          </div>
        </div>
      </div>
    </ng-container>
    <!-- Publishers -->
    <ng-container *ngSwitchCase="'publishers'">
      <div class="card">
        <div class="card-body">
          <h2>Editores</h2>
          <assoc-library-admin-publisher-list></assoc-library-admin-publisher-list>
          <div class="col-md-2 offset-md-5">
            <div class="d-grid">
              <button type="button" class="btn btn-primary" aria-label="register" routerLink="/library/admin/publisher/add"
                [disabled]="!createPublisherPermission" [attr.aria-disabled]="!createPublisherPermission">
                <icon-add></icon-add>
              </button>
            </div>
          </div>
        </div>
      </div>
    </ng-container>
    <!-- Book types -->
    <ng-container *ngSwitchCase="'book_types'">
      <div class="card">
        <div class="card-body">
          <h2>Tipos</h2>
          <assoc-library-admin-book-type-list></assoc-library-admin-book-type-list>
          <div class="col-md-2 offset-md-5">
            <div class="d-grid">
              <button type="button" class="btn btn-primary" aria-label="register" routerLink="/library/admin/bookType/add"
                [disabled]="!createBookTypePermission" [attr.aria-disabled]="!createBookTypePermission">
                <icon-add></icon-add>
              </button>
            </div>
          </div>
        </div>
      </div>
    </ng-container>
    <!-- Game systems -->
    <ng-container *ngSwitchCase="'game_systems'">
      <div class="card">
        <div class="card-body">
          <h2>Sistemas</h2>
          <assoc-library-admin-game-system-list></assoc-library-admin-game-system-list>
          <div class="col-md-2 offset-md-5">
            <div class="d-grid">
              <button type="button" class="btn btn-primary" aria-label="register" routerLink="/library/admin/gameSystem/add"
                [disabled]="!createGameSystemPermission" [attr.aria-disabled]="!createGameSystemPermission">
                <icon-add></icon-add>
              </button>
            </div>
          </div>
        </div>
      </div>
    </ng-container>
    <!-- Donors -->
    <ng-container *ngSwitchCase="'donors'">
      <div class="card">
        <div class="card-body">
          <h2>Donantes</h2>
          <assoc-library-admin-donor-list></assoc-library-admin-donor-list>
          <div class="col-md-2 offset-md-5">
            <div class="d-grid">
              <button type="button" class="btn btn-primary" aria-label="register" routerLink="/library/admin/donor/add"
                [disabled]="!createDonorPermission" [attr.aria-disabled]="!createDonorPermission">
                <icon-add></icon-add>
              </button>
            </div>
          </div>
        </div>
      </div>
    </ng-container>
  </ng-container>
</layout-article>