@if (loading()) {
  <p-skeleton height="2rem" class="mb-2" />
} @else {
  <h2># {{contact().number}}</h2>
}

<div class="p-4"> <!-- padding wrapper -->

  @if (loading()) {

    <!-- First name -->
    <div class="flex flex-wrap mb-2">
      <div class="w-full sm:w-3/12 text-blue-600">Nombre</div>
      <div class="w-full sm:w-9/12">
        <p-skeleton />
      </div>
    </div>

    <!-- Last name -->
    <div class="flex flex-wrap mb-2">
      <div class="w-full sm:w-3/12 text-blue-600">Apellidos</div>
      <div class="w-full sm:w-9/12">
        <p-skeleton />
      </div>
    </div>

    <!-- Identifier -->
    <div class="flex flex-wrap mb-2">
      <div class="w-full sm:w-3/12 text-blue-600">DNI</div>
      <div class="w-full sm:w-9/12">
        <p-skeleton />
      </div>
    </div>

    <!-- Birth date -->
    <div class="flex flex-wrap mb-2">
      <div class="w-full sm:w-3/12 text-blue-600">Fecha de nacimiento</div>
      <div class="w-full sm:w-9/12">
        <p-skeleton />
      </div>
    </div>

    <!-- Active -->
    <div class="flex flex-wrap mb-2">
      <div class="w-full sm:w-3/12 text-blue-600">Activo</div>
      <div class="w-full sm:w-9/12">
        <p-skeleton />
      </div>
    </div>

    <!-- Renewal -->
    <div class="flex flex-wrap mb-2">
      <div class="w-full sm:w-3/12 text-blue-600">Renovación</div>
      <div class="w-full sm:w-9/12">
        <p-skeleton />
      </div>
    </div>

  } @else {

    <!-- First name -->
    <div class="flex flex-wrap mb-2">
      <div class="w-full sm:w-3/12 text-blue-600">Nombre</div>
      <div class="w-full sm:w-9/12">
        {{contact().name.firstName}}
      </div>
    </div>

    <!-- Last name -->
    <div class="flex flex-wrap mb-2">
      <div class="w-full sm:w-3/12 text-blue-600">Apellidos</div>
      <div class="w-full sm:w-9/12">
        {{contact().name.lastName}}
      </div>
    </div>

    <!-- Identifier -->
    <div class="flex flex-wrap mb-2">
      <div class="w-full sm:w-3/12 text-blue-600">DNI</div>
      <div class="w-full sm:w-9/12">
        {{contact().identifier}}
      </div>
    </div>

    <!-- Birth date -->
    <div class="flex flex-wrap mb-2">
      <div class="w-full sm:w-3/12 text-blue-600">Fecha de nacimiento</div>
      <div class="w-full sm:w-9/12">
        {{contact().birthDate | date:'yyyy-MM-dd'}}
      </div>
    </div>

    <!-- Active -->
    <div class="flex flex-wrap mb-2">
      <div class="w-full sm:w-3/12 text-blue-600">Activo</div>
      <div class="w-full sm:w-9/12">
        @if (member().active) {
          <span class="pi pi-check text-green-600"></span>
        } @else {
          <span class="pi pi-times text-yellow-500"></span>
        }
      </div>
    </div>

    <!-- Renewal -->
    <div class="flex flex-wrap mb-2">
      <div class="w-full sm:w-3/12 text-blue-600">Renovación</div>
      <div class="w-full sm:w-9/12">
        @if (member().renew) {
          <span class="pi pi-check text-green-600"></span>
        } @else {
          <span class="pi pi-times text-yellow-500"></span>
        }
      </div>
    </div>

  }

</div>
