<layout-article title="Profile">
  <div class="card">
    <div class="card-body">
      <!-- Username -->
      <div class="form-group row">
        <div class="input-group">
          <label for="username" class="col-sm-2 col-form-label">username</label>
          <input id="username" class="form-control" type="text" [value]="account.username" [readonly]="true"
            aria-label="Account username">
        </div>
      </div>
      <!-- Name -->
      <div class="form-group row">
        <div class="input-group">
          <label for="name" class="col-sm-2 col-form-label">name</label>
          <input id="name" class="form-control" type="text" [value]="account.name" [readonly]="true"
            aria-label="Account name">
        </div>
      </div>
      <!-- Email -->
      <div class="form-group row">
        <div class="input-group">
          <label for="email" class="col-sm-2 col-form-label">email</label>
          <input id="email" class="form-control" type="text" [value]="account.email" [readonly]="true"
            aria-label="Account email">
        </div>
      </div>
    </div>
  </div>
</layout-article>