<app-card>
  <app-card-body>
    <!-- Status selector -->
    <div appJustifyEnd>
      <assoc-member-status-select [disabled]="readingCalendar"
        (changeStatus)="onChangeActiveFilter($event)"></assoc-member-status-select>
    </div>
    <!-- Calendar -->
    <assoc-fee-calendar [activeFilter]="activeFilter" [range]="range" [waiting]="readingCalendar" [rows]="rows"
      (goToYear)="onGoToYear($event)"></assoc-fee-calendar>
    <!-- Pay fee -->
    <div appJustifyCenter>
      <button type="button" class="btn btn-primary" aria-label="register" routerLink="pay"
        [disabled]="!createPermission" [attr.aria-disabled]="!createPermission">
        Pagar cuota
      </button>
    </div>
  </app-card-body>
</app-card>