<div class="card">
  <div class="card-body">
    <!-- Enabled -->
    <div class="row mb-2">
      <div class="col-sm-2 text-primary">Activo</div>
      <div class="col-sm-10">
        <icon-success-or-failure [success]="data.enabled"></icon-success-or-failure>
      </div>
    </div>
    <!-- Password expired -->
    <div class="row mb-2">
      <div class="col-sm-2 text-primary">Activo</div>
      <div class="col-sm-10">
        <icon-success-or-failure [success]="data.passwordExpired"></icon-success-or-failure>
      </div>
    </div>
    <!-- Locked -->
    <div class="row mb-2">
      <div class="col-sm-2 text-primary">Bloqueado</div>
      <div class="col-sm-10">
        <icon-success-or-failure [success]="data.locked"></icon-success-or-failure>
      </div>
    </div>
  </div>
</div>