<body class="min-vh-100 d-flex flex-column">
  <header>
    <layout-navbar title="{{title}}" [loggedIn]="loggedIn" [showSettings]="showSettings" [showSecurity]="showSecurity"
      [showAssociation]="showAssociation" [showAdmin]="showAdmin">
    </layout-navbar>
  </header>
  <div class="row flex-grow-1 me-0">
    <!-- Sidebar -->
    <layout-side-menu class="col-md-2 bd-highlight pe-0" [menus]="menus"></layout-side-menu>
    <!-- Main content area -->
    <main class="col-md-10 p-0">
      <app-router-breadcrumb></app-router-breadcrumb>
      <router-outlet></router-outlet>
    </main>
  </div>
</body>