<form [formGroup]="form" (ngSubmit)="onSave()" class="needs-validation" novalidate>
  <!-- Book -->
  <div class="row mb-2">
    <label for="bookInput" id="bookLabel" class="col-sm-2 col-form-label">Publisher</label>
    <div class="col-sm-9">
      <input type="text" [value]="book" id="bookInput" [readonly]="true" [disabled]="!formEnabled"
        class="form-control" aria-describedby="bookLabel">
    </div>
    <div class="col-sm-1">
      <button (click)="onShowBookSelection()" type="button" class="btn btn-link link-dark" role="button"
        aria-label="Pick book" data-bs-toggle="modal" data-bs-target="#pickModal">
        <icon-search></icon-search>
      </button>
    </div>
  </div>
  <!-- Person -->
  <div class="row mb-2">
    <label for="personInput" id="personLabel" class="col-sm-2 col-form-label">Person</label>
    <div class="col-sm-9">
      <input type="text" [value]="person" id="personInput" [readonly]="true" [disabled]="!formEnabled"
        class="form-control" aria-describedby="personLabel">
    </div>
    <div class="col-sm-1">
      <button (click)="onShowBookSelection()" type="button" class="btn btn-link link-dark" role="button"
        aria-label="Pick person" data-bs-toggle="modal" data-bs-target="#pickModal">
        <icon-search></icon-search>
      </button>
    </div>
  </div>

  <!-- Save button -->
  <div class="row">
    <div class="col-sm-2 d-grid gap-2">
      <!-- Save button -->
      <layout-waiting-button [waiting]="waiting" [disabled]="!saveEnabled" name="Save"
        (action)="onSave()">Save</layout-waiting-button>
    </div>
  </div>
</form>

<div class="modal fade" id="pickModal" tabindex="-1" aria-labelledby="pickModalLabel" aria-hidden="true">
  <div class="modal-dialog">
    <div class="modal-content">
      <div class="modal-header">
        <h1 class="modal-title fs-5" id="pickModalLabel">Modal title</h1>
        <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
      </div>
      <div class="modal-body">
        <!-- Select book -->
        <ng-template [ngIf]="selector === 'book'">
        </ng-template>
        <!-- Select person -->
        <ng-template [ngIf]="selector === 'person'">
        </ng-template>
      </div>
      <div class="modal-footer">
        <button #pickCloseButton type="button" class="btn btn-secondary" data-bs-dismiss="modal">Close</button>
      </div>
    </div>
  </div>
</div>