<form [formGroup]="form" (ngSubmit)="onSave()" novalidate>

  <div class="grid grid-cols-1 md:grid-cols-2 gap-4 mt-6 place-items-center pb-4">
    <!-- Member -->
    <div>
      <ui-detail-field [loading]="loading()" icon="pi pi-user" name="Socio" [value]="fee.member.name.fullName" />
    </div>

    @if (fee.paid) {  
      <div class="flex items-center gap-3">
        <div class="w-8 h-8 rounded-full border-2 border-green-600 flex items-center justify-center">
          <span class="pi pi-check text-green-600 text-sm"></span>
        </div>

        <div class="flex flex-col">
          <span class="font-medium leading-tight">Pagado</span>
        </div>
      </div>
    }@else {
      <div class="flex items-center gap-3">
        <div class="w-8 h-8 rounded-full border-2 border-red-600 flex items-center justify-center">
          <span class="pi pi-times text-red-600 text-sm"></span>
        </div>

        <div class="flex flex-col">
          <span class="font-medium leading-tight">Sin pagar</span>
        </div>
      </div>
    }
  </div>
  
  <!-- Month -->
  <p-inputgroup class="mb-2">
    <p-inputgroup-addon><i class="pi pi-calendar"></i></p-inputgroup-addon>

    <p-datepicker id="monthInput" formControlName="month" [invalid]="isFieldInvalid('month')"
      view="month" dateFormat="yy-mm" appendTo="body" placeholder="Mes" (onSelect)="onMonthSelect($event)"></p-datepicker>
  </p-inputgroup>
  <div class="mb-2">
    @for (failure of failures().getFailures('month'); track failure) {
      <p-message severity="error" size="small" variant="simple">
        {{failure.message}}
      </p-message>
    }
  </div>
  
  <!-- Payment date -->
  <div formGroupName="transaction">
    <p-inputgroup class="mb-2">
      <p-inputgroup-addon><i class="pi pi-euro"></i></p-inputgroup-addon>

      <p-datepicker id="transaction.dateInput" formControlName="date" [maxDate]="today" [invalid]="isFieldInvalid('transaction.date')"
        dateFormat="yy-mm-dd" appendTo="body" [maxDate]="today" placeholder="Pago"></p-datepicker>
    </p-inputgroup>
  </div>
  <div class="mb-2">
    @for (failure of failures().getFailures('transaction.date'); track failure) {
      <p-message severity="error" size="small" variant="simple">
        {{failure.message}}
      </p-message>
    }
  </div>
  <p-button type="submit" name="Guardar" [disabled]="!formStatus.saveEnabled" [loading]="loading()"
    [attr.aria-disabled]="!formStatus.saveEnabled">Guardar</p-button>
</form>