<!-- Controls -->
<div class="row text-center">
  <div class="col-4">
    <button *ngIf="isAbleToGoPrevious()" id="previousYearButton" type="button" class="page-link"
      (click)="onGoPrevious()" [class.disabled]="!isAbleToGoPrevious()" [disabled]="!isAbleToGoPrevious()"
      [attr.aria-disabled]="!isAbleToGoPrevious()" aria-label="Previous page">
      <icon-backward></icon-backward>
    </button>
  </div>
  <div class="col-4">
    {{year}}
  </div>
  <div class="col-4 ">
    <button *ngIf="isAbleToGoNext()" id="nextYearButton" type="button" class="page-link" (click)="onGoNext()"
      [class.disabled]="!isAbleToGoNext()" [disabled]="!isAbleToGoNext()" [attr.aria-disabled]="!isAbleToGoNext()"
      aria-label="Previous page">
      <icon-forward></icon-forward>
    </button>
  </div>
</div>
<!-- Data -->
<table class="table table-hover">
  <thead class="thead-light">
    <tr>
      <th scope="col">Member</th>
      <th scope="col">1</th>
      <th scope="col">2</th>
      <th scope="col">3</th>
      <th scope="col">4</th>
      <th scope="col">5</th>
      <th scope="col">6</th>
      <th scope="col">7</th>
      <th scope="col">8</th>
      <th scope="col">9</th>
      <th scope="col">10</th>
      <th scope="col">11</th>
      <th scope="col">12</th>
    </tr>
  </thead>
  <tbody>
    <ng-template ngFor let-row [ngForOf]="rows">
      <tr>
        <td>
          <div [ngSwitch]="row.active">
            <div *ngSwitchCase="true">
              {{row.name}} {{row.surname}}
            </div>
            <div *ngSwitchCase="false">
              <div class="text-decoration-line-through">{{row.name}} {{row.surname}}</div>
            </div>
          </div>
        </td>
        <ng-template ngFor let-column [ngForOf]="row.months">
          <td>
            <ng-template [ngIf]="column !== undefined">
              <div [ngSwitch]="column">
                <div *ngSwitchCase="true">
                  <fa-icon class="text-success" [icon]="activeIcon"></fa-icon>
                </div>
                <div *ngSwitchCase="false">
                  <fa-icon class="text-danger" [icon]="inactiveIcon"></fa-icon>
                </div>
              </div>
            </ng-template>
          </td>
        </ng-template>
      </tr>
    </ng-template>
  </tbody>
</table>