<!-- Controls -->
<div class="row text-center">
  <!-- To previous year button -->
  <div class="col-2 offset-md-5 d-flex align-items-center">
    <button *ngIf="isAbleToGoPrevious()" id="previousYearButton" type="button" class="page-link"
      (click)="onGoPrevious()" [class.disabled]="!isAbleToGoPrevious()" [disabled]="!isAbleToGoPrevious()"
      [attr.aria-disabled]="!isAbleToGoPrevious()" aria-label="Previous year">
      <icon-backward></icon-backward>
    </button>
    <!-- Current year -->
    <div class="dropdown px-2">
      <button class="btn btn-secondary dropdown-toggle" type="button" data-bs-toggle="dropdown" aria-expanded="false">
        {{year}}
      </button>
      <ul class="dropdown-menu">
        <li *ngFor="let selectionYear of years"><button class="dropdown-item"
            (click)="onGoTo(selectionYear)">{{selectionYear}}</button></li>
      </ul>
    </div>
    <!-- To next year button -->
    <button *ngIf="isAbleToGoNext()" id="nextYearButton" type="button" class="page-link" (click)="onGoNext()"
      [class.disabled]="!isAbleToGoNext()" [disabled]="!isAbleToGoNext()" [attr.aria-disabled]="!isAbleToGoNext()"
      aria-label="Next year">
      <icon-forward></icon-forward>
    </button>
  </div>
</div>
<!-- Table -->
<table class="table table-hover">
  <thead class="thead-light">
    <tr>
      <th scope="col">Member</th>
      <th scope="col">1</th>
      <th scope="col">2</th>
      <th scope="col">3</th>
      <th scope="col">4</th>
      <th scope="col">5</th>
      <th scope="col">6</th>
      <th scope="col">7</th>
      <th scope="col">8</th>
      <th scope="col">9</th>
      <th scope="col">10</th>
      <th scope="col">11</th>
      <th scope="col">12</th>
    </tr>
  </thead>
  <tbody>
    <ng-template ngFor let-row [ngForOf]="rows">
      <tr [ngClass]="{ 'table-warning': row.active === false }">
        <td>
          {{row.name}}
        </td>
        <!-- Month fees -->
        <ng-template ngFor let-column [ngForOf]="row.months">
          <td>
            <ng-container [ngSwitch]="column">
              <ng-container *ngSwitchCase="true">
                <!-- Paid month -->
                <icon-success class="text-success"></icon-success>
              </ng-container>
              <ng-container *ngSwitchCase="false">
                <!-- Not paid month -->
                <icon-failure class="text-danger"></icon-failure>
              </ng-container>
            </ng-container>
          </td>
        </ng-template>
      </tr>
    </ng-template>
  </tbody>
</table>