<layout-article title="Fees calendar">
  <!-- Calendar -->
  <div *ngIf="waiting; then waiting_cue else fee_year"></div>
  <div class="row">
    <ng-template #waiting_cue>
      <div class="d-flex justify-content-center">
        <span class="spinner-border spinner-border-sm mr-1"></span>
      </div>
    </ng-template>
    <ng-template #fee_year>
      <div class="col-12">
        <div class="form-check">
          <input id="onlyActive" type="checkbox" [(ngModel)]="onlyActive"
            (change)="onFilterActiveMembers($event.target)" class="form-check-input">
          <label for="onlyActive" class="form-check-label">only_active</label>
        </div>
      </div>
      <div class="col-12">
        <assoc-fee-calendar [rows]="rows" [start]="range.start" [end]="range.end" [year]="year"
          (yearChange)="onYearChange($event)"></assoc-fee-calendar>
      </div>
    </ng-template>
  </div>
</layout-article>