<!-- List -->
<table class="table table-hover">
  <thead>
    <tr>
      <!-- Headers -->
      <th scope="col">
        Usuario <sorting-button property="username" (directionChange)="changeDirection.emit($event)"></sorting-button>
      </th>
      <th scope="col">
        Fecha <sorting-button property="date" (directionChange)="changeDirection.emit($event)"></sorting-button>
      </th>
      <th scope="col">
        Login <sorting-button property="loggedIn" (directionChange)="changeDirection.emit($event)"></sorting-button>
      </th>
    </tr>
  </thead>
  <tbody class="table-group-divider">
    <tr *ngFor="let user of page.content; let rowIndex = index">
      <!-- Cells -->
      <td>
        {{user.username}}
      </td>
      <td>
        {{user.date}}
      </td>
      <td>
        <ng-container [ngSwitch]="user.loggedIn">
          <ng-container *ngSwitchCase="true">
            <!-- Active -->
            <icon-success class="text-success"></icon-success>
          </ng-container>
          <ng-container *ngSwitchCase="false">
            <!-- Not active -->
            <icon-failure class="text-danger"></icon-failure>
          </ng-container>
        </ng-container>
      </td>
    </tr>
  </tbody>
</table>