<div class="row mb-2">
  <!-- Select member button -->
  <div class="col-sm-1">
    <button type="button" class="btn" aria-label="Search" [disabled]="saving" (click)="onRequestMember()">
      <fa-icon [icon]="searchIcon"></fa-icon>
    </button>
  </div>
  <!-- Selected member -->
  <div class="col-sm-1">
    <label for="memberInput" id="memberLabel" class="col-sm-2 col-form-label">Member</label>
  </div>
  <div class="col-sm-10">
    <input type="text" id="memberInput" [value]="getName()" readonly class="form-control"
      [ngClass]="{ 'is-invalid': isMissingMember() }" aria-describedby="memberLabel">
  </div>
</div>