<layout-article title="Edit user">
  <div class="col-md-6 offset-md-3">
    <!-- User -->
    <div class="mb-1">
      <layout-edition-wrapper [editable]="editEnabled" [deletable]="deleteEnabled" [editing]="editing"
        (delete)="onDelete()" (startEditing)="onStartEditing()">
        <!-- Form -->
        <access-user-form id="form" [waiting]="waiting" [readonly]="!formEnabled" [data]="data" [failures]="failures"
          [cancellable]="true" (save)="onSave($event)" (cancel)="onCancel()">
        </access-user-form>
        <!-- Info -->
        <access-user-info id="info" [data]="data"></access-user-info>
      </layout-edition-wrapper>
    </div>
    <div class="mb-1">
      <div class="card">
        <div class="card-body">
          <div class="row">
            <!-- Enable button -->
            <ng-template [ngIf]="!data.enabled">
              <div class="col-sm-2 d-grid gap-2">
                <layout-waiting-button [waiting]="waiting" [disabled]="!editEnabled" name="Enable"
                  data-bs-toggle="modal"
                  [attr.data-bs-target]="editEnabled ? '#enableModal' : ''"></layout-waiting-button>
              </div>
            </ng-template>
            <ng-template [ngIf]="data.enabled">
              <!-- Disable button -->
              <div class="col-sm-2 d-grid gap-2">
                <layout-waiting-button [waiting]="waiting" [disabled]="!editEnabled" name="Disable"
                  data-bs-toggle="modal"
                  [attr.data-bs-target]="editEnabled ? '#disableModal' : ''"></layout-waiting-button>
              </div>
            </ng-template>
          </div>
        </div>
      </div>
    </div>
    <article class="p-4">
      <header>
        <h2 class="border-bottom">Roles</h2>
      </header>
      <!-- Roles -->
      <div class="mb-1">
        <div class="card">
          <div class="card-body">
            <ng-container [ngSwitch]="view">
              <!-- List -->
              <ng-container *ngSwitchCase="'list'">
                <access-user-roles [roles]="data.roles" [editable]="editEnabled" [deletable]="deleteEnabled"
                  [waiting]="waiting" (remove)="onRemoveRole($event)">
                </access-user-roles>
                <div class="d-grid">
                  <!-- Add button -->
                  <button type="button" class="btn btn-primary" aria-label="Add role" (click)="onShowAddRole()">
                    Add
                  </button>
                </div>
              </ng-container>
              <!-- Add -->
              <ng-container *ngSwitchCase="'add'">
                <access-user-add-role [user]="data.username" (addRole)="onAddRole($event)"></access-user-add-role>
                <div class="d-grid">
                  <!-- Cancel button -->
                  <button type="button" class="btn btn-primary" aria-label="Add role" (click)="onCancelAddRole()">
                    Cancel
                  </button>
                </div>
              </ng-container>
            </ng-container>
          </div>
        </div>
      </div>
    </article>
  </div>
</layout-article>

<!-- Modal confirmation for disabling -->
<div id="disableModal" class="modal fade" data-bs-backdrop="static" data-bs-keyboard="false" tabindex="-1"
  aria-hidden="true">
  <div class="modal-dialog">
    <div class="modal-content">
      <div class="modal-body">
        <p>Are you sure you want to disable the user?</p>
      </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Cancel</button>
        <button type="button" class="btn btn-danger" (click)="onDisable()" data-bs-dismiss="modal">Disable</button>
      </div>
    </div>
  </div>
</div>

<!-- Modal confirmation for enabling -->
<div id="enableModal" class="modal fade" data-bs-backdrop="static" data-bs-keyboard="false" tabindex="-1"
  aria-hidden="true">
  <div class="modal-dialog">
    <div class="modal-content">
      <div class="modal-body">
        <p>Are you sure you want to enable the user?</p>
      </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Cancel</button>
        <button type="button" class="btn btn-danger" (click)="onEnable()" data-bs-dismiss="modal">Enable</button>
      </div>
    </div>
  </div>
</div>