<layout-article title="Registro de libro">
  <div appResponsiveShortColumns>
    <div class="card">
      <div class="card-body">
        <!-- Form -->
        <assoc-library-admin-book-form [waiting]="saving" [failures]="failures" [languages]="languages"
          [bookTypePage]="bookTypePage" [gameSystemPage]="gameSystemPage" [authorPage]="authorPage"
          [publisherPage]="publisherPage" [donorPage]="donorPage" (save)="onSave($event)"
          (goToBookTypePage)="onGoToBookTypePage($event)" (goToGameSystemPage)="onGoToGameSystemPage($event)"
          (goToAuthorPage)="onGoToAuthorPage($event)" (goToPublisherPage)="onGoToPublisherPage($event)">
        </assoc-library-admin-book-form>
      </div>
    </div>
  </div>
</layout-article>