<layout-article title="Registro de libro">
  <div appResponsiveShortColumns>
    <app-card>
      <app-card-body>
        <!-- Form -->
        <assoc-library-admin-book-form [waiting]="saving" [failures]="failures" [languages]="languages"
          [bookTypePage]="bookTypePage" [gameSystemPage]="gameSystemPage" [authorPage]="authorPage"
          [publisherPage]="publisherPage" [donorPage]="donorPage" (save)="onSave($event)"
          (goToBookTypePage)="onGoToBookTypePage($event)" (goToGameSystemPage)="onGoToGameSystemPage($event)"
          (goToAuthorPage)="onGoToAuthorPage($event)" (goToPublisherPage)="onGoToPublisherPage($event)"
          (goToDonorPage)="onGoToDonorPage($event)">
        </assoc-library-admin-book-form>
      </app-card-body>
    </app-card>
  </div>
</layout-article>