<form [formGroup]="form" (ngSubmit)="onSave()">
  <!-- Old password -->
  <div class="row mb-2">
    <p-floatlabel variant="in" class="mb-2 d-flex">
      <input pInputText type="text" id="oldPasswordInput" formControlName="oldPassword"
        [invalid]="isFieldInvalid('oldPassword')" class="w-100" />
      <label for="oldPasswordInput">Contraseña actual</label>
    </p-floatlabel>
    <div class="mb-2">
      @for (failure of failures().getFailures('oldPassword'); track failure) {
        <p-message severity="error" size="small" variant="simple">
          {{failure.message}}
        </p-message>
      }
    </div>
  </div>
  <!-- Original password -->
  <div class="row mb-2">
    <p-floatlabel variant="in" class="mb-2 d-flex">
      <input pInputText type="text" id="newPasswordInput" formControlName="newPassword"
        [invalid]="isFieldInvalid('newPassword')" class="w-100" />
      <label for="newPasswordInput">Contraseña nueva</label>
    </p-floatlabel>
    <div class="mb-2">
      @for (failure of failures().getFailures('newPassword'); track failure) {
        <p-message severity="error" size="small" variant="simple">
          {{failure.message}}
        </p-message>
      }
    </div>
  </div>
  <!-- Repeat password -->
  <div class="row mb-2">
    <p-floatlabel variant="in" class="mb-2 d-flex">
      <input pInputText type="text" id="passwordRepeatInput" formControlName="passwordRepeat"
        [invalid]="isFieldInvalid('passwordRepeat')" class="w-100" />
      <label for="passwordRepeatInput">Contraseña nueva</label>
    </p-floatlabel>
    <div class="mb-2">
      @for (failure of failures().getFailures('passwordRepeat'); track failure) {
        <p-message severity="error" size="small" variant="simple">
          {{failure.message}}
        </p-message>
      }
    </div>
  </div>
  <!-- Save button -->
  <div class="row">
    <div class="col-sm-2 d-grid gap-2">
      <p-button type="submit" severity="secondary" name="Cambiar clave" [disabled]="!saveEnabled"
        [attr.aria-disabled]="!saveEnabled">Cambiar clave</p-button>
    </div>
  </div>
</form>