<app-card>
  <app-card-header>
    <h2 *layoutPlaceholder="waiting"># {{data.number}}</h2>
  </app-card-header>
  <!-- Member details -->
  <app-card-body>
    <!-- First name -->
    <div class="row">
      <div class="col-sm-3 text-primary">Nombre</div>
      <div class="col-sm-9" *layoutPlaceholder="waiting">
        {{data.name.firstName}}
      </div>
    </div>
    <!-- Last name -->
    <div class="row">
      <div class="col-sm-3 text-primary">Apellidos</div>
      <div class="col-sm-9" *layoutPlaceholder="waiting">
        {{data.name.lastName}}
      </div>
    </div>
  </app-card-body>
</app-card>