<layout-article title="Actividades">
  <div class="col-md-12 pb-2">
    Todas nuestras actividades se anuncian en <a href="https://www.instagram.com/arucronia">Instagram</a> y <a
      href="https://t.me/ucroniarol">Telegram</a>, siguenos para
    estar al tanto.
  </div>
  <div class="col-md-12 pb-2">
    Además tenemos nuestro calendario, que vamos actualizando según se organizan partidas y otros eventos:
    <app-public-activity-calendar-widget></app-public-activity-calendar-widget>
  </div>
  <div>
  </div>
  <div class="col-md-12 pb-2">
    <h2>Colaboraciones</h2>
    También se nos puede ver en las colaboraciones periodicas quer realizamos con otras organizaciones, dirigiendo partidas de rol en sus festivales y convenciones:
    <ul>
      <li>Metropoli</li>
      <li>CometCon</li>
      <li>Salón del manga de Avilés</li>
      <li>Celcius</li>
    </ul>
    <h3>Historial de colaboraciones</h3>
    <h4>2023</h4>
    <ul>
      <li>Metropoli</li>
      <li>CometCon</li>
    </ul>
    <h4>2024</h4>
    <ul>
      <li>Salón del manga de Avilés</li>
      <li>Metropoli</li>
      <li>Celcius</li>
      <li>CometCon</li>
    </ul>
  </div>
</layout-article>