<div class="row">
  <h1>transactions</h1>
</div>
<admin-transaction-tabs [listActive]=true></admin-transaction-tabs>
<!-- Filter -->
<div>
  <div class="accordion" id="filterAccordion">
    <div class="accordion-item">
      <h2 class="accordion-header" id="headingTwo">
        <button class="accordion-button collapsed" type="button" data-bs-toggle="collapse" data-bs-target="#collapseTwo" aria-expanded="false" aria-controls="collapseTwo">
          Filter
        </button>
      </h2>
      <div id="collapseTwo" class="accordion-collapse collapse" aria-labelledby="headingTwo" data-bs-parent="#accordionExample">
        <div class="row mb-2">
          <label for="startDateInput" id="startDateLabel" class="col-sm-2 col-form-label">startDate</label>
          <div class="col-sm-10">
            <input type="date" id="startDateInput" [(ngModel)]="startDate" (change)="reload()"
              aria-describedby="startDateLabel" class="form-control">
          </div>
        </div>
        <div class="row mb-2">
          <label for="endDateInput" id="endDateLabel" class="col-sm-2 col-form-label">endDate</label>
          <div class="col-sm-10">
            <input type="date" id="endDateInput" [(ngModel)]="endDate" (change)="reload()"
              aria-describedby="endDateLabel" class="form-control">
          </div>
        </div>
        <div class="row mb-2">
          <label for="dateInput" id="dateLabel" class="col-sm-2 col-form-label">date</label>
          <div class="col-sm-10">
            <input type="date" id="dateInput" [(ngModel)]="date" (change)="reload()"
              aria-describedby="dateLabel" class="form-control">
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
<layout-data-list createRoute="/transactions/create" [loading]="loading" [pageInfo]="pageInfo" (delete)="onDelete()">
  <table class="table">
    <thead>
      <tr>
        <th scope="col">
          <order-button property="description" [disabled]="isLoading()"></order-button>description
        </th>
        <th scope="col">
          <order-button property="date" [disabled]="isLoading()"></order-button>pay date
        </th>
        <th scope="col">
          <order-button property="amount" [disabled]="isLoading()"></order-button>amount
        </th>
        <th scope="col"></th>
      </tr>
    </thead>
    <tbody>
      <div *ngIf="isLoading(); then loading_cue else data_list"></div>
      <ng-template #loading_cue>
        <div class="d-flex justify-content-center">
          <span class="spinner-border spinner-border-sm mr-1"></span>
        </div>
      </ng-template>
      <ng-template #data_list>
        <ng-template ngFor let-transaction [ngForOf]="transactions">
          <tr>
            <td>{{transaction.description}}</td>
            <td>{{transaction.date | date:'shortDate'}}</td>
            <td>{{transaction.amount}}</td>
            <td>
              <button-link-edit link="/transactions/{{transaction.id}}"></button-link-edit>
              <button-delete (click)="select(transaction)" data-bs-toggle="modal"
                data-bs-target="#deleteModal"></button-delete>
            </td>
          </tr>
        </ng-template>
      </ng-template>
    </tbody>
  </table>
</layout-data-list>