<!-- Controls -->
<div class="d-flex justify-content-center pb-2">
  <button *ngIf="isAbleToGoPrevious()" class="page-link" id="previousMonthButton" (click)="onGoPrevious()"
    [disabled]="!isAbleToGoPrevious()" [attr.aria-disabled]="!isAbleToGoPrevious()">
    <icon-backward></icon-backward>
  </button>
  <h2 class="px-5">{{ year }} {{ monthName }}</h2>
  <button *ngIf="isAbleToGoNext()" class="page-link" id="nextMonthButton" (click)="onGoNext()"
    [disabled]="!isAbleToGoNext()" [attr.aria-disabled]="!isAbleToGoNext()">
    <icon-forward></icon-forward>
  </button>
</div>
<!-- Table -->
<layout-waiting-wrapper [waiting]="waiting">
  <mwl-calendar-month-view [viewDate]="viewDate" [events]="events" [activeDayIsOpen]="activeDayIsOpen"
    (beforeViewRender)="beforeMonthViewRender($event)" (dayClicked)="onPickDate($event.day)"
    (eventClicked)="onSelectEvent($event)">
  </mwl-calendar-month-view>
</layout-waiting-wrapper>