<form [formGroup]="form" (ngSubmit)="onLogin()" novalidate>
  <!-- Login failed warning -->
  <div *ngIf="failedLogin" id="loginFailedWarning" class="p-error p-text-center">
    Usuario inválido
  </div>

  <!-- Username -->
  <p-floatlabel variant="in" class="mb-2 d-flex">
    <input pInputText type="text" id="usernameInput" formControlName="username" class="w-100" />
    <label for="usernameInput">Usuario/email</label>
  </p-floatlabel>

  <!-- Password -->
  <p-floatlabel variant="in" class="mb-2 d-flex">
    <input pInputText type="password" id="passwordInput" formControlName="password" class="w-100" />
    <label for="passwordInput">Contraseña</label>
  </p-floatlabel>

  <!-- Remember me check -->
  <div class="row">
    <div class="col-md-4">
      <div class="p-field-checkbox mb-3 text-center">
        <div class="row">
          <div class="col-md-2">
            <p-toggleswitch inputId="rememberMe" [disabled]="!rememberMeEnabled"
              (onChange)="onRememberMe($event)"></p-toggleswitch>
          </div>
          <div class="col-md-10">
            Mantener sesión
          </div>
        </div>
      </div>
    </div>
    <div class="col-md-4 offset-md-4">
      <p-button label="¿Perdiste la clave?" link id="lostPassword" (click)="lostPassword.emit()" />
    </div>
  </div>

  <!-- Submit button -->
  <div class="d-flex">
    <button pButton severity="secondary" type="submit" label="Login" [uiWaiting]="waiting" [disabled]="!loginEnabled"
      class="w-100"></button>
  </div>
</form>