<form [formGroup]="form" (ngSubmit)="onLogin()" class="needs-validation" novalidate>
  <!-- Login failed warning -->
  <div *ngIf="failedLogin" id="loginFailedWarning" class="text-danger text-center">Usuario inválido</div>
  <!-- Username -->
  <div class="mb-2">
    <input placeholder="Usuario/email" type="text" id="usernameInput" formControlName="username" class="form-control"
      appInvalidField="name.firstName" />
  </div>
  <!-- Password -->
  <div class="mb-2">
    <input placeholder="Contraseña" type="password" id="passwordInput" formControlName="password" class="form-control"
      appInvalidField="password" />
  </div>
  <!-- Remember me check -->
  <div class="row mb-2">
    <div JustifyCenterDirective>
      <div class="form-check form-switch mb-3 mb-md-0">
        <input id="rememberMe" type="checkbox" (change)="onRememberMe($event.target)" class="form-check-input"
          [disabled]="!isRememberMeEnabled()" [attr.aria-disabled]="!isRememberMeEnabled()">
        <label for="rememberMe" class="form-check-label">Mantener sesión</label>
      </div>
    </div>
  </div>
  <!-- Submit button -->
  <div class="d-grid gap-2">
    <layout-waiting-button type="submit" name="Login" [waiting]="waiting"
      [disabled]="!isLoginEnabled()">Login</layout-waiting-button>
  </div>
</form>