<nav id="navbar-main" class="navbar navbar-expand-md navbar-dark sticky-top bg-primary flex-md-nowrap p-0">
  <div class="container-fluid">
    <a class="navbar-brand" routerLink="/">{{title}}</a>
    <div class="ms-auto">
      <div class="collapse navbar-collapse" id="navbar-main-menu">
        <ul class="nav navbar-nav" *ngFor="let menu of menus">
          <li class="nav-item dropdown">
            <a href="#" class="nav-link dropdown-toggle" [id]="menu.title + 'Dropdown'" data-bs-toggle="dropdown"
              aria-haspopup="true" aria-expanded="false">{{menu.title}}</a>
            <ul class="dropdown-menu dropdown-menu-end" [attr.aria-labelledby]="menu.title + 'Dropdown'">
              <li *ngFor="let link of menu.links">
                <a routerLink="{{link.path}}" class="dropdown-item" title="{{link.title}}"
                  [attr.aria-labelledby]="link.title">{{link.title}}</a>
              </li>
            </ul>
          </li>
        </ul>
        <ul class="nav navbar-nav">
          <ng-template [ngIf]="loggedIn">
            <!-- Account menu -->
            <layout-account-dropdown></layout-account-dropdown>
          </ng-template>
        </ul>
      </div>
    </div>
  </div>
</nav>