<layout-article title="Edit user token">
  <div class="col-md-6 offset-md-3">
    <!-- Role -->
    <div class="mb-1">
      <!-- Info -->
      <div class="card">
        <div class="card-body">
          <access-user-token-info id="info" [data]="data"></access-user-token-info>
        </div>
        <footer class="card-footer">
          <div class="row">
            <!-- Buttons -->
            <div class="col-sm-2 d-grid gap-2">
              <layout-waiting-button [waiting]="isWaiting()" [disabled]="!isAbleToEdit()" name="Revoke"
                (action)="onRevoke()"></layout-waiting-button>
            </div>
            <div class="col-sm-2 d-grid gap-2">
              <layout-waiting-button [waiting]="isWaiting()" [disabled]="!isAbleToEdit()"
                name="Extend expiration"></layout-waiting-button>
            </div>
          </div>
        </footer>
      </div>
    </div>
  </div>
</layout-article>