<layout-article>
  <div class="d-grid gap-2">
    <div class="card">
      <div class="card-body">
        <h5 class="card-title">Activities</h5>
        <layout-waiting-wrapper [waiting]="readingCalendarId">
          <app-teamup-calendar [id]="calendarId" [showSearch]="true" [showViewSelector]="true" [showSidePanel]="true"
            [showViewSelector]="true" [showMenu]="false" [showAgendaHeader]="true" [showYearViewHeader]="true"
            [disableSidePanel]="true" [showProfile]="false"></app-teamup-calendar>
        </layout-waiting-wrapper>
      </div>
    </div>
  </div>
</layout-article>