<!-- Controls -->
<div uiJustifyCenter class="pb-2">
  <!-- To previous year button -->
  <p-button id="previousYearButton" icon="pi pi-caret-left" (click)="onGoPrevious()" [disabled]="!canGoPrevious"
    [attr.aria-disabled]="!canGoPrevious" aria-label="Previous year" rounded text />
  <!-- Current year -->
  <p-select [(ngModel)]="year" [disabled]="selectionDisabled" [options]="years" (onChange)="onGoTo($event)" />
  <!-- To next year button -->
  <p-button id="nextYearButton" icon="pi pi-caret-right" (click)="onGoNext()" [disabled]="!canGoNext"
    [attr.aria-disabled]="!canGoNext" aria-label="Previous year" rounded text />
</div>
<!-- Table -->
<p-table [loading]="loading()" [value]="feeCalendar()">
  <ng-template #header>
    <tr>
      <th>Socio</th>
      @for (monthName of monthNames; track monthName) {
        <th> {{monthName}}</th>
      }
    </tr>
  </ng-template>
  <ng-template #body let-memberFees>
    <tr [ngClass]="{ 'table-warning': !memberFees.member.active}">
      <td>
        {{memberFees.member.name.fullName}}
      </td>
      <!-- Month fees -->
      @for (monthNumber of monthNumbers; track monthNumber) {
        <td>
          @if (hasMonth(memberFees.months, monthNumber)) {
            @if(isPaid(memberFees.months, monthNumber)) {
              <p-button icon="pi pi-check text-success" (click)="onSelectFee(memberFees.member.number, memberFees.months, monthNumber)" rounded text />
            } @else {
              <p-button icon="pi pi-times text-danger" (click)="onSelectFee(memberFees.member.number, memberFees.months, monthNumber)" rounded text />
            }
          }
        </td>
      }
    </tr>
  </ng-template>
</p-table>