<layout-article title="Member info">
  <div class="col-md-6 offset-md-3">
    <layout-info-editor-wrapper [editable]="editEnabled" [deletable]="deleteEnabled" [editing]="editing"
      (delete)="onDelete()" (startEditing)="onStartEditing()">
      <!-- Form -->
      <assoc-member-form id="form" [waiting]="waiting" [readonly]="!formEnabled" [data]="data"
        [failures]="failures" [cancellable]="true" (save)="onSave($event)" (cancel)="onCancel()">
      </assoc-member-form>
      <!-- Info -->
      <assoc-member-info id="info" [data]="data"></assoc-member-info>
    </layout-info-editor-wrapper>
  </div>
</layout-article>