<layout-article title="Edit member">
  <div class="col-md-6 offset-md-3">
    <layout-edition-wrapper [editable]="editEnabled" [deletable]="deleteEnabled" [editing]="editing"
      (delete)="onDelete()" (startEditing)="onStartEditing()">
      <!-- Form -->
      <assoc-member-form id="form" [waiting]="waiting" [readonly]="!formEnabled" [data]="data"
        [failures]="failures" (save)="onSave($event)">
      </assoc-member-form>
      <!-- Info -->
      <assoc-member-info id="info" [data]="data"></assoc-member-info>
    </layout-edition-wrapper>
  </div>
</layout-article>
<layout-article title="Edit member">
  <div class="col-md-6 offset-md-3">
    <layout-edition-wrapper [editable]="editEnabled" [deletable]="deleteEnabled" [editing]="editing"
      (delete)="onDelete()" (startEditing)="onStartEditing()">
      <!-- Form -->
      <assoc-member-form id="form" [waiting]="waiting" [readonly]="!formEnabled" [data]="data"
        [failures]="failures" (save)="onSave($event)">
      </assoc-member-form>
      <!-- Info -->
      <assoc-member-info id="info" [data]="data"></assoc-member-info>
    </layout-edition-wrapper>
  </div>
</layout-article>