<ng-container [ngSwitch]="status">
  <ng-container *ngSwitchCase="'valid_token'">
    <div class="card">
      <div class="card-body">
        <h5 class="card-title">Password reset</h5>
        <layout-waiting-wrapper [waiting]="validating">
          <login-password-reset-form [failures]="failures" [waiting]="reseting"
            (save)="onPasswordReset($event)"></login-password-reset-form>
        </layout-waiting-wrapper>
      </div>
    </div>
  </ng-container>
  <ng-container *ngSwitchCase="'invalid_token'">
    Invalid token
  </ng-container>
  <ng-container *ngSwitchCase="'finished'">
    Changed password
  </ng-container>
</ng-container>