<div class="card">
    <div class="card-body">
        <button id="save" (click)="onSave()" [disabled]="!isAbleToSave()" [attr.aria-disabled]="!isAbleToSave()"
            type="button" class="btn btn-link link-dark">
            <icon-save></icon-save>
        </button>
        <div *ngIf="waiting; then waiting_cue else form"></div>
        <ng-template #waiting_cue>
            <div class="d-flex justify-content-center">
                <icon-waiting></icon-waiting>
            </div>
        </ng-template>
        <ng-template #form>
            <ng-content></ng-content>
        </ng-template>
    </div>
</div>