<p-card>
  <ng-template #header>
    <!-- Tabs -->
    <ui-card-navigation [tabs]="tabs" (pickTab)="onChangeView($event)"></ui-card-navigation>
  </ng-template>
  <ng-template #title>
    <div *uiPlaceholder="waiting"># {{data.number}} {{data.title.fullTitle}}</div>
  </ng-template>
  <ng-container [ngSwitch]="view">
    <ng-container *ngSwitchCase="'details'">
      <!-- Member details -->
      <!-- Number -->
      <div class="row">
        <div class="col-3" *uiPlaceholder="waiting">
          # {{data.number}}
        </div>
      </div>
      <!-- First name -->
      <div class="row">
        <div class="col-sm-3 text-primary">ISBN</div>
        <div class="col-sm-9" *uiPlaceholder="waiting">
          {{data.isbn}}
        </div>
      </div>
      <!-- Title -->
      <div class="row">
        <div class="col-sm-3 text-primary">Título</div>
        <div class="col-sm-9" *uiPlaceholder="waiting">
          <sup>{{data.title.supertitle}}</sup>
          {{data.title.title}}
          <sub>{{data.title.subtitle}}</sub>
        </div>
      </div>
      <!-- Language -->
      <div class="row">
        <div class="col-sm-3 text-primary">Idioma</div>
        <div class="col-sm-9" *uiPlaceholder="waiting">
          {{language}}
        </div>
      </div>
      <!-- Publish date -->
      <div class="row">
        <div class="col-sm-3 text-primary">Fecha de publicación</div>
        <div class="col-sm-9" *uiPlaceholder="waiting">
          {{data.publishDate}}
        </div>
      </div>
      <!-- Authors -->
      <div class="row">
        <div class="col-sm-3 text-primary">Autor</div>
        <div class="col-sm-9" *uiPlaceholder="waiting">
          {{authors}}
        </div>
      </div>
      <!-- Publishers -->
      <div class="row">
        <div class="col-sm-3 text-primary">Editor</div>
        <div class="col-sm-9" *uiPlaceholder="waiting">
          {{publishers}}
        </div>
      </div>
    </ng-container>
    <ng-container *ngSwitchCase="'donors'">
      <!-- Donors -->
      <!-- Donation date -->
      <div class="row">
        <div class="col-sm-3 text-primary">Fecha de donación</div>
        <div class="col-sm-9" *uiPlaceholder="waiting">
          {{data.donation?.date}}
        </div>
      </div>
      <!-- Donors -->
      <div class="row">
        <div class="col-sm-3 text-primary">Donante</div>
        <div class="col-sm-9" *uiPlaceholder="waiting">
          {{donors}}
        </div>
      </div>
    </ng-container>
    <ng-container *ngSwitchCase="'lendings'">
      <assoc-library-book-lendings [lendings]="data.lendings"></assoc-library-book-lendings>
    </ng-container>
  </ng-container>
  <ng-template #footer *ngIf="showMenu">
    <ng-container [ngSwitch]="view">
      <ng-container *ngSwitchCase="'lendings'">
        <!-- Lend button -->
        <ng-container [ngSwitch]="data.lent">
          <ng-container *ngSwitchCase="true">
            <!-- Return button -->
            <button type="button" class="btn btn-link link-dark" role="button" aria-label="lend" routerLink="return"
              [disabled]="lendDisabled" [attr.aria-disabled]="lendDisabled">
              <icon-take-in></icon-take-in>Devolver
            </button>
          </ng-container>
          <ng-container *ngSwitchCase="false">
            <!-- Lend button -->
            <button type="button" class="btn btn-link link-dark" role="button" aria-label="lend" routerLink="lend"
              [disabled]="lendDisabled" [attr.aria-disabled]="lendDisabled">
              <icon-take-out></icon-take-out>Prestar
            </button>
          </ng-container>
        </ng-container>
      </ng-container>
      <ng-container *ngSwitchDefault>
        <form-control-buttons [editable]="editable" [deletable]="deletable" [disabled]="waiting"
          (startEditing)="startEditing.emit(view)" (delete)="delete.emit()"></form-control-buttons>
      </ng-container>
    </ng-container>
  </ng-template>
</p-card>