<form [formGroup]="form" (ngSubmit)="onSave()" class="needs-validation" novalidate>
  <!-- Name -->
  <div class="row mb-2">
    <label for="nameInput" id="nameLabel" class="col-sm-2 col-form-label">Name</label>
    <div class="col-sm-10">
      <input type="text" id="nameInput" formControlName="name" [readonly]="readonly" class="form-control"
        [ngClass]="{ 'is-invalid': isInvalid('name') }" aria-describedby="nameLabel">
      <div class="invalid-feedback" *ngFor="let failure of getFailures('name')">
        <span *ngIf="failure.field === 'name'">{{failure.message}}</span>
      </div>
    </div>
  </div>
</form>