<form [formGroup]="form" (ngSubmit)="onSave()">
  <div class="row mb-2">
    <label for="nameInput" id="nameLabel" class="col-sm-2 col-form-label">name</label>
    <div class="col-sm-10">
      <input type="text" id="nameInput" aria-describedby="nameLabel" formControlName="name"
        class="form-control" [ngClass]="{ 'is-invalid': form.get('name')?.errors }">
      <div class="invalid-feedback">
        <div *ngIf="form.get('name')?.hasError('required')">
          missing_name
        </div>
      </div>
    </div>
  </div>
</form>