<article>
  <header>
    <h1 class="border-bottom">Pay fee</h1>
  </header>
  <div class="col-md-6 offset-md-3">
    <div class="card">
      <div class="card-body">
        <div [ngSwitch]="selectedMember">
          <div *ngSwitchCase="true">
            <!-- Form -->
            <assoc-fee-pay-form [waiting]="saving" [failures]="failures" [readonly]="!createPermission"
              [memberId]="member.id" [memberName]="getMemberName()" (save)="onSave($event)">
            </assoc-fee-pay-form>
          </div>
          <div *ngSwitchCase="false">
            <!-- Member selection -->
            <layout-waiting-wrapper [waiting]="readingMembers">
              <assoc-member-selection [members]="members" (selectMember)="onSelectMember($event)"
                [current]="membersPage" [pages]="membersTotalPages" (goToPage)="onGoToMembersPage($event)">
              </assoc-member-selection>
            </layout-waiting-wrapper>
          </div>
        </div>
      </div>
    </div>
  </div>
</article>