<layout-article title="Pay fee">
  <div class="card">
    <div class="card-body">
      <div [ngSwitch]="selectingMember">
        <div *ngSwitchCase="true">
          <!-- Member selection -->
          <layout-waiting-wrapper [waiting]="readingMembers">
            <assoc-member-selection [members]="members" (selectMember)="onSelectMember($event)" [current]="membersPage"
              [pages]="membersTotalPages" (goToPage)="onGoToMembersPage($event)"
              (cancelSelectMember)="onCancelSelectMember()">
            </assoc-member-selection>
          </layout-waiting-wrapper>
        </div>
        <div *ngSwitchCase="false">
          <!-- Form -->
          <assoc-fee-pay-form [waiting]="saving" [failures]="failures" [readonly]="!createPermission"
            [memberId]="memberId" [memberName]="getMemberName()" (save)="onSave($event)"
            (selectMember)="onStartSelectingMember()">
          </assoc-fee-pay-form>
        </div>
      </div>
    </div>
  </div>
</layout-article>