<div class="card">
  <div class="card-body">
    <form class="needs-validation" novalidate>
      <!-- Username -->
      <div class="row mb-2">
        <label for="usernameInput" id="usernameLabel" class="col-sm-2 col-form-label">Usuario</label>
        <div class="col-sm-10">
          <input type="text" [value]="data.username" id="usernameInput" [readonly]="true" class="form-control"
            aria-describedby="usernameLabel">
        </div>
      </div>
      <!-- Name -->
      <div class="row mb-2">
        <label for="nameInput" id="nameLabel" class="col-sm-2 col-form-label">Nombre</label>
        <div class="col-sm-10">
          <input type="text" [value]="data.name" id="nameInput" [readonly]="true" class="form-control"
            aria-describedby="nameLabel">
        </div>
      </div>
      <!-- Email -->
      <div class="row mb-2">
        <label for="emailInput" id="emailLabel" class="col-sm-2 col-form-label">E-mail</label>
        <div class="col-sm-10">
          <input type="text" [value]="data.email" id="emailInput" [readonly]="true" class="form-control"
            aria-describedby="emailLabel">
        </div>
      </div>
      <!-- Enabled -->
      <div class="row mb-2">
        <label id="enabledLabel" class="col-sm-2 col-form-label">Activo</label>
        <div class="col-sm-10">
          <icon-success-or-failure [success]="data.enabled"></icon-success-or-failure>
        </div>
      </div>
      <!-- Password expired -->
      <div class="row mb-2">
        <label id="passwordExpiredLabel" class="col-sm-2 col-form-label">Contraseña expirada</label>
        <div class="col-sm-10">
          <icon-success-or-failure [success]="data.passwordExpired"></icon-success-or-failure>
        </div>
      </div>
      <!-- Locked -->
      <div class="row mb-2">
        <label id="lockedLabel" class="col-sm-2 col-form-label">Bloqueado</label>
        <div class="col-sm-10">
          <icon-success-or-failure [success]="data.locked"></icon-success-or-failure>
        </div>
      </div>
    </form>
  </div>
  <div *ngIf="showMenu" class="card-footer">
    <div>
      <form-control-buttons [editable]="editable" [deletable]="deletable" (startEditing)="startEditing.emit()"
        (delete)="delete.emit()"></form-control-buttons>
    </div>
  </div>
</div>