<div class="p-4 space-y-6">
  <div class="pb-2 grid grid-cols-2 gap-4">
  
    <!-- Evolución -->
    <p-card class="pb-2 max-w-md">
      <ng-template #title>Evolución</ng-template>
      <assoc-transaction-balance-chart-view />
    </p-card>
  
    <div class="grid grid-cols-1 gap-4">
      <ui-summary-card [loading]="status.loadingSummary" [value]="summary.total" label="Saldo actual" icon="pi pi-euro" />
      <ui-summary-card [loading]="status.loadingSummary" [value]="summary.results" label="Resultados" icon="pi pi-euro" />
    </div>

  </div>

  <div class="flex flex-wrap mb-3 items-center w-full space-x-2">
    <assoc-transaction-display-selector (view)="display = $event" />

    @switch (display) {
      @case(Display.LIST) {
        <ui-text-filter (filter)="onFilter($event)" />
      }
    }

    <div class="ml-auto space-x-2">
      @if (permissions.create) {
        <p-button icon="pi pi-plus-circle" (click)="dialog = Dialog.CREATE" [disabled]="!permissions.create"
          aria-label="Nuevo libro" [attr.aria-disabled]="!permissions.create" rounded />
      }

      <p-button icon="pi pi-file-excel" [disabled]="status.loadingExcel" (click)="downloadExcel()" aria-label="Descargar excel"
        [attr.aria-disabled]="status.loadingExcel" rounded />
    </div>
  </div>

  <!-- Transactions -->
  <p-panel class="shadow rounded-lg">

    @switch (display) {
      @case(Display.CALENDAR) {
        <assoc-transaction-calendar [transactions]="transactions" [months]="months" [loading]="status.loadingCalendar"
          (changeMonth)="loadCalendar($event)" (pickDate)="onShowInfo($event)" />
      }
      @case (Display.LIST) {
        <assoc-transaction-list [loading]="status.loadingList" [data]="transactionsPage.content" [rows]="transactionsPage.size"
          [page]="transactionsPage.page" [totalRecords]="transactionsPage.totalElements" (show)="onShowInfo($event)"
          (changePage)="loadList($event)" />
      }
    }

  </p-panel>

  <!-- Creation / Edition Drawer -->
  <p-drawer [visible]="dialog !== Dialog.NONE" (visibleChange)="onDrawerVisibleChange($event)" [closable]="false" position="right" class="rounded-lg" [style]="{ width: '60vw' }">
    @switch (dialog) {

      @case(Dialog.INFO) {
        <ng-template #header>
          Transacción
        </ng-template>
        <div class="w-full p-4 space-y-4">
          <assoc-transaction-info [transaction]="selectedData" [loading]="status.loading" />
        </div>
        <ng-template #footer>
          @if (permissions.edit) {
            <p-button icon="pi pi-pencil" severity="secondary" [disabled]="!permissions.edit" aria-label="Editar"
              [attr.aria-disabled]="!permissions.edit" (click)="dialog = Dialog.EDIT" rounded text class="!p-2" />
          }

          @if (permissions.delete) {
            <p-button icon="pi pi-trash" severity="danger" [disabled]="!permissions.delete" aria-label="Borrar"
              [attr.aria-disabled]="!permissions.delete" (click)="onDelete($event)" rounded text class="!p-2" />
          }
        </ng-template>
      }

      @case(Dialog.CREATE) {
        <ng-template #header>
          Crear transacción
        </ng-template>
        <div class="w-full p-4">
          <assoc-transaction-form [loading]="status.loading" [failures]="failures" (save)="onCreate($event)" />
        </div>
        <ng-template #footer>
          <p-button icon="pi pi-times" severity="secondary" (click)="dialog = Dialog.NONE" rounded text class="!p-2" />
        </ng-template>
      }

      @case(Dialog.EDIT) {
        <ng-template #header>
          Editar transacción
        </ng-template>
        <div class="w-full p-4">
          <assoc-transaction-form [data]="selectedData" [loading]="status.loading" [failures]="failures" (save)="onUpdate($event)" />
        </div>
        <ng-template #footer>
          <p-button icon="pi pi-times" severity="secondary" (click)="dialog = Dialog.NONE" rounded text class="!p-2" />
        </ng-template>
      }

    }
  </p-drawer>
</div>