<p-card>
  <ng-template #header>
    <ul class="nav nav-tabs card-header-tabs">
      <li class="nav-item">
        <a class="nav-link" [class.active]="view === 'user'" aria-current="page" role="button"
          (click)="onChangeView('user')">Usuario</a>
      </li>
      <li class="nav-item">
        <a class="nav-link" [class.active]="view === 'status'" aria-current="page" role="button"
          (click)="onChangeView('status')">Estado</a>
      </li>
      <li class="nav-item">
        <a class="nav-link" [class.active]="view === 'roles'" aria-current="page" role="button"
          (click)="onChangeView('roles')">Roles</a>
      </li>
      <li class="nav-item">
        <a class="nav-link" [class.active]="view === 'member'" aria-current="page" role="button"
          (click)="onChangeView('member')">Socio</a>
      </li>
    </ul>
  </ng-template>
  <ng-container [ngSwitch]="view">
    <!-- User -->
    <ng-container *ngSwitchCase="'user'">
        <access-user-info-details [data]="data()" [showMenu]="showMenu()" [deletable]="deletable()" [editable]="editable()"
          [waiting]="waiting()" (delete)="delete.emit()" (startEditing)="startEditing.emit()" />
      <ng-template #footer *ngIf="showMenu()">
        <div>
          <form-control-buttons [editable]="editable()" [deletable]="deletable()" [disabled]="waiting()"
            (startEditing)="startEditing.emit()" (delete)="delete.emit()" />
        </div>
      </ng-template>
    </ng-container>
    <!-- Status -->
    <ng-container *ngSwitchCase="'status'">
      <!-- Enable/disable button -->
        <access-user-status [data]="data()" />
      <ng-template #footer>
        <div class="row">
          <ng-template [ngIf]="!data().enabled">
            <!-- Enable button -->
            <div class="col-sm-2 d-grid gap-2">
              <button type="submit" name="Enable" class="btn btn-primary" [uiWaiting]="waiting()"
                [disabled]="!editEnabled()" [attr.aria-disabled]="!editEnabled()" data-bs-toggle="modal"
                [attr.data-bs-target]="editEnabled() ? '#enableModal' : ''">Activar</button>
            </div>
          </ng-template>
          <ng-template [ngIf]="data().enabled">
            <!-- Disable button -->
            <div class="col-sm-2 d-grid gap-2">
              <button type="submit" name="Disable" class="btn btn-primary" [uiWaiting]="waiting()"
                [disabled]="!editEnabled()" [attr.aria-disabled]="!editEnabled()" data-bs-toggle="modal"
                [attr.data-bs-target]="editEnabled() ? '#disableModal' : ''">Desactivar</button>
            </div>
          </ng-template>
        </div>
      </ng-template>
    </ng-container>
    <!-- Roles -->
    <ng-container *ngSwitchCase="'roles'">
      <!-- Roles -->
        <access-user-roles-editor [editable]="editEnabled()" [deletable]="deletable()" [username]="data().username"
          [waiting]="waiting()" [waitingRolesSelection]="readingRoleSelection()" [roles]="data().roles"
          [rolesSelection]="rolesSelection()" (add)="addRole.emit($event)" (remove)="removeRole.emit($event)"
          (goToSelectionPage)="goToRoleSelectionPage.emit($event)" />
    </ng-container>
    <!-- Member -->
    <ng-container *ngSwitchCase="'member'">
      <!-- Member -->
        <access-user-member-editor [member]="member().name.fullName" [editable]="editable()" [waiting]="readingMember()"
          [waitingMembersSelection]="readingMemberSelection()" [membersSelection]="membersSelection()"
          (goToSelectionPage)="goToMemberSelectionPage.emit($event)"
          (selectMember)="selectMember.emit($event)" />
    </ng-container>
  </ng-container>
</p-card>