<form [formGroup]="form" (ngSubmit)="onSave()" novalidate>
  <!-- Title -->
  <div class="row mb-2">
    <div formGroupName="title" class="col-sm-3">
      <p-floatlabel variant="in">
        <input pInputText [invalid]="isFieldInvalid('supertitle')" id="supertitleInput" formControlName="supertitle"
          class="w-100" />
        <label for="supertitleInput">Supertítulo</label>
      </p-floatlabel>
      <div class="mb-2">
        @for (failure of failures().getFailures('title.supertitle'); track failure) {
          <p-message severity="error" size="small" variant="simple">
            {{failure.message}}
          </p-message>
        }
      </div>
    </div>
    <div formGroupName="title" class="col-sm-3">
      <p-floatlabel variant="in">
        <input pInputText [invalid]="isFieldInvalid('title')" id="titleInput" formControlName="title" class="w-100" />
        <label for="titleInput">Título</label>
      </p-floatlabel>
      <div class="mb-2">
        @for (failure of failures().getFailures('title.title'); track failure) {
          <p-message severity="error" size="small" variant="simple">
            {{failure.message}}
          </p-message>
        }
      </div>
    </div>
    <div formGroupName="title" class="col-sm-3">
      <p-floatlabel variant="in">
        <input pInputText [invalid]="isFieldInvalid('subtitle')" id="subtitleInput" formControlName="subtitle"
          class="w-100" />
        <label for="subtitleInput">Subtítulo</label>
      </p-floatlabel>
      <div class="mb-2">
        @for (failure of failures().getFailures('title.subtitle'); track failure) {
          <p-message severity="error" size="small" variant="simple">
            {{failure.message}}
          </p-message>
        }
      </div>
    </div>
  </div>
  <!-- ISBN -->
  <p-floatlabel variant="in">
    <input pInputText [invalid]="isFieldInvalid('isbn')" id="isbnInput" formControlName="isbn" class="w-100" />
    <label for="isbnInput">ISBN</label>
  </p-floatlabel>
  <div class="mb-2">
    @for (failure of failures().getFailures('isbn'); track failure) {
      <p-message severity="error" size="small" variant="simple">
        {{failure.message}}
      </p-message>
    }
  </div>
  <!-- Language -->
  <p-select [options]="languages" [invalid]="isFieldInvalid('language')" formControlName="language" optionLabel="name"
    optionValue="code" placeholder="Idioma" />
  <div class="mb-2">
    @for (failure of failures().getFailures('language'); track failure) {
      <p-message severity="error" size="small" variant="simple">
        {{failure.message}}
      </p-message>
    }
  </div>
  <!-- Publish date -->
  <p-floatlabel variant="in">
    <p-datepicker [invalid]="isFieldInvalid('publishDate')" id="publishDate" formControlName="publishDate" />
    <label for="publishDate">Fecha de publicación</label>
  </p-floatlabel>
  <div class="mb-2">
    @for (failure of failures().getFailures('publishDate'); track failure) {
      <p-message severity="error" size="small" variant="simple">
        {{failure.message}}
      </p-message>
    }
  </div>
  <p-button type="submit" name="Guardar" [loading]="loading()">Guardar</p-button>
</form>