<app-card>
  <app-card-body>
    <layout-pagination-info-wrapper [waiting]="reading" [page]="page" (goTo)="load($event)">
      <access-user-selection-list [users]="page.content" [routeLinkAdapter]="routeLinkAdapter"
        (changeDirection)="onChangeDirection($event)"></access-user-selection-list>
    </layout-pagination-info-wrapper>
    <!-- Add -->
    <div appJustifyCenter>
      <button type="button" class="btn btn-primary" aria-label="register" routerLink="/security/users/add"
        [disabled]="!createPermission" [attr.aria-disabled]="!createPermission">
        <icon-add></icon-add>
      </button>
    </div>
  </app-card-body>
</app-card>