<layout-article title="Create fee">
  <div *ngIf="selectingMember; then member_selection else fee_form"></div>

  <!-- Fee form -->
  <ng-template #fee_form>
    <!-- Select member button -->
    <button type="button" class="btn" aria-label="Search" [disabled]="saving" (click)="onRequestMember()">
      <icon-search></icon-search>
    </button>
    <!-- Form -->
    <edition-dynamic-form [saving]="saving" [fields]="fields" [failures]="failures" (save)="onSave($event)">
    </edition-dynamic-form>
  </ng-template>
  <!-- Member selection -->
  <ng-template #member_selection>
    <layout-waiting-wrapper [waiting]="readingMembers">
      <assoc-member-selection [members]="members" (selectMember)="onSelectMember($event)" [current]="membersPage"
        [pages]="membersTotalPages" (goToPage)="onGoToMembersPage($event)">
      </assoc-member-selection>
      <button type="button" class="btn btn-primary" (click)="onCancelSelectMember()" aria-label="Cancel">Cancel</button>
    </layout-waiting-wrapper>
  </ng-template>
</layout-article>