<layout-article>
  <div class="row pb-2">
    <div class="col-md-3 offset-md-3 pb-2">
      <div class="card">
        <div class="card-body">
          <h5 class="card-title">Membership timeline</h5>
          <assoc-member-balance-chart></assoc-member-balance-chart>
        </div>
      </div>
    </div>
  </div>
  <div class="row">
    <!-- Member List -->
    <div class="card">
      <div class="card-body">
        <h2>Members</h2>
        <p>Total: {{page.totalElements}}</p>
        <div class="row">
          <div class="col-md-1">
            status
          </div>
          <div class="col-md-2">
            <select class="form-select form-select-sm" aria-label="Filter member status"
              (change)="onChangeActiveFilter($event)">
              <option [selected]="activeFilter === 'active'" value="Active">Active</option>
              <option [selected]="activeFilter === 'inactive'" value="Inactive">Inactive</option>
              <option [selected]="activeFilter === 'all'" value="All">All</option>
            </select>
          </div>
        </div>
        <assoc-member-list [waiting]="readingMembers" [page]="page">
        </assoc-member-list>
        <div class="col-md-2 offset-md-5">
          <div class="d-grid pb-2">
            <button type="button" class="btn btn-primary" aria-label="register" routerLink="/members/register"
              [disabled]="!createPermission" [attr.aria-disabled]="!createPermission">
              <icon-add></icon-add>
            </button>
          </div>
        </div>
      </div>
    </div>
  </div>
</layout-article>