<layout-article title="Members">
  <div class="row">
    <div class="col-md-2">
      <div class="pb-2">
        <!-- Add -->
        <div class="card">
          <div class="card-body">
            <div class="d-grid">
              <!-- Add button -->
              <button type="button" class="btn btn-primary" aria-label="register" routerLink="/members/register"
                [disabled]="!createPermission" [attr.aria-disabled]="!createPermission">
                Register member
              </button>
            </div>
          </div>
        </div>
      </div>
      <!-- Filter -->
      <div class="pb-2">
        <div class="card">
          <div class="card-body">
            <div class="row">
              <div class="col-4">
                Filters
              </div>
              <div class="col-8">
                <select class="form-select form-select-sm" aria-label="Filter member status" (change)="onChangeActiveFilter($event)">
                  <option [selected]="activeFilter === 'active'" value="Active">Active</option>
                  <option [selected]="activeFilter === 'inactive'" value="Inactive">Inactive</option>
                  <option [selected]="activeFilter === 'all'" value="All">All</option>
                </select>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
    <div class="col-md-10">
      <div class="card">
        <div class="card-body">
          <layout-waiting-wrapper [waiting]="readingMembers">
            <assoc-member-selection-list [members]="members">
            </assoc-member-selection-list>
          </layout-waiting-wrapper>
        </div>
        <div class="d-flex justify-content-center mt-1">
          <pagination-route-navigation [disabled]="readingMembers" [totalPages]="totalPages">
          </pagination-route-navigation>
        </div>
      </div>
    </div>
  </div>
</layout-article>