<layout-article title="Members">
  <div class="row">
    <div class="col-md-2">
      <div class="pb-2">
        <!-- Add -->
        <div class="card">
          <div class="card-body">
            <div class="row">
              <!-- Add button -->
              <div *ngIf="createPermission" class="d-grid">
                <a routerLink="/members/register" type="button" class="btn btn-primary" role="button">
                  <icon-add></icon-add>
                </a>
              </div>
            </div>
          </div>
        </div>
      </div>
      <!-- Filter -->
      <div class="pb-2">
        <div class="card">
          <div class="card-body">
            <div class="row">
              <div class="col-4">
                Filters
              </div>
              <div class="col-8">
                <div class="form-check form-switch">
                  <input id="onlyActive" type="checkbox" [(ngModel)]="onlyActive" [disabled]="readingMembers"
                    [attr.aria-disabled]="readingMembers" (change)="onFilterActiveMembers($event.target)"
                    class="form-check-input">
                  <label for="onlyActive" class="form-check-label">Only active</label>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
    <div class="col-md-10">
      <div class="card">
        <div class="card-body">
          <layout-waiting-wrapper [waiting]="readingMembers">
            <assoc-member-selection-list [members]="members">
            </assoc-member-selection-list>
          </layout-waiting-wrapper>
        </div>
        <div class="d-flex justify-content-center mt-1">
          <pagination-route-navigation [disabled]="readingMembers" [totalPages]="totalPages">
          </pagination-route-navigation>
        </div>
      </div>
    </div>
  </div>
</layout-article>