<nav aria-label="breadcrumb">
  <ol class="breadcrumb">
    <li class="breadcrumb-item active" aria-current="page">
      <a routerLink="/fees" class="btn btn-default" role="button">fees</a>
    </li>
    <li class="breadcrumb-item active" aria-current="page">edit</li>
  </ol>
</nav>

<div *ngIf="selectingMember; then member_selection else fee_edition"></div>

<ng-template #member_selection>
  <admin-member-selection [members]="members" (selectMember)="onSelectMember($event)" [pageInfo]="membersPageInfo"
    (goToPage)="onGoToMembersPage($event)"></admin-member-selection>
</ng-template>
<ng-template #fee_edition>
  <form-controls (save)="onSave()" [disabledSave]="!isAbleToSave()"></form-controls>
  <admin-form-fee [data]="fee" [member]="member" (save)="onSave()" (selectMember)="onRequestMember()"
    (valueChange)="onFormChange($event)" (validChange)="onFormValidChange($event)"></admin-form-fee>
</ng-template>