<div class="col-1">
  <div class="btn-group" role="group">
    <button (click)="goBack()" type="button" class="btn btn-default">
      <fa-icon [icon]="backIcon"></fa-icon>
    </button>
  </div>
</div>
<h1>{{data.name}}</h1>
<div class="btn-group" role="group" aria-label="Data edition">
  <button (click)="save()" type="button" class="btn btn-default">
    <fa-icon [icon]="saveIcon"></fa-icon>
  </button>
  <button (click)="delete()" type="button" class="btn btn-default">
    <fa-icon [icon]="deleteIcon"></fa-icon>
  </button>
</div>
<form>
  <div class="form-group row">
    <label for="name" class="col-sm-2 col-form-label">name</label>
    <div class="col-sm-10">
      <input type="text" class="form-control" id="name" value="{{data.name}}">
    </div>
  </div>
</form>