<nav aria-label="Page navigation">
    <ul class="pagination pagination-sm">
        <li class="page-item" [ngClass]="{'disabled': pageInfo.first}">
            <button id="go_to_previous_page" type="button" (click)="onPrevious()" [disabled]="pageInfo.first"
                [attr.aria-disabled]="pageInfo.first" class="page-link" aria-label="Previous page">
                <span aria-hidden="true">&laquo;</span>
            </button>
        </li>
        <li>
            <div class="input-group input-group-sm">
                <input id="go_to_page" class="form-control" aria-label="Current page" (input)="onChoosePage($event)"
                    [value]="currentPage">
                <div> {{" / "}}</div>
                <div id="total_pages">{{pageInfo.totalPages}}</div>
            </div>
        </li>
        <li class="page-item" [ngClass]="{'disabled': pageInfo.last}">
            <button id="go_to_next_page" type="button" (click)="onNext()" [disabled]="pageInfo.last"
                [attr.aria-disabled]="pageInfo.last" class="page-link" aria-label="Next page">
                <span aria-hidden="true">&raquo;</span>
            </button>
        </li>
    </ul>
</nav>