<nav aria-label="Page navigation">
    <ul class="pagination pagination-sm">
        <li class="page-item" [ngClass]="{'disabled': pageInfo.first}">
            <button type="button" (click)="onPrevious()" [disabled]="pageInfo.first"
                [attr.aria-disabled]="pageInfo.first" class="page-link" aria-label="Previous page">
                <span aria-hidden="true">&laquo;</span>
            </button>
        </li>
        <ng-template [ngIf]="skipBefore">
            <li class="page-item">
                <button type="button" class="page-link" disabled [attr.aria-disabled]="true">...</button>
            </li>
        </ng-template>
        <ng-template ngFor let-page [ngForOf]="pages">
            <li class="page-item" [ngClass]="{'active': page === pageInfo.page}">
                <button type="button" (click)="onGoTo(page)" class="page-link" [attr.aria-label]="'Go to Page ' + page"
                    [attr.aria-current]="page === pageInfo.page ? 'page' : null">{{page}}</button>
            </li>
        </ng-template>
        <ng-template [ngIf]="skipAfter">
            <li class="page-item">
                <button type="button" class="page-link" disabled [attr.aria-disabled]="true">...</button>
            </li>
        </ng-template>
        <li class="page-item" [ngClass]="{'disabled': pageInfo.last}">
            <button type="button" (click)="onNext()" [disabled]="pageInfo.last" [attr.aria-disabled]="pageInfo.last"
                class="page-link" aria-label="Next page">
                <span aria-hidden="true">&raquo;</span>
            </button>
        </li>
    </ul>
</nav>