<table class="table table-hover">
  <thead>
    <tr>
      <!-- Headers -->
      <th scope="col">
        Título <sorting-button property="title" (directionChange)="directionChange.emit($event)"></sorting-button>
      </th>
      <th scope="col">
        Disponible <sorting-button property="lent" (directionChange)="directionChange.emit($event)"></sorting-button>
      </th>
    </tr>
  </thead>
  <tbody class="table-group-divider">
    @for (book of books(); track book; let rowIndex = $index) {
      <tr role="button" routerLink="{{routeLinkAdapter()(book)}}">
        <!-- Cells -->
        <td>
          <sup>{{book.title.supertitle}}</sup>
          {{book.title.title}}
          <sub>{{book.title.subtitle}}</sub>
        </td>
        <td>
          <icon-success-or-failure [success]="!book.lent"></icon-success-or-failure>
        </td>
      </tr>
    }
  </tbody>
</table>