<form [formGroup]="form" (ngSubmit)="onSave()" class="needs-validation" novalidate>
  <!-- Member -->
  <h2>{{fee.person.name.fullName}}</h2>
  <!-- Month -->
  <p-floatlabel variant="in" class="mb-2 d-flex">
    <p-datepicker id="monthInput" formControlName="month" [invalid]="isFieldInvalid('selectedDate')" view="month" dateFormat="yy-mm" />
    <label for="monthInput">Mes</label>
  </p-floatlabel>
  <div class="mb-2">
    @for (failure of failures().getFailures('month'); track failure) {
      <p-message severity="error" size="small" variant="simple">
        {{failure.message}}
      </p-message>
    }
  </div>
  <!-- Paid -->
  <div class="row mb-2">
    <label id="activeLabel" class="col-sm-2 col-form-label">Pagado</label>
    <div class="col-sm-10">
      <icon-success-or-failure [success]="fee.paid" />
    </div>
  </div>
  <!-- Payment date -->
  <div class="row mb-2">
    <label for="paymentDateInput" id="paymentDateLabel" class="col-sm-2 col-form-label">Pago</label>
    <div formGroupName="payment" class="col-sm-10">
      <input id="paymentDateInput" type="date" formControlName="date" class="form-control"
        formInvalidField="payment.date" [backendFailure]="failures().hasFailures('payment.date')"
        aria-describedby="paymentDateLabel">
      <form-input-failure-feedback [failures]="failures().getFailures('payment.date')" />
    </div>
  </div>
  <form-save-controls [waiting]="waiting" [saveDisabled]="!saveEnabled" [cancelDisabled]="!cancelEnabled"
    [cancellable]="cancellable" (reject)="onCancel()" />
</form>