<form [formGroup]="form" (ngSubmit)="onSave()" class="needs-validation" novalidate>
  <!-- Member -->
  <div class="row mb-2">
    <label for="fullNameInput" id="fullNameLabel" class="col-sm-2 col-form-label">Socio</label>
    <div class="col-sm-10">
      <input disabled type="text" [value]="fee.person.name.fullName" id="fullNameInput" readonly="true" class="form-control"
        aria-describedby="fullNameLabel">
    </div>
  </div>
  <!-- Month -->
  <div class="row mb-2">
    <label for="monthInput" id="monthLabel" class="col-sm-2 col-form-label">Mes</label>
    <div class="col-sm-10">
      <input disabled type="month" [value]="fee.month" id="monthInput" readonly="true" class="form-control"
        aria-describedby="monthLabel">
    </div>
  </div>
  <!-- Paid -->
  <div class="row mb-2">
    <label id="activeLabel" class="col-sm-2 col-form-label">Pagado</label>
    <div class="col-sm-10">
      <icon-success-or-failure [success]="fee.paid" />
    </div>
  </div>
  <!-- Payment date -->
  <div class="row mb-2">
    <label for="paymentDateInput" id="paymentDateLabel" class="col-sm-2 col-form-label">Pago</label>
    <div formGroupName="payment" class="col-sm-10">
      <input type="date" id="paymentDateInput" formControlName="date" class="form-control"
        formInvalidField="payment.date" [backendFailure]="failures.hasFailures('payment.date')"
        aria-describedby="paymentDateLabel">
      <form-input-failure-feedback [failures]="failures.getFailures('payment.date')" />
    </div>
  </div>
  <form-save-controls [waiting]="waiting" [saveDisabled]="!saveEnabled" [cancelDisabled]="!cancelEnabled"
    [cancellable]="cancellable" (reject)="onCancel()" />
</form>