<form [formGroup]="form" (ngSubmit)="onSave()" novalidate>
  <div class="flex flex-col gap-2">
    <!-- Member -->
    <label class="font-semibold mb-2 block">Socio</label>
    <assoc-fee-member-search [members]="members()" (selectMember)="onSelectMember($event)"
      (searchMember)="searchMember.emit($event)" />
    <div class="mb-2">
      @if (isFieldInvalid('member')) {
        <p-message severity="error" size="small" variant="simple">
          Seleccione un socio válido
        </p-message>
      }
    </div>
  </div>

  <!-- Month -->
  <div class="mb-2">
    <p-inputgroup>
      <p-inputgroup-addon>
        <i class="pi pi-calendar"></i>
      </p-inputgroup-addon>
      <p-floatlabel variant="in" class="d-flex">
        <p-datepicker id="monthInput" formControlName="month" [invalid]="isFieldInvalid('month')" view="month"
          dateFormat="yy-mm" appendTo="body" />
        <label for="monthInput">Mes</label>
      </p-floatlabel>
    </p-inputgroup>
    @for (failure of failures().getFailures('month'); track failure) {
      <p-message severity="error" size="small" variant="simple">
        {{failure.message}}
      </p-message>
    }
  </div>

  <div class="flex items-center w-full justify-between mb-3">
    <!-- Save button -->
    <p-button type="submit" name="Guardar" [disabled]="!formStatus.saveEnabled" [loading]="loading()"
      [attr.aria-disabled]="!formStatus.saveEnabled">Guardar</p-button>
  </div>
</form>