<ng-container>
  <form [formGroup]="form" (ngSubmit)="onSave()" class="needs-validation" novalidate>
    <!-- Index -->
    <div *ngIf="data?.number" class="row mb-2">
      <label for="indexInput" id="indexLabel" class="col-sm-2 col-form-label">Index</label>
      <div class="col-sm-10">
        <input type="text" [value]="data?.number" id="indexInput" [readonly]="true" class="form-control"
          aria-describedby="indexLabel">
      </div>
    </div>
    <!-- ISBN -->
    <div class="row mb-2">
      <label for="isbnInput" id="isbnLabel" class="col-sm-2 col-form-label">ISBN</label>
      <div class="col-sm-10">
        <input type="text" id="isbnInput" formControlName="isbn" class="form-control"
          [ngClass]="{ 'is-invalid': isFieldInvalid('isbn') }" aria-describedby="isbnLabel" maxlength="13">
        <div class="invalid-feedback" *ngFor="let failure of getFailures('isbn')">
          {{failure.message}}
        </div>
      </div>
    </div>
    <!-- Title -->
    <div class="row mb-2">
      <label for="titleInput" id="titleLabel" class="col-sm-2 col-form-label">Title</label>
      <div class="col-sm-10">
        <input type="text" id="titleInput" formControlName="title" class="form-control"
          [ngClass]="{ 'is-invalid': isFieldInvalid('title') }" aria-describedby="titleLabel" maxlength="100">
        <div class="invalid-feedback" *ngFor="let failure of getFailures('title')">
          {{failure.message}}
        </div>
      </div>
    </div>
    <!-- Language -->
    <div class="row mb-2">
      <label for="languageInput" id="languageLabel" class="col-sm-2 col-form-label">Language</label>
      <div class="col-sm-10">
        <select class="form-select" aria-label="Select year" formControlName="language"
          [ngClass]="{ 'is-invalid': isFieldInvalid('isbn') }" aria-describedby="languageLabel">
          <option *ngFor="let selectionLanguage of languages" [value]="selectionLanguage.code">
            {{selectionLanguage.name}}</option>
        </select>
        <div class="invalid-feedback" *ngFor="let failure of getFailures('language')">
          {{failure.message}}
        </div>
      </div>
    </div>
    <!-- Publisher -->
    <div class="row mb-2">
      <label for="publisherInput" id="publisherLabel" class="col-sm-2 col-form-label">Publisher</label>
      <div class="col-sm-9">
        <input type="text" [value]="publisher" id="publisherInput" [readonly]="true" class="form-control"
          aria-describedby="publisherLabel">
      </div>
      <div class="col-sm-1">
        <button (click)="onShowPublisherSelection()" type="button" class="btn btn-link link-dark" role="button"
          aria-label="Pick publisher" data-bs-toggle="modal" data-bs-target="#pickModal">
          <icon-search></icon-search>
        </button>
      </div>
    </div>
    <!-- Donor -->
    <div class="row mb-2">
      <label for="donorInput" id="donorLabel" class="col-sm-2 col-form-label">Donor</label>
      <div class="col-sm-9">
        <input type="text" [value]="donorName" id="donorInput" [readonly]="true" class="form-control"
          aria-describedby="donorLabel">
      </div>
      <div class="col-sm-1">
        <button (click)="onShowDonorSelection()" type="button" class="btn btn-link link-dark" role="button"
          aria-label="Pick donor" data-bs-toggle="modal" data-bs-target="#pickModal">
          <icon-search></icon-search>
        </button>
      </div>
    </div>
    <!-- Book type -->
    <div class="row mb-2">
      <label for="bookTypeInput" id="bookTypeLabel" class="col-sm-2 col-form-label">Book type</label>
      <div class="col-sm-9">
        <input type="text" [value]="bookType" id="bookTypeInput" [readonly]="true" class="form-control"
          aria-describedby="bookTypeLabel">
      </div>
      <div class="col-sm-1">
        <button (click)="onShowBookTypeSelection()" type="button" class="btn btn-link link-dark" role="button"
          aria-label="Pick book type" data-bs-toggle="modal" data-bs-target="#pickModal">
          <icon-search></icon-search>
        </button>
      </div>
    </div>
    <!-- Game system -->
    <div class="row mb-2">
      <label for="gameSystemInput" id="gameSystemLabel" class="col-sm-2 col-form-label">Game system</label>
      <div class="col-sm-9">
        <input type="text" [value]="gameSystem" id="gameSystemInput" [readonly]="true" class="form-control"
          aria-describedby="gameSystemLabel">
      </div>
      <div class="col-sm-1">
        <button (click)="onShowGameSystemSelection()" type="button" class="btn btn-link link-dark" role="button"
          aria-label="Pick game system" data-bs-toggle="modal" data-bs-target="#pickModal">
          <icon-search></icon-search>
        </button>
      </div>
    </div>
    <!-- Authors -->
    <div class="row mb-2">
      <div class="col-sm-11">
        <table class="table">
          <thead>
            <tr>
              <th scope="col">
                Author
              </th>
            </tr>
          </thead>
          <tbody class="table-group-divider">
            <ng-template ngFor let-author [ngForOf]="authors">
              <tr>
                <td>{{author}}</td>
              </tr>
            </ng-template>
          </tbody>
        </table>
      </div>
      <div class="col-sm-1">
        <button (click)="onShowAuthorSelection()" type="button" class="btn btn-link link-dark" role="button"
          aria-label="Pick author" data-bs-toggle="modal" data-bs-target="#pickModal">
          <icon-search></icon-search>
        </button>
      </div>
    </div>
    <div class="row">
      <!-- Save button -->
      <div class="col-sm-2 d-grid gap-2">
        <layout-waiting-button [waiting]="waiting" [disabled]="!saveEnabled" name="Save"
          (action)="onSave()"></layout-waiting-button>
      </div>
      <!-- Cancel button -->
      <ng-template [ngIf]="cancellable">
        <div class="col-sm-2 d-grid gap-2">
          <button class="btn btn-primary" [disabled]="!cancelEnabled" name="Cancel" (click)="onCancel()">Cancel</button>
        </div>
      </ng-template>
    </div>
  </form>
</ng-container>

<div class="modal fade" id="pickModal" tabindex="-1" aria-labelledby="pickModalLabel" aria-hidden="true">
  <div class="modal-dialog">
    <div class="modal-content">
      <div class="modal-header">
        <h1 class="modal-title fs-5" id="pickModalLabel">Modal title</h1>
        <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
      </div>
      <div class="modal-body">
        <!-- Select book type -->
        <ng-template [ngIf]="selector === 'book_type'">
          <assoc-library-admin-book-type-selection [values]="bookTypePage.content" [current]="bookTypePage.page + 1"
            [pages]="bookTypePage.totalPages" (choose)="onSelectBookType($event)"
            (goToPage)="onGoToBookTypePage($event)"></assoc-library-admin-book-type-selection>
        </ng-template>
        <!-- Select game system -->
        <ng-template [ngIf]="selector === 'game_system'">
          <assoc-library-admin-game-system-selection [values]="gameSystemPage.content"
            [current]="gameSystemPage.page + 1" [pages]="gameSystemPage.totalPages"
            (choose)="onSelectGameSystem($event)"
            (goToPage)="onGoToGameSystemPage($event)"></assoc-library-admin-game-system-selection>
        </ng-template>
        <!-- Select authors -->
        <ng-template [ngIf]="selector === 'author'">
          <assoc-library-admin-author-selection [values]="authorPage.content" [current]="authorPage.page + 1"
            [pages]="authorPage.totalPages" (choose)="onSelectAuthor($event)"
            (goToPage)="onGoToAuthorPage($event)"></assoc-library-admin-author-selection>
        </ng-template>
        <!-- Select publisher -->
        <ng-template [ngIf]="selector === 'publisher'">
          <assoc-library-admin-publisher-selection [values]="publisherPage.content" [current]="publisherPage.page + 1"
            [pages]="publisherPage.totalPages" (choose)="onSelectPublisher($event)"
            (goToPage)="onGoToPublisherPage($event)"></assoc-library-admin-publisher-selection>
        </ng-template>
        <!-- Select donor -->
        <ng-template [ngIf]="selector === 'donor'">
          <assoc-library-admin-donor-selection [values]="donorPage.content" [current]="donorPage.page + 1"
            [pages]="donorPage.totalPages" (choose)="onSelectDonor($event)"
            (goToPage)="onGoToDonorPage($event)"></assoc-library-admin-donor-selection>
        </ng-template>
      </div>
      <div class="modal-footer">
        <button #pickCloseButton type="button" class="btn btn-secondary" data-bs-dismiss="modal">Close</button>
      </div>
    </div>
  </div>
</div>