<ng-container>
  <form [formGroup]="form" (ngSubmit)="onSave()" class="needs-validation" novalidate>
    <!-- Index -->
    <div *ngIf="data?.number" class="row mb-2">
      <label for="indexInput" id="indexLabel" class="col-sm-2 col-form-label">Índice</label>
      <div class="col-sm-10">
        <input type="text" [value]="data?.number" id="indexInput" [readonly]="true" class="form-control"
          aria-describedby="indexLabel">
      </div>
    </div>
    <!-- ISBN -->
    <div class="row mb-2">
      <label for="isbnInput" id="isbnLabel" class="col-sm-2 col-form-label">ISBN</label>
      <div class="col-sm-10">
        <input type="text" id="isbnInput" formControlName="isbn" class="form-control" appInvalidField="isbn"
          [backendFailure]="failures.hasProperty('isbn')" aria-describedby="isbnLabel" maxlength="13">
        <app-input-failure-feedback [failures]="failures.getFailures('isbn')"></app-input-failure-feedback>
      </div>
    </div>
    <!-- Title -->
    <div class="row mb-2">
      <label for="titleInput" id="titleLabel" class="col-sm-2 col-form-label">Título</label>
      <div class="col-sm-10">
        <input type="text" id="titleInput" formControlName="title" class="form-control" appInvalidField="title"
          [backendFailure]="failures.hasProperty('title')" aria-describedby="titleLabel" maxlength="100">
        <app-input-failure-feedback [failures]="failures.getFailures('title')"></app-input-failure-feedback>
      </div>
    </div>
    <!-- Language -->
    <div class="row mb-2">
      <label for="languageInput" id="languageLabel" class="col-sm-2 col-form-label">Idioma</label>
      <div class="col-sm-10">
        <select class="form-select" aria-label="Select year" formControlName="language" appInvalidField="language"
          [backendFailure]="failures.hasProperty('language')" aria-describedby="languageLabel">
          <option *ngFor="let selectionLanguage of languages" [value]="selectionLanguage.code">
            {{selectionLanguage.name}}</option>
        </select>
        <app-input-failure-feedback [failures]="failures.getFailures('language')"></app-input-failure-feedback>
      </div>
    </div>
    <!-- Book type -->
    <div class="row mb-2">
      <label for="bookTypeInput" id="bookTypeLabel" class="col-sm-2 col-form-label">Tipo</label>
      <div class="col-sm-9">
        <input type="text" [value]="bookType" id="bookTypeInput" [readonly]="true" [disabled]="!formEnabled"
          class="form-control" aria-describedby="bookTypeLabel">
      </div>
      <div class="col-sm-1">
        <button (click)="onShowBookTypeSelection()" type="button" class="btn btn-link link-dark" role="button"
          aria-label="Pick book type" data-bs-toggle="modal" data-bs-target="#pickModal">
          <icon-search></icon-search>
        </button>
      </div>
    </div>
    <!-- Game system -->
    <div class="row mb-2">
      <label for="gameSystemInput" id="gameSystemLabel" class="col-sm-2 col-form-label">Sistema</label>
      <div class="col-sm-9">
        <input type="text" [value]="gameSystem" id="gameSystemInput" [readonly]="true" [disabled]="!formEnabled"
          class="form-control" aria-describedby="gameSystemLabel">
      </div>
      <div class="col-sm-1">
        <button (click)="onShowGameSystemSelection()" type="button" class="btn btn-link link-dark" role="button"
          aria-label="Pick game system" data-bs-toggle="modal" data-bs-target="#pickModal">
          <icon-search></icon-search>
        </button>
      </div>
    </div>
    <!-- Publishers -->
    <div class="row mb-2">
      <div class="col-sm-12">
        <h2>Editores</h2>
      </div>
      <div class="col-sm-12">
        <table class="table">
          <thead>
            <tr>
              <th scope="col">
              </th>
              <th scope="col">
                Nombre
              </th>
            </tr>
          </thead>
          <tbody class="table-group-divider">
            <ng-template ngFor let-publisher let-i="index" [ngForOf]="publishers">
              <tr>
                <td>
                  <button (click)="onRemovePublisher(publisher)" type="button" class="btn btn-link link-dark"
                    role="button" aria-label="Remove publisher">
                    <icon-delete></icon-delete>
                  </button>
                </td>
                <td>{{publisher.name}}</td>
              </tr>
            </ng-template>
          </tbody>
        </table>
      </div>
      <div appJustifyCenter>
        <button (click)="onShowPublisherSelection()" type="button" class="btn btn-primary" aria-label="Add donor"
          data-bs-toggle="modal" data-bs-target="#pickModal">
          <icon-add></icon-add>
        </button>
      </div>
    </div>
    <!-- Donors -->
    <div class="row mb-2">
      <div class="col-sm-12">
        <h2>Donantes</h2>
      </div>
      <div class="col-sm-12">
        <table class="table">
          <thead>
            <tr>
              <th scope="col">
              </th>
              <th scope="col">
                Nombre
              </th>
            </tr>
          </thead>
          <tbody class="table-group-divider">
            <ng-template ngFor let-donor let-i="index" [ngForOf]="donors">
              <tr>
                <td>
                  <button (click)="onRemoveDonor(donor)" type="button" class="btn btn-link link-dark" role="button"
                    aria-label="Remove donor">
                    <icon-delete></icon-delete>
                  </button>
                </td>
                <td>{{donor.name.fullName}}</td>
              </tr>
            </ng-template>
          </tbody>
        </table>
      </div>
      <div appJustifyCenter>
        <button (click)="onShowDonorSelection()" type="button" class="btn btn-primary" aria-label="Add donor"
          data-bs-toggle="modal" data-bs-target="#pickModal">
          <icon-add></icon-add>
        </button>
      </div>
    </div>
    <!-- Authors -->
    <div class="row mb-2">
      <div class="col-sm-12">
        <h2>Autores</h2>
      </div>
      <div class="col-sm-12">
        <table class="table">
          <thead>
            <tr>
              <th scope="col">
              </th>
              <th scope="col">
                Nombre
              </th>
            </tr>
          </thead>
          <tbody class="table-group-divider">
            <ng-template ngFor let-author [ngForOf]="authors">
              <tr>
                <td>
                  <button (click)="onRemoveAuthor(author)" type="button" class="btn btn-link link-dark" role="button"
                    aria-label="Remove author">
                    <icon-delete></icon-delete>
                  </button>
                </td>
                <td>{{author.name}}</td>
              </tr>
            </ng-template>
          </tbody>
        </table>
      </div>
      <div appJustifyCenter>
        <button (click)="onShowAuthorSelection()" type="button" class="btn btn-primary" aria-label="Add author"
          data-bs-toggle="modal" data-bs-target="#pickModal">
          <icon-add></icon-add>
        </button>
      </div>
    </div>
    <div class="row">
      <!-- Save button -->
      <div class="col-sm-2 d-grid gap-2">
        <layout-waiting-button [waiting]="waiting" [disabled]="!saveEnabled" name="Save"
          (action)="onSave()">Guardar</layout-waiting-button>
      </div>
      <!-- Cancel button -->
      <ng-template [ngIf]="cancellable">
        <div class="col-sm-2 d-grid gap-2">
          <button class="btn btn-primary" [disabled]="!cancelEnabled" name="Cancel"
            (click)="onCancel()">Cancelar</button>
        </div>
      </ng-template>
    </div>
  </form>
</ng-container>

<!-- Book type modal-->
<div class="modal fade" id="book_typeModal" tabindex="-1" aria-labelledby="book_typeModalLabel" aria-hidden="true">
  <div class="modal-dialog">
    <div class="modal-content">
      <div class="modal-header">
        <h1 class="modal-title fs-5" id="book_typeModalLabel">Book type</h1>
        <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
      </div>
      <div class="modal-body">
        <assoc-library-admin-book-type-selection [values]="bookTypePage.content" [current]="bookTypePage.page + 1"
          [pages]="bookTypePage.totalPages" (choose)="onSelectBookType($event)"
          (goToPage)="onGoToBookTypePage($event)"></assoc-library-admin-book-type-selection>
      </div>
      <div class="modal-footer">
        <button #pickCloseButton type="button" class="btn btn-secondary" data-bs-dismiss="modal">Cerrar</button>
      </div>
    </div>
  </div>
</div>

<!-- Game system modal -->
<div class="modal fade" id="game_systemModal" tabindex="-1" aria-labelledby="game_systemModalLabel" aria-hidden="true">
  <div class="modal-dialog">
    <div class="modal-content">
      <div class="modal-header">
        <h1 class="modal-title fs-5" id="game_systemModalLabel">Game system</h1>
        <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
      </div>
      <div class="modal-body">
        <assoc-library-admin-game-system-selection [values]="gameSystemPage.content" [current]="gameSystemPage.page + 1"
          [pages]="gameSystemPage.totalPages" (choose)="onSelectGameSystem($event)"
          (goToPage)="onGoToGameSystemPage($event)"></assoc-library-admin-game-system-selection>
      </div>
      <div class="modal-footer">
        <button #pickCloseButton type="button" class="btn btn-secondary" data-bs-dismiss="modal">Cerrar</button>
      </div>
    </div>
  </div>
</div>

<!-- Author modal -->
<div class="modal fade" id="authorModal" tabindex="-1" aria-labelledby="authorModalLabel" aria-hidden="true">
  <div class="modal-dialog">
    <div class="modal-content">
      <div class="modal-header">
        <h1 class="modal-title fs-5" id="authorModalLabel">Author</h1>
        <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
      </div>
      <div class="modal-body">
        <assoc-library-admin-author-selection [values]="authorPage.content" [current]="authorPage.page + 1"
          [pages]="authorPage.totalPages" (choose)="onSelectAuthor($event)"
          (goToPage)="onGoToAuthorPage($event)"></assoc-library-admin-author-selection>
      </div>
      <div class="modal-footer">
        <button #pickCloseButton type="button" class="btn btn-secondary" data-bs-dismiss="modal">Cerrar</button>
      </div>
    </div>
  </div>
</div>

<!-- Publisher modal -->
<div class="modal fade" id="publisherModal" tabindex="-1" aria-labelledby="publisherModalLabel" aria-hidden="true">
  <div class="modal-dialog">
    <div class="modal-content">
      <div class="modal-header">
        <h1 class="modal-title fs-5" id="publisherModalLabel">Publisher</h1>
        <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
      </div>
      <div class="modal-body">
        <assoc-library-admin-publisher-selection [values]="publisherPage.content" [current]="publisherPage.page + 1"
          [pages]="publisherPage.totalPages" (choose)="onSelectPublisher($event)"
          (goToPage)="onGoToPublisherPage($event)"></assoc-library-admin-publisher-selection>
      </div>
      <div class="modal-footer">
        <button #pickCloseButton type="button" class="btn btn-secondary" data-bs-dismiss="modal">Cerrar</button>
      </div>
    </div>
  </div>
</div>

<!-- Donor modal -->
<div class="modal fade" id="donorModal" tabindex="-1" aria-labelledby="donorModalLabel" aria-hidden="true">
  <div class="modal-dialog">
    <div class="modal-content">
      <div class="modal-header">
        <h1 class="modal-title fs-5" id="donorModalLabel">Publisher</h1>
        <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
      </div>
      <div class="modal-body">
        <assoc-library-admin-donor-selection [values]="donorPage.content" [current]="donorPage.page + 1"
          [pages]="donorPage.totalPages" (choose)="onSelectDonor($event)"
          (goToPage)="onGoToDonorPage($event)"></assoc-library-admin-donor-selection>
      </div>
      <div class="modal-footer">
        <button #pickCloseButton type="button" class="btn btn-secondary" data-bs-dismiss="modal">Cerrar</button>
      </div>
    </div>
  </div>
</div>