<!-- Pagination and controls -->
<div class="row">
  <div class="col-1">
    <button-link-create link="{{createRoute}}"></button-link-create>
  </div>
  <div class="col-2 offset-5">
    <pagination-size-selector [selected]="pageInfo.size"></pagination-size-selector>
  </div>
  <div class="col-4">
    <div class="row">
      <div class="d-flex align-items-center justify-content-evenly">
        <pagination-navigation [totalPages]="pageInfo.totalPages" [first]="pageInfo.first" [last]="pageInfo.last">
        </pagination-navigation>
      </div>
    </div>
  </div>
</div>
<!-- Table -->
<div *ngIf="loading; then loading_cue else data_list"></div>
<ng-template #loading_cue>
  <div class="d-flex justify-content-center">
    <cue-loading></cue-loading>
  </div>
</ng-template>
<ng-template #data_list>
  <ng-content></ng-content>
</ng-template>

<div id="deleteModal" class="modal fade" data-bs-backdrop="static" data-bs-keyboard="false" tabindex="-1"
  aria-hidden="true">
  <div class="modal-dialog">
    <div class="modal-content">
      <div class="modal-body">
        <p>Are you sure you want to delete the data?</p>
        <p class="text-warning"><small>This action cannot be undone.</small></p>
      </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">cancel</button>
        <button type="button" class="btn btn-danger" (click)="onDelete()" data-bs-dismiss="modal">delete</button>
      </div>
    </div>
  </div>
</div>