<layout-article title="Contacto">
  <div class="row pb-2">
    <div class="col-md-12 pb-2">
      Mantenemos dos medios principales de contacto, <a href="https://www.instagram.com/arucronia">Instagram</a> y
      nuestro correo <a href="contacto@arucronia.com">{{"contacto@arucronia.com"}}</a>. Cualquier pregunta o consulta se
      puede realizar allí.
    </div>
    <div class="col-md-12 pb-2">
      Además tenemos un local donde se realizan nuestras actividades en:
    </div>
    <div class="col-md-6 offset-md-3 pb-2">
      <app-public-location-widget></app-public-location-widget>
    </div>
  </div>
</layout-article>