<layout-article title="Transactions calendar">
  <div class="row">
    <div class="col-md-2">
      <div class="pb-2">
        <!-- Add -->
        <div class="card">
          <div class="card-body">
            <div class="row">
              <div class="d-grid">
                <!-- Add button -->
                <button type="button" class="btn btn-primary" aria-label="register" routerLink="/transactions/add"
                  [disabled]="!createPermission" [attr.aria-disabled]="!createPermission">
                  Add transaction
                </button>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
    <div class="col-md-10">
      <assoc-transaction-calendar [transactions]="transactions" [year]="year" [month]="month" [months]="months"
        [waiting]="readingCalendar" (dateChange)="onDateChange($event)"
        (pickTransaction)="onPickTransaction($event)"></assoc-transaction-calendar>
    </div>
  </div>
</layout-article>