<form class="needs-validation" novalidate>
  <!-- Username -->
  <div class="row mb-2">
    <label for="usernameInput" id="usernameLabel" class="col-sm-2 col-form-label">Usuario</label>
    <div class="col-sm-10">
      <input type="text" [value]="data.name" id="usernameInput" [readonly]="true" class="form-control"
        aria-describedby="usernameLabel">
    </div>
  </div>
  <!-- Name -->
  <div class="row mb-2">
    <label for="nameInput" id="nameLabel" class="col-sm-2 col-form-label">Nombre</label>
    <div class="col-sm-10">
      <input type="text" [value]="data.name" id="nameInput" [readonly]="true" class="form-control"
        aria-describedby="nameLabel">
    </div>
  </div>
  <!-- Token -->
  <div class="row mb-2">
    <label for="tokenInput" id="tokenLabel" class="col-sm-2 col-form-label">Token</label>
    <div class="col-sm-10">
      <input type="text" [value]="data.token" id="tokenInput" [readonly]="true" class="form-control"
        aria-describedby="tokenLabel">
    </div>
  </div>
  <!-- Scope -->
  <div class="row mb-2">
    <label for="scopeInput" id="scopeLabel" class="col-sm-2 col-form-label">Alcance</label>
    <div class="col-sm-10">
      <input type="text" [value]="data.scope" id="scopeInput" [readonly]="true" class="form-control"
        aria-describedby="scopeLabel">
    </div>
  </div>
  <!-- Creation date -->
  <div class="row mb-2">
    <label for="creationDateInput" id="creationDateLabel" class="col-sm-2 col-form-label">Fecha de creación</label>
    <div class="col-sm-10">
      <input type="creationDate" [value]="data.creationDate" id="creationDateInput" [readonly]="true"
        class="form-control" aria-describedby="creationDateLabel">
    </div>
  </div>
  <!-- Expiration date -->
  <div class="row mb-2">
    <label for="expirationDateInput" id="expirationDateLabel" class="col-sm-2 col-form-label">Fecha de
      expiración</label>
    <div class="col-sm-10">
      <input type="expirationDate" [value]="data.expirationDate" id="expirationDateInput" [readonly]="true"
        class="form-control" [ngClass]="{ 'is-invalid': failures.hasFailures('expirationDate') }"
        aria-describedby="expirationDateLabel">
      <app-input-failure-feedback [failures]="failures.getFailures('expirationDate')"></app-input-failure-feedback>
    </div>
  </div>
  <!-- Consumed -->
  <div class="row mb-2">
    <label id="consumedLabel" class="col-sm-2 col-form-label">Consumido</label>
    <div class="col-sm-10">
      <icon-success-or-failure [success]="data.consumed"></icon-success-or-failure>
    </div>
  </div>
  <!-- Revoked -->
  <div class="row mb-2">
    <label id="revokedLabel" class="col-sm-2 col-form-label">Revocado</label>
    <div class="col-sm-10">
      <icon-success-or-failure [success]="data.revoked"></icon-success-or-failure>
    </div>
  </div>
</form>