<!-- First name -->
<div class="grid grid-cols-12 py-1">
  <div class="col-span-3 text-blue-600 font-medium">Nombre</div>
  <div class="col-span-9">
    @if (loading()) {
      <p-skeleton class="mb-2" />
    } @else {
      {{ data().name.firstName }}
    }
  </div>
</div>

<!-- Last name -->
<div class="grid grid-cols-12 py-1">
  <div class="col-span-3 text-blue-600 font-medium">Apellidos</div>
  <div class="col-span-9">
    @if (loading()) {
      <p-skeleton class="mb-2" />
    } @else {
      {{ data().name.lastName }}
    }
  </div>
</div>

<!-- Identifier -->
<div class="grid grid-cols-12 py-1">
  <div class="col-span-3 text-blue-600 font-medium">DNI</div>
  <div class="col-span-9">
    @if (loading()) {
      <p-skeleton class="mb-2" />
    } @else {
      {{ data().identifier }}
    }
  </div>
</div>

<!-- Birth date -->
<div class="grid grid-cols-12 py-1">
  <div class="col-span-3 text-blue-600 font-medium">Fecha de nacimiento</div>
  <div class="col-span-9">
    @if (loading()) {
      <p-skeleton class="mb-2" />
    } @else {
      {{ data().birthDate | date:'yyyy-MM-dd' }}
    }
  </div>
</div>

<!-- Active -->
<div class="grid grid-cols-12 py-1">
  <div class="col-span-3 text-blue-600 font-medium">Activo</div>
  <div class="col-span-9">
    @if (isActive) {
      <span class="pi pi-check text-green-600"></span>
    } @else {
      <span class="pi pi-times text-amber-500"></span>
    }
  </div>
</div>

<!-- Renewal -->
<div class="grid grid-cols-12 py-1">
  <div class="col-span-3 text-blue-600 font-medium">Renovación</div>
  <div class="col-span-9">
    @if (isRenewed) {
      <span class="pi pi-check text-green-600"></span>
    } @else {
      <span class="pi pi-times text-amber-500"></span>
    }
  </div>
</div>