<div class="row">
    <h1>users</h1>
</div>
<layout-data-list createRoute="/security/users/create" [waiting]="loading" [pageInfo]="pageInfo" (delete)="onDelete()">
    <table class="table">
        <thead>
            <tr>
                <th scope="col">
                    <pagination-order-button property="username" [disabled]="isLoading()"></pagination-order-button>username
                </th>
                <th scope="col"></th>
            </tr>
        </thead>
        <tbody>
            <ng-template ngFor let-user [ngForOf]="users">
                <tr>
                    <td>{{user.username}}</td>
                    <td>
                        <button-link-edit link="/security/users/{{user.id}}"></button-link-edit>
                        <button-delete (click)="select(user)" data-bs-toggle="modal"
                          data-bs-target="#deleteModal"></button-delete>
                    </td>
                </tr>
            </ng-template>
        </tbody>
    </table>
</layout-data-list>