<form [formGroup]="form" (ngSubmit)="onSave()" class="needs-validation" novalidate>
  <!-- Member -->
  <div class="row mb-2">
    <label for="memberNameInput" class="col-sm-2 col-form-label">Socio</label>
    <div class="col-sm-10">
      <input disabled type="text" id="memberNameInput" [value]="member.name.fullName" readonly="true"
        class="form-control" aria-describedby="memberNameLabel">
    </div>
  </div>
  <!-- Fee -->
  <div class="row mb-2">
    <label for="feeDateInput" id="feeDateLabel" class="col-sm-2 col-form-label">Cuota</label>
    <div class="col-sm-10">
      <input type="month" id="feeDateInput" formControlName="month" class="form-control" appInvalidField="feeDate"
        [backendFailure]="failures.hasFailures('feeDate')">
      <app-input-failure-feedback [failures]="failures.getFailures('feeDate')"></app-input-failure-feedback>
    </div>
  </div>

  <!-- Save button -->
  <div class="row">
    <div class="col-sm-2 d-grid gap-2">
      <!-- Save button -->
      <layout-waiting-button [waiting]="waiting" [disabled]="!saveEnabled" name="Save"
        (action)="onSave()">Guardar</layout-waiting-button>
    </div>
  </div>
</form>