<layout-article title="Edit transaction">
  <layout-edition-wrapper [editable]="editable" [saving]="saving" [editing]="editing" [deletable]="deletable"
    [valid]="valid" (delete)="onDelete()" (edit)="onStartEditing()" (save)="onSave()">
    <!-- Form -->
    <assoc-transaction-form id="edit" [form]="form" [readonly]="!isEditable()" [failures]="failures">
    </assoc-transaction-form>
    <!-- Info -->
    <assoc-transaction-info id="info" [data]="data"></assoc-transaction-info>
  </layout-edition-wrapper>
</layout-article>