<form [formGroup]="form" (ngSubmit)="onSave()" novalidate>

  <!-- Name group -->
  <div formGroupName="name">

    <!-- First name -->
    <p-floatlabel variant="in" class="mb-2 d-flex">
      <input pInputText type="text" id="firstNameInput" formControlName="firstName"
        [invalid]="isFieldInvalid('name.firstName')" class="w-full" />
      <label for="firstNameInput">Nombre</label>
    </p-floatlabel>

    @for (failure of failures().getFailures('name.firstName'); track failure) {
      <p-message severity="error" size="small" variant="simple">
        {{ failure.message }}
      </p-message>
    }

    <!-- Last name -->
    <p-floatlabel variant="in" class="mb-2 d-flex">
      <input pInputText type="text" id="lastNameInput" formControlName="lastName"
        [invalid]="isFieldInvalid('name.lastName')" class="w-full" />
      <label for="lastNameInput">Apellidos</label>
    </p-floatlabel>

    @for (failure of failures().getFailures('name.lastName'); track failure) {
      <p-message severity="error" size="small" variant="simple">
        {{ failure.message }}
      </p-message>
    }

  </div>

  <p-button type="submit" name="Guardar" [disabled]="!formStatus.saveEnabled" [loading]="loading()"
    [attr.aria-disabled]="!formStatus.saveEnabled">
    Guardar
  </p-button>
</form>