<p-card>
  <!-- Username -->
  <div class="row">
    <div class="col-sm-3 text-primary">Nombre de usuario</div>
    <div class="col-sm-9">
      @if (loading) {
        <p-skeleton class="mb-2" />
      } @else {
        {{account.username}}
      }
    </div>
  </div>
  <!-- Name -->
  <div class="row">
    <div class="col-sm-3 text-primary">Nombre</div>
    <div class="col-sm-9">
      @if (loading) {
        <p-skeleton class="mb-2" />
      } @else {
        {{account.name}}
      }
    </div>
  </div>
  <!-- Email -->
  <div class="row">
    <div class="col-sm-3 text-primary">E-mail</div>
    <div class="col-sm-9">
      @if (loading) {
        <p-skeleton class="mb-2" />
      } @else {
        {{account.email}}
      }
    </div>
  </div>
</p-card>
@if (account.profile) {
<article class="p-4">
  <header>
    <h2 class="border-bottom">Socio</h2>
  </header>
  <p-card>
    <account-profile-profile [data]="profile" />
  </p-card>
</article>
}