<nav aria-label="Page navigation">
    <ul class="pagination pagination-sm">
        <li class="page-item" [ngClass]="{'disabled': isPreviousDisabled()}">
            <button id="go_to_previous_page" type="button" (click)="onPrevious()" [disabled]="isPreviousDisabled()"
                [attr.aria-disabled]="isPreviousDisabled()" class="page-link" aria-label="Previous page">
                <fa-icon [icon]="backwardIcon"></fa-icon>
            </button>
        </li>
        <li class="page-item">
            <div class="input-group input-group-sm">
                <input id="go_to_page" class="form-control" aria-label="Current page" (input)="onChoosePage($event)"
                    [value]="currentPage">
                <div> {{" / "}}</div>
                <div id="total_pages">{{totalPages}}</div>
            </div>
        </li>
        <li class="page-item" [ngClass]="{'disabled': isNextDisabled()}">
            <button id="go_to_next_page" type="button" (click)="onNext()" [disabled]="isNextDisabled()"
                [attr.aria-disabled]="isNextDisabled()" class="page-link" aria-label="Next page">
                <fa-icon [icon]="forwardIcon"></fa-icon>
            </button>
        </li>
    </ul>
</nav>