<layout-article title="Editar rol">
  <div appResponsiveShortColumns>
    <!-- Role -->
    <div class="mb-1">
      <app-card>
        <app-card-header>
          <!-- Tabs -->
          <ul class="nav nav-tabs card-header-tabs">
            <li class="nav-item">
              <a class="nav-link" [class.active]="view === 'details'" aria-current="page" role="button"
                (click)="onChangeView('details')">Detalles</a>
            </li>
            <li class="nav-item">
              <a class="nav-link" [class.active]="view === 'permissions'" aria-current="page" role="button"
                (click)="onChangeView('permissions')">Permisos</a>
            </li>
          </ul>
        </app-card-header>
        <ng-container [ngSwitch]="view">
          <ng-container *ngSwitchCase="'details'">
            <app-card-body>
              <access-role-info id="info" [data]="data" [waiting]="waiting"></access-role-info>
            </app-card-body>
            <app-card-footer *ngIf="showMenu">
              <form-control-buttons [editable]="editable" [deletable]="deletable" (startEditing)="onStartEditing()"
                (delete)="onDelete()"></form-control-buttons>
            </app-card-footer>
          </ng-container>
          <ng-container *ngSwitchCase="'permissions'">
            <!-- Permissions -->
            <div class="mb-3">
              <app-card>
                <app-card-body>
                  <!-- Permissions list -->
                  <access-role-permissions [permissions]="data.permissions" [deletable]="deleteEnabled"
                    (remove)="onRemovePermission($event)"></access-role-permissions>
                  <div class="d-grid">
                    <!-- Add button -->
                    <button type="button" class="btn btn-primary" aria-label="Pick permission" data-bs-toggle="modal"
                      data-bs-target="#pickPermissionModal">
                      <icon-add></icon-add>
                    </button>
                  </div>
                </app-card-body>
              </app-card>
            </div>
          </ng-container>
        </ng-container>
      </app-card>
    </div>
  </div>
</layout-article>

<!-- Modal for picking permissions -->
<layout-modal name="pickPermissionModal" title="Elige un permiso" acceptText="">
  <access-role-add-permission [permissions]="permissions" (goTo)="onLoadPermissions($event)"
    (changeDirection)="onChangePermissionsDirection($event)"
    (addPermission)="onAddPermission($event)"></access-role-add-permission>
</layout-modal>