<div id="form_controls" class="btn-group" role="group" aria-label="Data edition">
    <button *ngIf="showSave()" id="save" (click)="onSave()" [disabled]="disabledSave" [attr.aria-disabled]="disabledSave" type="button" class="btn btn-default" role="button">
        <icon-save></icon-save>
    </button>
    <button *ngIf="showDelete()" id="delete" (click)="onDelete()" [disabled]="disabledDelete" [attr.aria-disabled]="disabledDelete" type="button" class="btn btn-default" role="button">
        <icon-delete></icon-delete>
    </button>
    <button *ngIf="showAdd()" id="add" (click)="onAdd()" [disabled]="disabledAdd" [attr.aria-disabled]="disabledAdd" type="button" class="btn btn-default" role="button">
        <icon-add></icon-add>
    </button>
</div>