<form [formGroup]="form" (ngSubmit)="submit()" novalidate>
  <!-- Name -->
  <p-floatlabel variant="in" class="mb-2 d-flex">
    <input pInputText type="text" id="nameInput" formControlName="name"
      [invalid]="isFieldInvalid('name')" maxlength="50" class="w-100" />
    <label for="nameInput">Nombre</label>
  </p-floatlabel>
  <div class="mb-2">
    @for (failure of failures().getFailures('name'); track failure) {
      <p-message severity="error" size="small" variant="simple">
        {{failure.message}}
      </p-message>
    }
  </div>
  <!-- Amount -->
  <p-floatlabel variant="in" class="mb-2 d-flex">
    <input pInputText type="number" id="amountInput" formControlName="amount" class="w-100" />
    <label for="amountInput">Importe</label>
  </p-floatlabel>
  <div class="mb-2">
    @for (failure of failures().getFailures('amount'); track failure) {
      <p-message severity="error" size="small" variant="simple">
        {{failure.message}}
      </p-message>
    }
  </div>
  <p-button type="submit" name="Guardar" [disabled]="!formStatus.saveEnabled" [loading]="loading()"
    [attr.aria-disabled]="!formStatus.saveEnabled">Guardar</p-button>
</form>