<form [formGroup]="form" (ngSubmit)="onSave()" class="needs-validation" novalidate>
  <!-- Number -->
  <div class="row mb-2">
    <label for="numberInput" id="numberLabel" class="col-sm-2 col-form-label">Number</label>
    <div class="col-sm-10">
      <input type="text" [value]="data.number" id="numberInput" [readonly]="true" class="form-control"
        aria-describedby="numberLabel">
    </div>
  </div>
  <!-- Name -->
  <div class="row mb-2">
    <label for="nameInput" id="nameLabel" class="col-sm-2 col-form-label">Name</label>
    <div class="col-sm-10">
      <input type="text" id="nameInput" formControlName="name" class="form-control"
        [ngClass]="{ 'is-invalid': isFieldInvalid('name') }" aria-describedby="nameLabel">
      <div class="invalid-feedback" *ngFor="let failure of getFailures('name')">
        {{failure.message}}
      </div>
    </div>
  </div>
  <!-- Surname -->
  <div class="row mb-2">
    <label for="surnameInput" id="surnameLabel" class="col-sm-2 col-form-label">Surname</label>
    <div class="col-sm-10">
      <input type="text" id="surnameInput" formControlName="surname" class="form-control"
        [ngClass]="{ 'is-invalid': isFieldInvalid('surname') }" aria-describedby="surnameLabel">
      <div class="invalid-feedback" *ngFor="let failure of getFailures('surname')">
        {{failure.message}}
      </div>
    </div>
  </div>
  <!-- Identifier -->
  <div class="row mb-2">
    <label for="identifierInput" id="identifierLabel" class="col-sm-2 col-form-label">Identifier</label>
    <div class="col-sm-10">
      <input type="text" id="identifierInput" formControlName="identifier" class="form-control"
        [ngClass]="{ 'is-invalid': isFieldInvalid('identifier') }" aria-describedby="identifierLabel">
      <div class="invalid-feedback" *ngFor="let failure of getFailures('identifier')">
        {{failure.message}}
      </div>
    </div>
  </div>
  <!-- Phone -->
  <div class="row mb-2">
    <label for="phoneInput" id="phoneLabel" class="col-sm-2 col-form-label">Phone</label>
    <div class="col-sm-10">
      <input type="text" id="phoneInput" formControlName="phone" class="form-control"
        [ngClass]="{ 'is-invalid': isFieldInvalid('phone') }" aria-describedby="phoneLabel">
      <div class="invalid-feedback" *ngFor="let failure of getFailures('phone')">
        {{failure.message}}
      </div>
    </div>
  </div>
  <!-- Active -->
  <div class="row mb-2">
    <label id="activeLabel" class="col-sm-2 col-form-label">Active</label>
    <div class="col-sm-10">
      <icon-success *ngIf="data.active"></icon-success>
      <icon-failure *ngIf="!data.active"></icon-failure>
    </div>
  </div>
  <!-- Save button -->
  <div class="row">
    <div class="col-sm-2 d-grid gap-2">
      <layout-waiting-button [waiting]="waiting" [disabled]="isSaveDisabled()" name="Save"
        (action)="onSave()"></layout-waiting-button>
    </div>
  </div>
</form>