<form [formGroup]="form" (ngSubmit)="onSave()" class="needs-validation" novalidate>
  <!-- Name -->
  <div class="row mb-2">
    <label for="nameInput" id="nameLabel" class="col-sm-2 col-form-label">Name</label>
    <div class="col-sm-10">
      <input type="text" id="nameInput" formControlName="name" [readonly]="readonly" class="form-control"
        [ngClass]="{ 'is-invalid': isFieldInvalid('name') }" aria-describedby="nameLabel">
      <div class="invalid-feedback" *ngFor="let failure of getFailures('name')">
        {{failure.message}}
      </div>
    </div>
  </div>
  <!-- Surname -->
  <div class="row mb-2">
    <label for="surnameInput" id="surnameLabel" class="col-sm-2 col-form-label">Surname</label>
    <div class="col-sm-10">
      <input type="text" id="surnameInput" formControlName="surname" [readonly]="readonly" class="form-control"
        [ngClass]="{ 'is-invalid': isFieldInvalid('surname') }" aria-describedby="surnameLabel">
      <div class="invalid-feedback" *ngFor="let failure of getFailures('surname')">
        {{failure.message}}
      </div>
    </div>
  </div>
  <!-- Identifier -->
  <div class="row mb-2">
    <label for="identifierInput" id="identifierLabel" class="col-sm-2 col-form-label">Identifier</label>
    <div class="col-sm-10">
      <input type="text" id="identifierInput" formControlName="identifier" [readonly]="readonly"
        class="form-control" [ngClass]="{ 'is-invalid': isFieldInvalid('identifier') }" aria-describedby="identifierLabel">
      <div class="invalid-feedback" *ngFor="let failure of getFailures('identifier')">
        {{failure.message}}
      </div>
    </div>
  </div>
  <!-- Phone -->
  <div class="row mb-2">
    <label for="phoneInput" id="phoneLabel" class="col-sm-2 col-form-label">Phone</label>
    <div class="col-sm-10">
      <input type="text" id="phoneInput" formControlName="phone" [readonly]="readonly" class="form-control"
        [ngClass]="{ 'is-invalid': isFieldInvalid('phone') }" aria-describedby="phoneLabel">
      <div class="invalid-feedback" *ngFor="let failure of getFailures('phone')">
        {{failure.message}}
      </div>
    </div>
  </div>
  <!-- Active -->
  <div class="col-sm-10 offset-sm-2">
    <input type="checkbox" id="activeInput" formControlName="active" [readonly]="readonly" class="form-check-input"
      [ngClass]="{ 'is-invalid': isFieldInvalid('active') }" aria-describedby="activeLabel">
    <label for="activeInput" id="activeLabel" class="form-check-label ps-1">Active</label>
    <div class="invalid-feedback" *ngFor="let failure of getFailures('active')">
      {{failure.message}}
    </div>
  </div>
  <!-- Save button -->
  <div class="row">
    <div class="col-sm-2 d-grid gap-2">
      <layout-waiting-button [waiting]="waiting" [disabled]="isSaveDisabled()" name="Save"
        (action)="onSave()"></layout-waiting-button>
    </div>
  </div>
</form>