<form [formGroup]="form" (ngSubmit)="onSave()" class="needs-validation" novalidate>
  <!-- Number -->
  <div *ngIf="data?.number" class="row mb-2">
    <label for="numberInput" id="numberLabel" class="col-sm-2 col-form-label">Number</label>
    <div class="col-sm-10">
      <input type="text" [value]="data?.number" id="numberInput" [readonly]="true" class="form-control"
        aria-describedby="numberLabel">
    </div>
  </div>
  <!-- First name -->
  <div class="row mb-2">
    <label for="firstNameInput" id="firstNameLabel" class="col-sm-2 col-form-label">First name</label>
    <div class="col-sm-10">
      <div formGroupName="name">
        <input type="text" id="firstNameInput" formControlName="firstName" class="form-control"
          [ngClass]="{ 'is-invalid': isFieldInvalid('firstName') }" aria-describedby="firstNameLabel">
      </div>
      <div class="invalid-feedback" *ngFor="let failure of getFailures('firstName')">
        {{failure.message}}
      </div>
    </div>
  </div>
  <!-- Last name -->
  <div class="row mb-2">
    <label for="lastNameInput" id="lastNameLabel" class="col-sm-2 col-form-label">lastName</label>
    <div class="col-sm-10">
      <div formGroupName="name">
        <input type="text" id="lastNameInput" formControlName="lastName" class="form-control"
          [ngClass]="{ 'is-invalid': isFieldInvalid('lastName') }" aria-describedby="lastNameLabel">
      </div>
      <div class="invalid-feedback" *ngFor="let failure of getFailures('lastName')">
        {{failure.message}}
      </div>
    </div>
  </div>
  <!-- Identifier -->
  <div class="row mb-2">
    <label for="identifierInput" id="identifierLabel" class="col-sm-2 col-form-label">Identifier</label>
    <div class="col-sm-10">
      <input type="text" id="identifierInput" formControlName="identifier" class="form-control"
        [ngClass]="{ 'is-invalid': isFieldInvalid('identifier') }" aria-describedby="identifierLabel">
      <div class="invalid-feedback" *ngFor="let failure of getFailures('identifier')">
        {{failure.message}}
      </div>
    </div>
  </div>
  <!-- Phone -->
  <div class="row mb-2">
    <label for="phoneInput" id="phoneLabel" class="col-sm-2 col-form-label">Phone</label>
    <div class="col-sm-10">
      <input type="text" id="phoneInput" formControlName="phone" class="form-control"
        [ngClass]="{ 'is-invalid': isFieldInvalid('phone') }" aria-describedby="phoneLabel">
      <div class="invalid-feedback" *ngFor="let failure of getFailures('phone')">
        {{failure.message}}
      </div>
    </div>
  </div>
  <!-- Save button -->
  <div class="row">
    <div class="col-sm-2 d-grid gap-2">
      <layout-waiting-button [waiting]="waiting" [disabled]="isSaveDisabled()" name="Save"
        (action)="onSave()"></layout-waiting-button>
    </div>
  </div>
</form>