<form [formGroup]="form" (ngSubmit)="onSave()" class="needs-validation" novalidate>
  <div class="text-center">
    <div class="row mb-2">
      <label for="nameInput" id="nameLabel" class="col-sm-2 col-form-label">name</label>
      <div class="col-sm-10">
        <input type="text" id="nameInput" [disabled]="disabled" aria-describedby="nameLabel" formControlName="name" class="form-control"
          [ngClass]="{ 'is-invalid': form.get('name')?.errors }">
        <div class="invalid-feedback">
          <div *ngIf="form.get('name')?.hasError('required')">
            missing_name
          </div>
        </div>
      </div>
    </div>
    <div class="row mb-2">
      <label for="surnameInput" id="surnameLabel" class="col-sm-2 col-form-label">surname</label>
      <div class="col-sm-10">
        <input type="text" id="surnameInput" [disabled]="disabled" aria-describedby="surnameLabel" formControlName="surname"
          class="form-control" [ngClass]="{ 'is-invalid': form.get('surname')?.errors }">
      </div>
    </div>
    <div class="row mb-2">
      <label for="phoneInput" id="phoneLabel" class="col-sm-2 col-form-label">phone</label>
      <div class="col-sm-10">
        <input type="text" id="phoneInput" [disabled]="disabled" aria-describedby="phoneLabel" formControlName="phone" class="form-control"
          [ngClass]="{ 'is-invalid': form.get('phone')?.errors }">
      </div>
    </div>
    <div class="row mb-2">
      <label for="identifierInput" id="identifierLabel" class="col-sm-2 col-form-label">identifier</label>
      <div class="col-sm-10">
        <input type="text" id="identifierInput" [disabled]="disabled" aria-describedby="identifierLabel" formControlName="identifier"
          class="form-control" [ngClass]="{ 'is-invalid': form.get('identifier')?.errors }">
      </div>
    </div>
    <div class="row mb-2">
      <div class="col-sm-10 offset-sm-2">
        <div class="form-check">
          <input type="checkbox" id="activeInput" [disabled]="disabled" aria-describedby="activeLabel" formControlName="active"
            class="form-check-input" [ngClass]="{ 'is-invalid': form.get('active')?.errors }">
          <label for="activeInput" id="activeLabel" class="col-sm-2 col-form-label">active</label>
        </div>
      </div>
    </div>
  </div>
</form>