<form [formGroup]="form" (ngSubmit)="onSave()" class="needs-validation" novalidate>
  <!-- Password -->
  <p-floatlabel variant="in" class="mb-2 d-flex">
    <input pInputText type="password" id="passwordInput" formControlName="password" class="w-100" />
    <label for="passwordInput">Contraseña</label>
  </p-floatlabel>
  <!-- Repeat password -->
  <p-floatlabel variant="in" class="mb-2 d-flex">
    <input pInputText type="password" id="confirmPasswordInput" formControlName="confirmPassword" class="w-100" />
    <label for="confirmPasswordInput">Repite contraseña</label>
  </p-floatlabel>
  <!-- Password mismatch warning -->
  <div *ngIf="showPasswordMismatchWarning()" id="passwordMismatchWarning" class="text-danger text-center pb-2">Las
    contraseñas no coinciden</div>
  <!-- Submit button -->
  <div class="d-grid gap-2">
    <button type="submit" name="Reset" class="btn btn-primary" [uiWaiting]="waiting" [disabled]="!saveEnabled"
      [attr.aria-disabled]="!saveEnabled">Cambiar</button>
  </div>
</form>