<div class="container text-center">
  <div class="row">
    <div class="col-sm-6 pb-2">
      @switch (active) {
        @case (true) {
          <!-- Disable button -->
          <button class="btn btn-primary" [disabled]="disabled" aria-label="Deactivate" data-bs-toggle="modal"
          data-bs-target="#deactivateModal">Desactivar</button>
        }
        @case (false) {
          <!-- Enable button -->
          <button class="btn btn-primary" [disabled]="disabled" aria-label="Activate" data-bs-toggle="modal"
          data-bs-target="#activateModal">Activar</button>
        }
        @case (null) {
          <!-- Convert to member button -->
          <button class="btn btn-primary" [disabled]="disabled" aria-label="Convert to member" data-bs-toggle="modal"
            data-bs-target="#convertToMemberModal">Convertir en
          socio</button>
        }
      }
    </div>
    <div class="col-sm-6">
      @switch (renew) {
        @case (true) {
          <!-- Disable button -->
          <button class="btn btn-primary" [disabled]="disabled" aria-label="Disable renewal" data-bs-toggle="modal"
            data-bs-target="#disableRenewModal">Desactivar
          renovación</button>
        }
        @case (false) {
          <!-- Enable button -->
          <button class="btn btn-primary" [disabled]="disabled" aria-label="Enable renewal" data-bs-toggle="modal"
            data-bs-target="#convertToMemberModal">Activar
          renovación</button>
        }
      }
    </div>
  </div>
</div>

<!-- Modal confirmation for deactivating -->
<ui-modal name="deactivateModal" title="Desactivar socio" acceptText="Desactivar" (accept)="deactivate.emit()">
  <p>¿Estás seguro de que quieres marcar como no activo al socio?</p>
</ui-modal>

<!-- Modal confirmation for activating -->
<ui-modal name="activateModal" title="Activar socio" acceptText="Activar" (accept)="activate.emit()">
  <p>¿Estás seguro de que quieres marcar como activo al socio?</p>
</ui-modal>

<!-- Modal confirmation for disabling renewal -->
<ui-modal name="disableRenewModal" title="Desactivar renovación" acceptText="Desactivar"
  (accept)="disableRenew.emit()">
  <p>¿Estás seguro de que quieres desactivar la renovación del socio?</p>
</ui-modal>

<!-- Modal confirmation for enabling renewal -->
<ui-modal name="enableRenewModal" title="Activar renovación" acceptText="Activar" (accept)="enableRenew.emit()">
  <p>¿Estás seguro de que quieres activar la renovación del socio?</p>
</ui-modal>

<!-- Modal confirmation for converting to member -->
<ui-modal name="convertToMemberModal" title="Convertir en socio" acceptText="Convertir"
  (accept)="convertToMember.emit()">
  <p>Esto convertirá a esta persona en un socio</p>
</ui-modal>