<layout-article title="Edit fee">
  <layout-edition-wrapper [editable]="editable" [saving]="saving" [editing]="editing" [deletable]="deletable"
    [valid]="valid" (delete)="onDelete()" (edit)="onStartEditing()" (save)="onSave()">
    <!-- Form -->
    <div id="edit">
      <!-- Select member -->
      <assoc-member-selection-input [saving]="saving" [member]="member"
        (requestMember)="onRequestMember()"></assoc-member-selection-input>
      <assoc-fee-form [form]="form" [readonly]="!isEditable()" [failures]="failures">
      </assoc-fee-form>
    </div>
    <!-- Info -->
    <assoc-fee-info id="info" [data]="data"></assoc-fee-info>
  </layout-edition-wrapper>
</layout-article>