<div class="card">
  <div class="card-body">
    <!-- List -->
    <layout-waiting-overlay [waiting]="readingFees">
      <assoc-my-fees-list [fees]="page.content"></assoc-my-fees-list>
    </layout-waiting-overlay>
    <!-- Total -->
    <div class="row">
      <div class="col-md-1">
        <p>Total: {{page.totalElements}}</p>
      </div>
    </div>
    <!-- Page navigation -->
    <div class="d-flex justify-content-center mt-1">
      <pagination-navigation [current]="page.page + 1" [pages]="page.totalPages" [disabled]="readingFees"
        (goTo)="load($event)">
      </pagination-navigation>
    </div>
  </div>
</div>