<form class="needs-validation" novalidate>
  <!-- Number -->
  <div class="row mb-2">
    <div class="col">
      # {{data.number}}
    </div>
  </div>
  <!-- Name -->
  <div class="row mb-2">
    <div class="col-2">
      Nombre
    </div>
    <div class="col-10">
      {{data.name.fullName}}
    </div>
  </div>
  <!-- Identifier -->
  <div class="row mb-2">
    <label for="identifierInput" id="identifierLabel" class="col-sm-2 col-form-label">DNI</label>
    <div class="col-sm-10">
      {{data.identifier}}
    </div>
  </div>
  <!-- Phone -->
  <div class="row mb-2">
    <label for="phoneInput" id="phoneLabel" class="col-sm-2 col-form-label">Teléfono</label>
    <div class="col-sm-10">
      {{data.phone}}
    </div>
  </div>
</form>