<!-- List -->
<table class="table table-hover">
  <thead>
    <tr>
      <!-- Headers -->
      <th scope="col">
        Usuario <sorting-button property="username" (directionChange)="changeDirection.emit($event)" />
      </th>
      <th scope="col">
        Fecha <sorting-button property="date" (directionChange)="changeDirection.emit($event)" />
      </th>
      <th scope="col">
        Login <sorting-button property="loggedIn" (directionChange)="changeDirection.emit($event)" />
      </th>
    </tr>
  </thead>
  <tbody class="table-group-divider">
    @for (user of data(); track user; let rowIndex = $index) {
      <tr>
        <!-- Cells -->
        <td>
          {{user.username}}
        </td>
        <td>
          {{user.date}}
        </td>
        <td>
          <icon-success-or-failure [success]="user.loggedIn" />
        </td>
      </tr>
    }
  </tbody>
</table>