<!-- Number -->
<div class="row">
  <div class="col-3" *layoutPlaceholder="waiting">
    # {{data.number}}
  </div>
</div>
<!-- First name -->
<div class="row">
  <div class="col-sm-3 text-primary">Nombre</div>
  <div class="col-sm-9" *layoutPlaceholder="waiting">
    {{data.name.firstName}}
  </div>
</div>
<!-- Last name -->
<div class="row">
  <div class="col-sm-3 text-primary">Apellidos</div>
  <div class="col-sm-9" *layoutPlaceholder="waiting">
    {{data.name.lastName}}
  </div>
</div>
<!-- Identifier -->
<div class="row">
  <div class="col-sm-3 text-primary">DNI</div>
  <div class="col-sm-9" *layoutPlaceholder="waiting">
    {{data.identifier}}
  </div>
</div>
<!-- Phone -->
<div class="row">
  <div class="col-sm-3 text-primary">Teléfono</div>
  <div class="col-sm-9" *layoutPlaceholder="waiting">
    {{data.phone}}
  </div>
</div>