<form [formGroup]="form" (ngSubmit)="onSave()" class="needs-validation" novalidate>
  <!-- Name -->
  <div class="row mb-2">
    <label for="nameInput" id="nameLabel" class="col-sm-2 col-form-label">Nombre</label>
    <div class="col-sm-10">
      <input type="text" id="nameInput" formControlName="name" class="form-control" appInvalidField="name"
        [backendFailure]="failures.hasFailures('name')" aria-describedby="nameLabel">
      <app-input-failure-feedback [failures]="failures.getFailures('name')"></app-input-failure-feedback>
    </div>
  </div>
  <div class="row">
    <!-- Save button -->
    <div class="col-sm-2 d-grid gap-2">
      <layout-waiting-button [waiting]="waiting" [disabled]="!saveEnabled" name="Save"
        (action)="onSave()">Guardar</layout-waiting-button>
    </div>
    <!-- Cancel button -->
    <ng-template [ngIf]="cancellable">
      <div class="col-sm-2 d-grid gap-2">
        <button class="btn btn-primary" [disabled]="!cancelEnabled" name="Cancel" (click)="onCancel()">Cancelar</button>
      </div>
    </ng-template>
  </div>
</form>