<!-- Username -->
<div class="row mb-2">
  <div class="col-sm-2 text-primary">Usuario</div>
  <div class="col-sm-10" *uiPlaceholder="waiting">
    {{data.username}}
  </div>
</div>
<!-- Name -->
<div class="row mb-2">
  <div class="col-sm-2 text-primary">Nombre</div>
  <div class="col-sm-10" *uiPlaceholder="waiting">
    {{data.name}}
  </div>
</div>
<!-- Token -->
<div class="row mb-2">
  <div class="col-sm-2 text-primary">Token</div>
  <div class="col-sm-10" *uiPlaceholder="waiting">
    {{data.token}}
  </div>
</div>
<!-- Scope -->
<div class="row mb-2">
  <div class="col-sm-2 text-primary">Alcance</div>
  <div class="col-sm-10" *uiPlaceholder="waiting">
    {{data.scope}}
  </div>
</div>
<!-- Creation date -->
<div class="row mb-2">
  <div class="col-sm-2 text-primary">Fecha de creación</div>
  <div class="col-sm-10" *uiPlaceholder="waiting">
    {{data.creationDate}}
  </div>
</div>
<!-- Expiration date -->
<div class="row mb-2">
  <div class="col-sm-2 text-primary">Fecha de
  expiración</div>
  <div class="col-sm-10" *uiPlaceholder="waiting">
    {{data.expirationDate}}
  </div>
  <div class="col-sm-12">
    @for (failure of failures.getFailures('expirationDate'); track failure) {
      <div class="text-danger">
        {{failure.message}}
      </div>
    }
  </div>
</div>