<div class="container-fluid">
  <div class="row">
    <div class="col-md-3 col-lg-2">
      <nav class="bg-light rounded border-secondary mt-2">
        <p class="px-3 mt-3 mb-1 fw-bold text-uppercase border-bottom">
          Account</p>
        <ul class="nav flex-column">
          <li class="nav-item">
            <a routerLink="/account/settings/profile" class="nav-link" title="Profile">Profile</a>
          </li>
          <li class="nav-item">
            <a routerLink="/account/settings/password" class="nav-link" title="Change password">Change password</a>
          </li>
        </ul>
      </nav>
    </div>
    <div class="ms-sm-auto col-md-9 col-lg-10">
      <section id="main-section" class="container flex-grow-1 pt-4 mb-1">
        <router-outlet></router-outlet>
      </section>
    </div>
  </div>
</div>