<div class="row">
    <h1>roles</h1>
</div>
<layout-data-list createRoute="/security/roles/create" [loading]="loading" [pageInfo]="pageInfo" (delete)="onDelete()">
    <table class="table">
        <thead>
            <tr>
                <th scope="col">
                    <order-button property="name" [disabled]="isLoading()"></order-button>name
                </th>
                <th scope="col"></th>
            </tr>
        </thead>
        <tbody>
            <ng-template ngFor let-role [ngForOf]="roles">
                <tr>
                    <td>{{role.name}}</td>
                    <td>
                        <button-link-edit link="/security/roles/{{role.id}}"></button-link-edit>
                        <button-delete (click)="select(role)" data-bs-toggle="modal"
                          data-bs-target="#deleteModal"></button-delete>
                    </td>
                </tr>
            </ng-template>
        </tbody>
    </table>
</layout-data-list>