<layout-article title="Edit fee">
  <layout-waiting-wrapper [waiting]="waiting">
    <layout-edition-wrapper [editable]="editPermission" [saving]="saving" [editing]="editing"
      [deletable]="deletePermission" [readonly]="!isEditable()" (delete)="onDelete()" (edit)="onStartEditing()">
      <!-- Form -->
      <div id="edit">
        <assoc-fee-form [data]="data" [readonly]="!isEditable()" [failures]="failures" (save)="onSave($event)">
        </assoc-fee-form>
      </div>
      <!-- Info -->
      <assoc-fee-info id="info" [data]="data"></assoc-fee-info>
    </layout-edition-wrapper>
  </layout-waiting-wrapper>
</layout-article>