<body>
  <header>
    <layout-navbar title="{{title}}" [loggedIn]="loggedIn" [showConfigMenu]="showConfigMenu" [menus]="menus">
    </layout-navbar>
  </header>
  <div class="container-fluid">
    <div class="row">
      <!-- Sidebar -->
      <div class="col-md-2">
        <aside class="sidebar bg-light mt-2 p-2 border rounded">
          <!-- Iterate over menu options and display each section -->
          <ng-container *ngFor="let menu of menus">
            <h3>{{ menu.title }}</h3>
            <!-- Iterate over links within each section and display them -->
            <a *ngFor="let link of menu.links" [routerLink]="link.path"
              class="list-group-item list-group-item-action menu-item mb-2">
              {{ link.title }}
            </a>
          </ng-container>
        </aside>
      </div>
      <!-- Main content area -->
      <main class="col-md-10">
        <!-- Your router-outlet where your Angular components will be rendered -->
        <router-outlet></router-outlet>
      </main>
    </div>
  </div>
</body>