// navbar-body.component.sass

.sidebar
  background-color: #f8f9fa
  height: calc(100vh - 56px)
  overflow-y: auto
  border-right: 1px solid black

.sidenav
  padding-top: 20px

.menu-item
  background-color: #f8f9fa
  color: #343a40
  border: none
  margin-bottom: 10px  // Adjust margin to add space between menu items
  transition: background-color 0.3s ease  // Smooth transition for hover effect

  &:hover
    background-color: #e9ecef  // Change background color on hover
