<form [formGroup]="form" (ngSubmit)="onSave()" class="needs-validation" novalidate>
  <!-- For each field definition -->
  <ng-template ngFor let-field [ngForOf]="fields">
    <!-- String input -->
    <ng-template [ngIf]="field.type === 'string'">
      <input-string [editable]="editable" [invalid]="isInvalid(field.property)" [property]="field.property"
        [name]="field.name" [failures]="getFailures(field.property)"></input-string>
    </ng-template>
    <!-- Boolean input -->
    <ng-template [ngIf]="field.type === 'boolean'">
      <input-boolean [editable]="editable" [invalid]="isInvalid(field.property)" [property]="field.property"
        [name]="field.name" [failures]="getFailures(field.property)"></input-boolean>
    </ng-template>
    <!-- Decimal input -->
    <ng-template [ngIf]="field.type === 'float'">
      <input-decimal [editable]="editable" [invalid]="isInvalid(field.property)" [property]="field.property"
        [name]="field.name" [failures]="getFailures(field.property)"></input-decimal>
    </ng-template>
    <!-- Date input -->
    <ng-template [ngIf]="field.type === 'date'">
      <input-date [editable]="editable" [invalid]="isInvalid(field.property)" [property]="field.property"
        [name]="field.name" [failures]="getFailures(field.property)"></input-date>
    </ng-template>
    <!-- Month input -->
    <ng-template [ngIf]="field.type === 'month'">
      <input-month [editable]="editable" [invalid]="isInvalid(field.property)" [property]="field.property"
        [name]="field.name" [failures]="getFailures(field.property)"></input-month>
    </ng-template>
  </ng-template>
</form>