<h1>members</h1>
<button-link-create link="/members/create"></button-link-create>
<route-pagination-navigation [pageInfo]="pageInfo"></route-pagination-navigation>
<route-pagination-size-selector [pageInfo]="pageInfo"></route-pagination-size-selector>
<table class="table">
    <thead>
        <tr>
            <th scope="col"></th>
            <th scope="col">
                <route-order-button property="active"></route-order-button>active
            </th>
            <th scope="col">
                <route-order-button property="name"></route-order-button>name
            </th>
            <th scope="col">
                <route-order-button property="surname"></route-order-button>surname
            </th>
        </tr>
    </thead>
    <tbody>
        <ng-template ngFor let-member [ngForOf]="members">
            <tr>
                <td>
                    <button-link-edit link="/members/{{member.id}}"></button-link-edit>
                </td>
                <td><input type="checkbox" [checked]="member.active" [attr.disabled]="true" class="form-check-input">
                </td>
                <td>{{member.name}}</td>
                <td>{{member.surname}}</td>
            </tr>
        </ng-template>
    </tbody>
</table>