<h1>members</h1>
<ul class="list-group">
    <ng-template ngFor let-member [ngForOf]="members">
        <li class="list-group-item">{{member.name}}
            <button-link-edit link="/members/{{member.id}}"></button-link-edit>
        </li>
    </ng-template>
</ul>
<button-link-create link="/members/create"></button-link-create>
<pagination-actuator-navigation [actuator]="paginationActuator" [status]="paginationStatus"></pagination-actuator-navigation>
<pagination-size-actuator-selector></pagination-size-actuator-selector>