<h1>members</h1>
<button-link-create link="/data/members/create"></button-link-create>
<pagination-navigation [totalPages]="pageInfo.totalPages" [first]="pageInfo.first" [last]="pageInfo.last">
</pagination-navigation>
<pagination-size-selector [selected]="pageInfo.size"></pagination-size-selector>
<table class="table">
    <thead>
        <tr>
            <th scope="col"></th>
            <th scope="col">
                <order-button property="active"></order-button>active
            </th>
            <th scope="col">
                <order-button property="name"></order-button>name
            </th>
            <th scope="col">
                <order-button property="surname"></order-button>surname
            </th>
        </tr>
    </thead>
    <tbody>
        <ng-template ngFor let-member [ngForOf]="members">
            <tr>
                <td>
                    <button-link-edit link="/data/members/{{member.id}}"></button-link-edit>
                </td>
                <td><input type="checkbox" [checked]="member.active" [attr.disabled]="true" class="form-check-input">
                </td>
                <td>{{member.name}}</td>
                <td>{{member.surname}}</td>
            </tr>
        </ng-template>
    </tbody>
</table>