<layout-article title="#{{data.number}} {{data.name.fullName}}">
  <div appResponsiveShortColumns>
    <ng-container [ngSwitch]="editing">
      <!-- Form -->
      <ng-container *ngSwitchCase="true">
        <app-card>
          <app-card-body>
            <assoc-people-update-form [waiting]="waiting" [readonly]="!formEnabled" [data]="data" [failures]="failures"
              [cancellable]="true" (save)="onSave($event)" (cancel)="onCancel()" (startEditing)="onStartEditing()">
            </assoc-people-update-form>
          </app-card-body>
        </app-card>
      </ng-container>
      <!-- Info -->
      <ng-container *ngSwitchCase="false">
        <assoc-people-info [data]="data" [showMenu]="showMenu" [editEnabled]="editEnabled" [waiting]="waiting"
          [deletable]="deletable" [editable]="editable" (delete)="onDelete()" (startEditing)="onStartEditing()"
          (activate)="onActivate()" (deactivate)="onDeactivate()" (enableRenew)="onEnableRenew()"
          (disableRenew)="onDisableRenew()" (convertToMember)="onConvertToMember()"></assoc-people-info>
      </ng-container>
    </ng-container>
  </div>
</layout-article>