<layout-article title="Datos de editor">
  <div appResponsiveShortColumns>
    <!-- Form -->
    <app-card>
      <app-card-body>
        <assoc-library-admin-publisher-form [waiting]="waiting" [readonly]="!formEnabled" [data]="data"
          [failures]="failures" (save)="onSave($event)" (cancel)="onCancel()">
        </assoc-library-admin-publisher-form>
      </app-card-body>
      <app-card-footer *ngIf="showMenu">
        <form-control-buttons [editable]="editable" [deletable]="deletable" [disabled]="waiting"
          (startEditing)="onStartEditing()" (delete)="onDelete()"></form-control-buttons>
      </app-card-footer>
    </app-card>
  </div>
</layout-article>