@switch (selectingDonor) {
  @case (false) {
    <form [formGroup]="form" (ngSubmit)="onSave()" class="needs-validation" novalidate>
      <!-- Donation date -->
      <p-floatlabel variant="in">
        <p-datepicker dateFormat="yy-mm-dd" [invalid]="isFieldInvalid('date')" id="dateInput" formControlName="date" />
        <label for="dateInput">Fecha de donación</label>
      </p-floatlabel>
      <div class="mb-2">
        @for (failure of failures().getFailures('date'); track failure) {
        <p-message severity="error" size="small" variant="simple">
          {{failure.message}}
        </p-message>
        }
      </div>
      <!-- Donors -->
      <div class="row mb-2">
        <div class="col-sm-12">
          <h2>Donantes</h2>
        </div>
        <div class="col-sm-12">
          <table class="table">
            <thead>
              <tr>
                <th scope="col">
                </th>
                <th scope="col">
                  Nombre
                </th>
              </tr>
            </thead>
            <tbody class="table-group-divider">
              @for (donor of donors; track donor; let i = $index) {
              <tr>
                <td>
                  <button (click)="onRemoveDonor(donor)" [disabled]="!formEnabled" type="button"
                    class="btn btn-link link-dark" role="button" aria-label="Remove donor">
                    <icon-delete />
                  </button>
                </td>
                <td>{{donor.name.fullName}}</td>
              </tr>
              }
            </tbody>
          </table>
        </div>
        <div uiJustifyCenter>
          <button (click)="onStartSelectingDonor()" type="button" class="btn btn-primary" [disabled]="!formEnabled"
            aria-label="Add donor" data-bs-toggle="modal" data-bs-target="#donorModal"><icon-add /></button>
        </div>
      </div>
      <form-save-controls [waiting]="waiting" [saveDisabled]="!saveEnabled" [cancelDisabled]="!cancelEnabled"
        [cancellable]="cancellable" (reject)="onCancel()" />
    </form>
  }
  @case (true) {
    <assoc-library-admin-donor-selection [values]="donorsSelection().content" [current]="donorsSelection().page" [pages]="donorsSelection().totalPages"
      (choose)="onSelectDonor($event)" (goToPage)="goToDonorPage.emit($event)" />
  }
}