
@switch (selectingDonor) {
  @case (false) {
    <form [formGroup]="form" (ngSubmit)="onSave()" class="needs-validation" novalidate>
      <!-- Date -->
      <div class="row mb-2">
        <label for="dateInput" id="dateLabel" class="col-sm-2 col-form-label">Fecha</label>
        <div class="col-sm-10">
          <input type="date" id="dateInput" formControlName="date" class="form-control" formInvalidField
            [backendFailure]="failures().hasFailures('date')" aria-describedby="dateLabel">
            <form-input-failure-feedback [failures]="failures().getFailures('date')" />
          </div>
        </div>
        <!-- Donors -->
        <div class="row mb-2">
          <div class="col-sm-12">
            <h2>Donantes</h2>
          </div>
          <div class="col-sm-12">
            <table class="table">
              <thead>
                <tr>
                  <th scope="col">
                  </th>
                  <th scope="col">
                    Nombre
                  </th>
                </tr>
              </thead>
              <tbody class="table-group-divider">
                @for (donor of currentDonors; track donor; let i = $index) {
                  <tr>
                    <td>
                      <button (click)="onRemoveDonor(donor)" [disabled]="!formEnabled" type="button"
                        class="btn btn-link link-dark" role="button" aria-label="Remove donor">
                        <icon-delete />
                      </button>
                    </td>
                    <td>{{donor.name.fullName}}</td>
                  </tr>
                }
              </tbody>
            </table>
          </div>
          <div uiJustifyCenter>
            <button (click)="onStartSelectingDonor()" type="button" class="btn btn-primary" [disabled]="!formEnabled"
              aria-label="Add donor" data-bs-toggle="modal" data-bs-target="#donorModal"><icon-add /></button>
            </div>
          </div>
          <form-save-controls [waiting]="waiting" [saveDisabled]="!saveEnabled" [cancelDisabled]="!cancelEnabled"
          [cancellable]="cancellable" (reject)="onCancel()" />
        </form>
      }
      @case (true) {
        <assoc-library-admin-donor-selection [values]="donors().content" [current]="donors().page" [pages]="donors().totalPages"
        (choose)="onSelectDonor($event)" (goToPage)="goToDonorPage.emit($event)" />
      }
    }
