<div class="row mb-2">
  <label for="resourceInput" id="resourceLabel" class="col-sm-2 col-form-label">Resource</label>
  <div class="col-sm-10">
    <input type="text" [value]="data.resource" id="resourceInput" [readonly]="true" class="form-control"
      aria-describedby="resourceLabel">
  </div>
</div>
<!-- Select button -->
<div class="col-sm-1">
  <button type="button" class="btn" aria-label="Search" (click)="onSelectPermission()">
    <icon-search></icon-search>
  </button>
</div>
<div class="row mb-2">
  <label for="actionInput" id="actionLabel" class="col-sm-2 col-form-label">Action</label>
  <div class="col-sm-10">
    <input type="text" [value]="data.action" id="actionInput" [readonly]="true" class="form-control"
      aria-describedby="actionLabel">
  </div>
</div>
<!-- Select button -->
<div class="col-sm-1">
  <button type="button" class="btn" aria-label="Search" (click)="onSelectAction()">
    <icon-search></icon-search>
  </button>
</div>
<!-- Save button -->
<div class="row">
  <div class="col-sm-2 d-grid gap-2">
    <button type="submit" class="btn btn-primary" (click)="onAddPermission()" [disabled]="!isAbleToAdd()"
      [attr.aria-disabled]="!isAbleToAdd()" aria-label="Add">Add</button>
  </div>
</div>