<layout-waiting-wrapper [waiting]="readingActionsSelection || readingResourcesSelection">
  <ng-container [ngSwitch]="view">
    <!-- Selector -->
    <ng-container *ngSwitchCase="'main'">
      <div class="row pb-1">
        <!-- Select resource button -->
        <div class="col-sm-1">
          <button type="button" class="btn" aria-label="Search" (click)="onShowResourceSelection()">
            <fa-icon [icon]="searchIcon"></fa-icon>
          </button>
        </div>
        <!-- Selected resource -->
        <div class="row col-sm-5">
          <input type="text" [value]="resource.name" id="resourceInput" [readonly]="true" class="form-control"
            placeholder="Resource">
        </div>
        <!-- Select action button -->
        <div class="col-sm-1">
          <button type="button" class="btn" aria-label="Search" (click)="onShowActionSelection()">
            <fa-icon [icon]="searchIcon"></fa-icon>
          </button>
        </div>
        <!-- Selected action -->
        <div class="row col-sm-5">
          <input type="text" [value]="action.name" id="actionInput" [readonly]="true" class="form-control"
            placeholder="Action">
        </div>
      </div>
      <!-- Save button -->
      <div class="row">
        <div class="col-sm-2 d-grid gap-2">
          <button type="submit" class="btn btn-primary" (click)="onAddPermission()" [disabled]="!isAbleToAdd()"
            [attr.aria-disabled]="!isAbleToAdd()" aria-label="Add">Add</button>
        </div>
      </div>
    </ng-container>
    <!-- Select action view -->
    <ng-container *ngSwitchCase="'action'">
      <!-- Action list -->
      <access-role-action-pick-list [actions]="actions" (selectRow)="onSelectAction($event)">
      </access-role-action-pick-list>
      <div class="d-flex justify-content-center mt-1">
        <pagination-navigation [current]="actionPage" [pages]="totalActionPages" (goTo)="onGoToActionPage($event)">
        </pagination-navigation>
      </div>
      <!-- Cancel button -->
      <div class="col-sm-1">
        <button type="button" class="btn" aria-label="Search" (click)="onCancelSelect()">
          Cancel
        </button>
      </div>
    </ng-container>
    <!-- Select resource view -->
    <ng-container *ngSwitchCase="'resource'">
      <!-- Resource list -->
      <access-role-resource-pick-list [resources]="resources" (selectRow)="onSelectResource($event)">
      </access-role-resource-pick-list>
      <div class="d-flex justify-content-center mt-1">
        <pagination-navigation [current]="resourcePage" [pages]="totalResourcePages" (goTo)="onGoToResourcePage($event)">
        </pagination-navigation>
      </div>
      <!-- Cancel button -->
      <div class="col-sm-1">
        <button type="button" class="btn" aria-label="Search" (click)="onCancelSelect()">
          Cancel
        </button>
      </div>
    </ng-container>
  </ng-container>
</layout-waiting-wrapper>