<form [formGroup]="form" (ngSubmit)="onSave()" class="needs-validation" novalidate>
  <!-- Member -->
  <div class="row mb-2">
    <label for="fullNameInput" id="fullNameLabel" class="col-sm-2 col-form-label">Socio</label>
    <div class="col-sm-10">
      <input type="text" [value]="fee.person.fullName" id="fullNameInput" readonly="true" class="form-control"
        aria-describedby="fullNameLabel">
    </div>
  </div>
  <!-- Month -->
  <div class="row mb-2">
    <label for="dateInput" id="dateLabel" class="col-sm-2 col-form-label">Mes</label>
    <div class="col-sm-10">
      <input type="month" id="dateInput" formControlName="date" class="form-control" appInvalidField
        [backendFailure]="failures.hasFailures('date')" aria-describedby="dateLabel">
      <app-input-failure-feedback [failures]="failures.getFailures('date')"></app-input-failure-feedback>
    </div>
  </div>
  <!-- Pagado -->
  <div class="row mb-2">
    <label id="activeLabel" class="col-sm-2 col-form-label">Pagado</label>
    <div class="col-sm-10">
      <icon-success-or-failure [success]="data?.paid"></icon-success-or-failure>
    </div>
  </div>
  <!-- Payment date -->
  <div class="row mb-2">
    <label for="paymentDateInput" id="paymentDateLabel" class="col-sm-2 col-form-label">Fecha de pago</label>
    <div class="col-sm-10">
      <input type="date" [value]="fee.transaction.date" id="paymentDateInput" [readonly]="true" class="form-control"
        aria-describedby="paymentDateLabel">
    </div>
  </div>
  <app-save-controls [waiting]="waiting" [saveDisabled]="!saveEnabled" [cancelDisabled]="!cancelEnabled"
    [cancellable]="true" (cancel)="onCancel()" (save)="onSave()"></app-save-controls>
</form>