<table class="table table-hover">
  <thead>
    <tr>
      <!-- Headers -->
      <th scope="col">
        Título <sorting-button property="title" (directionChange)="directionChange.emit($event)"></sorting-button>
      </th>
      <th scope="col">
        Socio <sorting-button property="fullName" (directionChange)="directionChange.emit($event)"></sorting-button>
      </th>
      <th scope="col">
        Fecha de préstamo <sorting-button property="lendingDate"
          (directionChange)="directionChange.emit($event)"></sorting-button>
      </th>
      <th scope="col">
        Días prestado <sorting-button property="days" (directionChange)="directionChange.emit($event)"></sorting-button>
      </th>
    </tr>
  </thead>
  <tbody class="table-group-divider">
    <tr *ngFor="let lending of lendings; let rowIndex = index">
      <!-- Cells -->
      <td>
        {{lending.book.title.fullTitle}}
      </td>
      <td>
        {{lending.borrower.name.fullName}}
      </td>
      <td>
        {{lending.lendingDate}}
      </td>
      <td>
        {{lending.days}}
      </td>
    </tr>
  </tbody>
</table>