<li class="nav-item dropdown">
    <a href="#" class="nav-link dropdown-toggle" id="accountMenuDropdown" data-bs-toggle="dropdown" role="button"
      aria-haspopup="true" aria-expanded="false">
      <icon-settings></icon-settings>
    </a>
    <ul class="dropdown-menu dropdown-menu-end" aria-labelledby="accountMenuDropdown">
      <li>
        <div class="d-flex justify-content-center">
          <a routerLink="/configuration" type="button" class="dropdown-item" title="Configuration">
            <icon-settings></icon-settings>
            Configuration
          </a>
        </div>
      </li>
    </ul>
  </li>