<div layoutResponsiveShortColumns>
  <div class="progress mb-2">
    <div class="progress-bar" role="progressbar" aria-label="Book lending step" [style]="'width: ' + filled_bar + '%'"
      [attr.aria-valuenow]="filled_bar" aria-valuemin="0" aria-valuemax="100"></div>
  </div>
  <ng-container [ngSwitch]="selectedMember">
    <ng-container *ngSwitchCase="false">
      <!-- Select member -->
      <div>
        <div class="row mb-2">
          <div class="col-2">Elige socio</div>
          <div class="col-4 offset-6 d-flex">
            <div class="me-2">
              Estado:
            </div>
            <assoc-member-status-select [disabled]="waiting"
              (changeStatus)="changeFilter.emit($event)"></assoc-member-status-select>
          </div>
        </div>
        <assoc-library-admin-book-lending-member-selection *layoutBlockUi="waiting" [values]="members.content"
          [current]="members.page" [pages]="members.totalPages" (selectMember)="onSelectMember($event)"
          (goToPage)="goToMembersPage.emit($event)">
        </assoc-library-admin-book-lending-member-selection>
      </div>
    </ng-container>
    <ng-container *ngSwitchCase="true">
      <!-- Lend book form -->
      <button type="button" class="btn btn-link" aria-label="Return"
        (click)="onReturnToMembers()"><icon-backward></icon-backward></button>
      <assoc-library-admin-book-lending-form [waiting]="waiting" [failures]="failures" [readonly]="readonly"
        [member]="member" [book]="book" (save)="save.emit($event)">
      </assoc-library-admin-book-lending-form>
    </ng-container>
  </ng-container>
</div>