<layout-article title="Editar usuario">
  <div class="col-md-6 offset-md-3">
    <ul class="nav nav-tabs pb-2">
      <li class="nav-item">
        <a class="nav-link" [class.active]="view === 'user'" aria-current="page" role="button"
          (click)="onChangeView('user')">Usuario</a>
      </li>
      <li class="nav-item">
        <a class="nav-link" [class.active]="view === 'roles'" aria-current="page" role="button"
          (click)="onChangeView('roles')">Roles</a>
      </li>
      <li class="nav-item">
        <a class="nav-link" [class.active]="view === 'member'" aria-current="page" role="button"
          (click)="onChangeView('member')">Socio</a>
      </li>
    </ul>
    <ng-container [ngSwitch]="view">
      <!-- User -->
      <ng-container *ngSwitchCase="'user'">
        <div class="card mb-1">
          <div class="card-body">
            <div *ngIf="showMenu">
              <form-editor-header [editable]="editable" [deletable]="deletable" (startEditing)="onStartEditing()"
                (delete)="onDelete()"></form-editor-header>
            </div>
            <ng-container [ngSwitch]="editing">
              <!-- Form -->
              <ng-container *ngSwitchCase="true">
                <access-user-form [create]="false" [waiting]="waiting" [readonly]="!formEnabled" [data]="data" [failures]="failures"
                  [cancellable]="true" (save)="onSave($event)" (cancel)="onCancel()">
                </access-user-form>
              </ng-container>
              <!-- Info -->
              <ng-container *ngSwitchCase="false">
                <access-user-info [data]="data"></access-user-info>
              </ng-container>
            </ng-container>
          </div>
        </div>
        <!-- Enable/disable button -->
        <div class="mb-1">
          <div class="card">
            <div class="card-body">
              <div class="row">
                <ng-template [ngIf]="!data.enabled">
                  <!-- Enable button -->
                  <div class="col-sm-2 d-grid gap-2">
                    <layout-waiting-button [waiting]="changingActive" [disabled]="!editEnabled" name="Enable"
                      data-bs-toggle="modal"
                      [attr.data-bs-target]="editEnabled ? '#enableModal' : ''">Activar</layout-waiting-button>
                  </div>
                </ng-template>
                <ng-template [ngIf]="data.enabled">
                  <!-- Disable button -->
                  <div class="col-sm-2 d-grid gap-2">
                    <layout-waiting-button [waiting]="changingActive" [disabled]="!editEnabled" name="Disable"
                      data-bs-toggle="modal"
                      [attr.data-bs-target]="editEnabled ? '#disableModal' : ''">Desactivar</layout-waiting-button>
                  </div>
                </ng-template>
              </div>
            </div>
          </div>
        </div>
      </ng-container>
      <!-- Roles -->
      <ng-container *ngSwitchCase="'roles'">
        <article class="p-4">
          <header>
            <h2 class="border-bottom">Roles</h2>
          </header>
          <!-- Roles -->
          <div class="mb-1">
            <div class="card">
              <div class="card-body">
                <access-user-roles-editor [editable]="editEnabled" [deletable]="deleteEnabled"
                  [username]="data.username" [waiting]="waiting" [waitingRolesSelection]="readingRoleSelection"
                  [roles]="data.roles" [rolesSelection]="rolesSelection" (add)="onAddRole($event)"
                  (remove)="onRemoveRole($event)"
                  (goToSelectionPage)="onGoToRoleSelectionPage($event)"></access-user-roles-editor>
              </div>
            </div>
          </div>
        </article>
      </ng-container>
      <!-- Member -->
      <ng-container *ngSwitchCase="'member'">
        <article class="p-4">
          <header>
            <h2 class="border-bottom">Socio</h2>
          </header>
          <!-- Member -->
          <div class="mb-1">
            <div class="card">
              <div class="card-body">
                <access-user-member-editor [member]="member.name.fullName" [editable]="editable"
                  [waiting]="readingMember" [waitingMembersSelection]="readingMemberSelection"
                  [membersSelection]="membersSelection" (goToSelectionPage)="onGoToMemberSelectionPage($event)"
                  (selectMember)="onSelectMember($event)"></access-user-member-editor>
              </div>
            </div>
          </div>
        </article>
      </ng-container>
    </ng-container>
  </div>
</layout-article>

<!-- Modal confirmation for disabling -->
<div id="disableModal" class="modal fade" data-bs-backdrop="static" data-bs-keyboard="false" tabindex="-1"
  aria-hidden="true">
  <div class="modal-dialog">
    <div class="modal-content">
      <div class="modal-body">
        <p>¿Está seguro de que quieres desactivar el usuario?</p>
      </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Cancel</button>
        <button type="button" class="btn btn-danger" (click)="onDisable()" data-bs-dismiss="modal">Disable</button>
      </div>
    </div>
  </div>
</div>

<!-- Modal confirmation for enabling -->
<div id="enableModal" class="modal fade" data-bs-backdrop="static" data-bs-keyboard="false" tabindex="-1"
  aria-hidden="true">
  <div class="modal-dialog">
    <div class="modal-content">
      <div class="modal-body">
        <p>¿Está seguro de que quieres activar el usuario?</p>
      </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Cancel</button>
        <button type="button" class="btn btn-danger" (click)="onEnable()" data-bs-dismiss="modal">Enable</button>
      </div>
    </div>
  </div>
</div>