<layout-article title="Editar usuario">
  <div appResponsiveShortColumns>
    <ng-container [ngSwitch]="editing">
      <!-- Form -->
      <ng-container *ngSwitchCase="true">
        <app-card>
          <app-card-body>
            <access-user-form [create]="false" [waiting]="waiting" [readonly]="!formEnabled" [data]="data"
              [failures]="failures" [cancellable]="true" (save)="onSave($event)" (cancel)="onCancel()">
            </access-user-form>
          </app-card-body>
        </app-card>
      </ng-container>
      <ng-container *ngSwitchCase="false">
        <access-user-info [data]="data" [showMenu]="showMenu" [deletable]="deletable" [editable]="editable"
          [editEnabled]="editEnabled" [waiting]="waiting" [member]="member"
          [readingMemberSelection]="readingMemberSelection" [readingMember]="readingMember"
          [membersSelection]="membersSelection" [readingRoleSelection]="readingRoleSelection"
          [rolesSelection]="rolesSelection" (delete)="onDelete()" (startEditing)="onStartEditing()"
          (addRole)="onAddRole($event)" (removeRole)="onRemoveRole($event)" (selectMember)="onSelectMember($event)"
          (goToRoleSelectionPage)="onGoToRoleSelectionPage($event)"
          (goToMemberSelectionPage)="onGoToMemberSelectionPage($event)"></access-user-info>
      </ng-container>
    </ng-container>
  </div>
</layout-article>

<!-- Modal confirmation for disabling -->
<layout-modal name="disableModal" title="Desactivar usuario" acceptText="Desactivar" (accept)="onDisable()">
  <p>¿Está seguro de que quieres desactivar el usuario?</p>
</layout-modal>

<!-- Modal confirmation for enabling -->
<layout-modal name="enableModal" title="Activar usuario" acceptText="Activar" (accept)="onEnable()">
  <p>¿Está seguro de que quieres activar el usuario?</p>
</layout-modal>