<layout-article title="Editar usuario">
  <div appResponsiveShortColumns>
    <div class="card">
      <div class="card-header">
        <ul class="nav nav-tabs card-header-tabs">
          <li class="nav-item">
            <a class="nav-link" [class.active]="view === 'user'" aria-current="page" role="button"
              (click)="onChangeView('user')">Usuario</a>
          </li>
          <li class="nav-item">
            <a class="nav-link" [class.active]="view === 'status'" aria-current="page" role="button"
              (click)="onChangeView('status')">Estado</a>
          </li>
          <li class="nav-item">
            <a class="nav-link" [class.active]="view === 'roles'" aria-current="page" role="button"
              (click)="onChangeView('roles')">Roles</a>
          </li>
          <li class="nav-item">
            <a class="nav-link" [class.active]="view === 'member'" aria-current="page" role="button"
              (click)="onChangeView('member')">Socio</a>
          </li>
        </ul>
      </div>
      <div class="card-body">
        <ng-container [ngSwitch]="editing">
          <!-- Form -->
          <ng-container *ngSwitchCase="true">
            <div class="card mb-1">
              <div class="card-body">
                <access-user-form [create]="false" [waiting]="waiting" [readonly]="!formEnabled" [data]="data"
                  [failures]="failures" [cancellable]="true" (save)="onSave($event)" (cancel)="onCancel()">
                </access-user-form>
              </div>
            </div>
          </ng-container>
          <ng-container *ngSwitchCase="false">
            <access-user-info [view]="view" [data]="data" [showMenu]="showMenu" [deletable]="deletable" [editable]="editable"
              [editEnabled]="editEnabled" [waiting]="waiting" [member]="member"
              [readingMemberSelection]="readingMemberSelection" [readingMember]="readingMember"
              [membersSelection]="membersSelection" [readingRoleSelection]="readingRoleSelection"
              [rolesSelection]="rolesSelection" (delete)="onDelete()" (startEditing)="onStartEditing()"
              (addRole)="onAddRole($event)" (removeRole)="onRemoveRole($event)" (selectMember)="onSelectMember($event)"
              (goToRoleSelectionPage)="onGoToRoleSelectionPage($event)"
              (goToMemberSelectionPage)="onGoToMemberSelectionPage($event)"></access-user-info>
          </ng-container>
        </ng-container>
      </div>
    </div>
  </div>
</layout-article>

<!-- Modal confirmation for disabling -->
<layout-modal name="disableModal" title="Desactivar usuario" acceptText="Desactivar" (accept)="onDisable()">
  <p>¿Está seguro de que quieres desactivar el usuario?</p>
</layout-modal>

<!-- Modal confirmation for enabling -->
<layout-modal name="enableModal" title="Activar usuario" acceptText="Activar" (accept)="onEnable()">
  <p>¿Está seguro de que quieres activar el usuario?</p>
</layout-modal>