<h1>admin dashboard</h1>
<div class="row">
    <div class="row">
        <div class="col-3">
            <div class="card" style="width: 18rem;">
                <div class="card-body">
                    <h5 class="card-title">balance</h5>
                    <p class="card-text">123€</p>
                    <a routerLink="/admin/balance" class="card-link">inspect</a>
                </div>
            </div>
        </div>
        <div class="col-3">
            <div class="card" style="width: 18rem;">
                <div class="card-body">
                    <h5 class="card-title">fees</h5>
                    <p class="card-text">payments: 7 out of 10</p>
                    <p class="card-text">missing payment: 3</p>
                    <a routerLink="/admin/fees" class="card-link">inspect</a>
                </div>
            </div>
        </div>
        <div class="col-3">
            <div class="card" style="width: 18rem;">
                <div class="card-body">
                    <h5 class="card-title">members</h5>
                    <p class="card-text">12 active</p>
                    <a routerLink="/members" class="card-link">inspect</a>
                </div>
            </div>
        </div>
    </div>
</div>