<form [formGroup]="form" (ngSubmit)="onSave()">
  <!-- Original password -->
  <div class="row mb-2">
    <label for="oldPasswordInput" id="oldPasswordLabel" class="col-sm-3 col-form-label">Contraseña actual</label>
    <div class="col-sm-9">
      <input type="password" id="oldPasswordInput" formControlName="oldPassword" class="form-control" formInvalidField
        [backendFailure]="failures.hasFailures('oldPassword')" aria-describedby="oldPasswordLabel">
      <form-input-failure-feedback [failures]="failures.getFailures('oldPassword')"></form-input-failure-feedback>
    </div>
  </div>
  <!-- Original password -->
  <div class="row mb-2">
    <label for="newPasswordInput" id="newPasswordLabel" class="col-sm-3 col-form-label">Contraseña nueva</label>
    <div class="col-sm-9">
      <input type="password" id="newPasswordInput" formControlName="newPassword" class="form-control" formInvalidField
        [backendFailure]="failures.hasFailures('newPassword')" aria-describedby="newPasswordLabel">
      <form-input-failure-feedback [failures]="failures.getFailures('newPassword')"></form-input-failure-feedback>
    </div>
  </div>
  <!-- Repeat password -->
  <div class="row mb-2">
    <label for="passwordRepeatInput" id="passwordRepeatLabel" class="col-sm-3 col-form-label">Repite contraseña</label>
    <div class="col-sm-9">
      <input type="password" id="passwordRepeatInput" formControlName="passwordRepeat" class="form-control"
        formInvalidField [backendFailure]="failures.hasFailures('passwordRepeat')"
        aria-describedby="passwordRepeatLabel">
      <form-input-failure-feedback [failures]="failures.getFailures('passwordRepeat')"></form-input-failure-feedback>
    </div>
  </div>
  <!-- Save button -->
  <div class="row">
    <div class="col-sm-2 d-grid gap-2">
      <layout-waiting-button [waiting]="waiting" [disabled]="!saveEnabled" name="Save"
        (action)="onSave()">Guardar</layout-waiting-button>
    </div>
  </div>
</form>