<form class="needs-validation" novalidate>
    <!-- Description -->
    <div class="row mb-2">
      <label for="descriptionInput" id="descriptionLabel" class="col-sm-2 col-form-label">Name</label>
      <div class="col-sm-10">
        <input type="text" [value]="data.description" id="descriptionInput" [readonly]="true" class="form-control"
          aria-describedby="descriptionLabel">
      </div>
    </div>
    <!-- Date -->
    <div class="row mb-2">
      <label for="dateInput" id="dateLabel" class="col-sm-2 col-form-label">Date</label>
      <div class="col-sm-10">
        <input type="text" [value]="data.date" id="dateInput" [readonly]="true" class="form-control"
          aria-describedby="dateLabel">
      </div>
    </div>
    <!-- Amount -->
    <div class="row mb-2">
      <label for="amountInput" id="amountLabel" class="col-sm-2 col-form-label">Identifier</label>
      <div class="col-sm-10">
        <input type="text" [value]="data.amount" id="amountInput" [readonly]="true" class="form-control"
          aria-describedby="amountLabel">
      </div>
    </div>
  </form>