<!-- Enabled -->
<div class="row">
  <div class="col-sm-3 text-primary">Activo</div>
  <div class="col-sm-9">
    <icon-success-or-failure [success]="data().enabled" />
  </div>
</div>
<!-- Expired -->
<div class="row">
  <div class="col-sm-3 text-primary">No expirado</div>
  <div class="col-sm-9">
    <icon-success-or-failure [success]="data().notExpired" />
  </div>
</div>
<!-- Password expired -->
<div class="row">
  <div class="col-sm-3 text-primary">Clave no expirada</div>
  <div class="col-sm-9">
    <icon-success-or-failure [success]="data().passwordNotExpired" />
  </div>
</div>
<!-- Locked -->
<div class="row">
  <div class="col-sm-3 text-primary">Desbloqueado</div>
  <div class="col-sm-9">
    <icon-success-or-failure [success]="data().notLocked" />
  </div>
</div>