<div class="container">
  <div class="row">
    <div class="d-flex col-md-4 offset-md-4">
      <img src='assets/resources/img/Ucronia_logo-01.png' alt='Instagram' class="img-fluid" height="300">
    </div>
  </div>
  <div class="row">
    <button class="btn btn-primary m-2" (click)="openModal('activities')">Actividades</button>
    <button class="btn btn-primary m-2" (click)="openModal('events')">Dónde estamos</button>
    <button class="btn btn-primary m-2" (click)="openModal('contactUs')">Contacto</button>
  </div>
</div>

<!-- Activities modal -->
<div class="modal fade" id="activitiesModal" tabindex="-1" aria-labelledby="activitiesModalLabel" aria-hidden="true">
  <div class="modal-dialog">
    <div class="modal-content">
      <div class="modal-header">
        <h5 class="modal-title" id="activitiesModalLabel">Actividades</h5>
        <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
      </div>
      <div class="modal-body">
        <frontpage-activity-calendar></frontpage-activity-calendar>
      </div>
    </div>
  </div>
</div>

<!-- Where we are modal -->
<div class="modal fade" id="eventsModal" tabindex="-1" aria-labelledby="eventsModalLabel" aria-hidden="true">
  <div class="modal-dialog">
    <div class="modal-content">
      <div class="modal-header">
        <h5 class="modal-title" id="eventsModalLabel">Dónde estamos</h5>
        <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
      </div>
      <div class="modal-body">
        <div class="col-md-6 offset-md-3">
          <frontpage-location></frontpage-location>
        </div>
      </div>
    </div>
  </div>
</div>

<!-- Contact us modal -->
<div class="modal fade" id="contactUsModal" tabindex="-1" aria-labelledby="contactUsModalLabel" aria-hidden="true">
  <div class="modal-dialog">
    <div class="modal-content">
      <div class="modal-header">
        <h5 class="modal-title" id="contactUsModalLabel">Contacto</h5>
        <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
      </div>
      <div class="modal-body">
        <frontpage-contact-us></frontpage-contact-us>
      </div>
    </div>
  </div>
</div>