<form [formGroup]="form" (ngSubmit)="onSave()" class="needs-validation" novalidate>
  <!-- Password -->
  <div class="row mb-2">
    <label for="passwordInput" id="passwordLabel" class="col-sm-2 col-form-label">Password</label>
    <div class="col-sm-10">
      <input type="password" id="passwordInput" formControlName="password" class="form-control"
        [ngClass]="{ 'is-invalid': isFieldInvalid('password') }" />
      <div class="invalid-feedback" *ngFor="let failure of getFailures('password')">
        {{failure.message}}
      </div>
    </div>
  </div>
  <!-- Repeat password -->
  <div class="row mb-2">
    <label for="confirmPasswordInput" id="confirmPasswordLabel" class="col-sm-2 col-form-label">Repeat password</label>
    <div class="col-sm-10">
      <input type="password" id="confirmPasswordInput" formControlName="confirmPassword" class="form-control"
        [ngClass]="{ 'is-invalid': isFieldInvalid('confirmPassword') }" />
      <div class="invalid-feedback" *ngFor="let failure of getFailures('confirmPassword')">
        {{failure.message}}
      </div>
    </div>
  </div>
  <!-- Password mismatch warning -->
  <div *ngIf="showPasswordMismatchWarning()" id="passwordMismatchWarning" class="text-danger text-center pb-2">Passwords don't match</div>
  <!-- Submit button -->
  <div class="d-grid gap-2">
    <div *ngIf="waiting; then waiting_cue else submit_button"></div>
    <ng-template #waiting_cue>
      <!-- Waiting cue -->
      <button type="submit" class="btn btn-primary" name="Reset" aria-label="Reset" disabled><icon-waiting></icon-waiting></button>
    </ng-template>
    <ng-template #submit_button>
      <!-- Login button -->
      <button type="submit" class="btn btn-primary" [disabled]="!saveEnabled" name="Reset" aria-label="Reset">
        Reset
      </button>
    </ng-template>
  </div>
</form>