<form [formGroup]="form" (ngSubmit)="onSave()" class="needs-validation" novalidate>
  <!-- Password -->
  <p-floatlabel variant="in" class="mb-2 d-flex">
    <input pInputText type="password" [invalid]="isFieldInvalid('password')" id="passwordInput" formControlName="password" class="w-100" />
    <label for="passwordInput">Contraseña</label>
  </p-floatlabel>
  <div class="mb-2">
    <p-message severity="error" size="small" variant="simple" *ngFor="let failure of failures.getFailures('password')">
      {{failure.message}}
    </p-message>
  </div>
  <!-- Repeat password -->
  <p-floatlabel variant="in" class="mb-2 d-flex">
    <input pInputText type="password" id="confirmPasswordInput" formControlName="confirmPassword" class="w-100" />
    <label for="confirmPasswordInput">Repite contraseña</label>
  </p-floatlabel>
  <!-- Password mismatch warning -->
  <div *ngIf="showPasswordMismatchWarning()" id="passwordMismatchWarning" class="text-danger text-center pb-2">Las
    contraseñas no coinciden</div>
  <!-- Submit button -->
  <div class="d-grid gap-2">
    <p-button type="submit" severity="secondary" name="Activar" [loading]="waiting" [disabled]="!saveEnabled"
      [attr.aria-disabled]="!saveEnabled">Activar</p-button>
  </div>
</form>