<layout-article title="Edit role">
  <div class="col-md-6 offset-md-3">
    <!-- Role -->
    <div class="mb-1">
      <layout-edition-wrapper [editable]="isAbleToEdit()" [deletable]="isAbleToDelete()" [editing]="editing"
        (delete)="onDelete()" (startEditing)="onStartEditing()">
        <!-- Form -->
        <access-role-form id="form" [waiting]="isWaiting()" [readonly]="!isEditable()" [data]="data"
          [failures]="failures" (save)="onSave($event)">
        </access-role-form>
        <!-- Info -->
        <access-role-info id="info" [data]="data"></access-role-info>
      </layout-edition-wrapper>
    </div>
    <article class="p-4">
      <header>
        <h2 class="border-bottom">Permissions</h2>
      </header>
      <!-- Permissions -->
      <div class="mb-3">
        <div class="card">
          <div class="card-body">
            <ng-container [ngSwitch]="permissionView">
              <ng-container *ngSwitchCase="'list'">
                <!-- Permissions list -->
                <access-role-permissions [roleId]="data.id" [editable]="isAbleToEdit()" [deletable]="isAbleToDelete()">
                </access-role-permissions>
                <div class="d-grid">
                  <!-- Add button -->
                  <button type="button" class="btn btn-primary" aria-label="Add role" (click)="onShowAddPermission()">
                    Add
                  </button>
                </div>
              </ng-container>
              <ng-container *ngSwitchCase="'add'">
                <!-- Add permissions -->
                <access-role-add-permission [roleId]="roleId"
                  (addPermission)="onAddPermission($event)"></access-role-add-permission>
              </ng-container>
            </ng-container>
          </div>
        </div>
      </div>
    </article>
  </div>
</layout-article>