<layout-article title="Edit role">
  <!-- Role form -->
  <!-- Role -->
  <div class="mb-1">
    <layout-edition-wrapper [editable]="editPermission" [deletable]="deletePermission" [waiting]="isWaiting()"
      [editing]="editing" [error]="error" (delete)="onDelete()" (edit)="onStartEditing()">
      <!-- Form -->
      <access-role-form id="edit" [waiting]="isWaiting()" [readonly]="!isEditable()" [data]="data" [failures]="failures"
        (save)="onSave($event)">
      </access-role-form>
      <!-- Info -->
      <access-role-info id="info" [data]="data"></access-role-info>
    </layout-edition-wrapper>
  </div>
  <!-- Permissions -->
  <div class="mb-1">
    <div class="card">
      <div class="card-body">
        <!-- Permissions list -->
        <access-role-permissions [roleId]="data.id">
        </access-role-permissions>
      </div>
    </div>
  </div>
</layout-article>