<layout-waiting-wrapper [waiting]="waiting">
  <!-- Roles -->
  <table class="table">
    <thead>
      <tr>
        <th scope="col"></th>
        <th scope="col">
          Name
        </th>
      </tr>
    </thead>
    <tbody class="table-group-divider">
      <ng-template ngFor let-role [ngForOf]="roles">
        <tr>
          <td>
            <button [disabled]="!deletable" (click)="onRemove(role)" type="button" class="btn btn-link link-dark"
              role="button" aria-label="Back">
              <icon-delete></icon-delete>
            </button>
          </td>
          <td>{{role.name}}</td>
        </tr>
      </ng-template>
    </tbody>
  </table>
</layout-waiting-wrapper>