<layout-waiting-wrapper [waiting]="readingRoles">
  <!-- Roles -->
  <table class="table">
    <thead>
      <tr>
        <th scope="col"></th>
        <th scope="col">
          Name<pagination-order-button property="name"
            (directionChange)="onChangeDirection($event)"></pagination-order-button>
        </th>
      </tr>
    </thead>
    <tbody class="table-group-divider">
      <ng-template ngFor let-role [ngForOf]="response.content">
        <tr>
          <td>
            <button [disabled]="!deletable" (click)="onRemoveRole(role)" type="button" class="btn btn-link link-dark"
              role="button" aria-label="Back">
              <icon-delete></icon-delete>
            </button>
          </td>
          <td>{{role.name}}</td>
        </tr>
      </ng-template>
    </tbody>
  </table>
</layout-waiting-wrapper>
<div class="d-flex justify-content-center mt-1">
  <pagination-navigation [disabled]="readingRoles" [current]="response.currentPage" [pages]="response.totalPages"
    (goTo)="onGoTo($event)">
  </pagination-navigation>
</div>