<h1>fees</h1>
<button-link-create link="/fees/create"></button-link-create>
<pagination-navigation [pageInfo]="pageInfo"></pagination-navigation>
<pagination-size-selector [pageInfo]="pageInfo"></pagination-size-selector>
<table class="table">
    <thead>
        <tr>
            <th scope="col"></th>
            <th scope="col"><order-button property="name"></order-button>name</th>
            <th scope="col"><order-button property="surname"></order-button>surname</th>
            <th scope="col"><order-button property="date"></order-button>pay date</th>
            <th scope="col"><order-button property="paid"></order-button>paid</th>
        </tr>
    </thead>
    <tbody>
        <ng-template ngFor let-fee [ngForOf]="fees">
            <tr>
                <td>
                    <button-link-edit link="/fees/{{fee.id}}"></button-link-edit>
                </td>
                <td>{{fee.name}}</td>
                <td>{{fee.surname}}</td>
                <td>{{fee.date}}</td>
                <td>{{fee.paid}}</td>
            </tr>
        </ng-template>
    </tbody>
</table>