<form [formGroup]="form" (ngSubmit)="onSave()" class="needs-validation" novalidate>
    <!-- Date -->
    <div class="row mb-2">
      <label for="dateInput" id="dateLabel" class="col-sm-2 col-form-label">Date</label>
      <div class="col-sm-10">
        <input type="month" id="dateInput" formControlName="date" [readonly]="readonly" class="form-control"
          [ngClass]="{ 'is-invalid': isInvalid('date') }" aria-describedby="dateLabel">
        <div class="invalid-feedback" *ngFor="let failure of getFailures('date')">
          <span *ngIf="failure.field === 'date'">{{failure.message}}</span>
        </div>
      </div>
    </div>
    <!-- Paid -->
    <div class="col-sm-10 offset-sm-2">
      <input type="checkbox" id="paidInput" formControlName="paid" [readonly]="readonly" class="form-check-input"
        [ngClass]="{ 'is-invalid': isInvalid('paid') }" aria-describedby="paidLabel">
      <label for="paidInput" id="paidLabel" class="form-check-label ps-1">Paid</label>
      <div class="invalid-feedback" *ngFor="let failure of getFailures('paid')">
        <span *ngIf="failure.field === 'paid'">{{failure.message}}</span>
      </div>
    </div>
  </form>