<form [formGroup]="form" (ngSubmit)="onSave()">
  <div class="row mb-2">
    <label for="memberInput" id="memberLabel" class="col-sm-2 col-form-label">member</label>
    <div class="col-sm-10">
      <input type="text" id="memberInput" [value]="memberName" aria-describedby="memberLabel" class="form-control"
        [ngClass]="{ 'is-invalid': form.get('member')?.errors }">
      <button type="button" class="btn btn-outline-secondary" aria-label="Search" (click)="onSelectMember()">
        <icon-search></icon-search>
      </button>
    </div>
  </div>
  <div class="row mb-2">
    <label for="dateInput" id="dateLabel" class="col-sm-2 col-form-label">date</label>
    <div class="col-sm-10">
      <input type="month" id="dateInput" aria-describedby="dateLabel" formControlName="date" class="form-control"
        [ngClass]="{ 'is-invalid': form.get('date')?.errors }">
    </div>
  </div>
  <div class="row mb-2">
    <label for="paidInput" id="paidLabel" class="col-sm-2 col-form-label">paid</label>
    <div class="col-sm-10">
      <input type="checkbox" id="paidInput" aria-describedby="paidLabel" formControlName="paid" class="form-check-input"
        [ngClass]="{ 'is-invalid': form.get('paid')?.errors }">
    </div>
  </div>
</form>