<form [formGroup]="form" (ngSubmit)="onSave()" class="needs-validation" novalidate>
  <!-- Email -->
  <div class="row mb-2">
    <label for="emailInput" id="emailLabel" class="col-sm-2 col-form-label">Email</label>
    <div class="col-sm-10">
      <input type="text" id="emailInput" formControlName="email" class="form-control"
        [ngClass]="{ 'is-invalid': isFieldInvalid('email') }" aria-describedby="emailLabel" />
      <div class="invalid-feedback" *ngFor="let failure of getFailures('email')">
        {{failure.message}}
      </div>
    </div>
  </div>
  <!-- Submit button -->
  <div class="row">
    <div *ngIf="waiting; then waiting_cue else submit_button"></div>
    <ng-template #waiting_cue>
      <!-- Waiting cue -->
      <button type="submit" class="btn btn-primary" aria-label="Login" disabled><icon-waiting></icon-waiting></button>
    </ng-template>
    <ng-template #submit_button>
      <!-- Login button -->
      <button type="submit" class="btn btn-primary" [disabled]="isSaveDisabled()" name="Reset" aria-label="Reset">
        Reset
      </button>
    </ng-template>
  </div>
</form>