<form [formGroup]="form" (ngSubmit)="onSave()" class="needs-validation" novalidate>
  <!-- Email -->
  <p-floatlabel variant="in" class="mb-2 d-flex">
    <input pInputText type="text" id="emailInput" formControlName="email" class="w-100" />
    <label for="emailInput">Email</label>
  </p-floatlabel>
  <!-- Submit button -->
  <div class="d-flex">
    <p-button type="submit" severity="secondary" name="Reset" [loading]="waiting" [disabled]="!saveEnabled"
      [attr.aria-disabled]="!saveEnabled">Cambiar</p-button>
  </div>
</form>