<h1>{{year}}</h1>
<table class="table">
    <thead class="thead-light">
        <tr>
            <th scope="col">Member</th>
            <th scope="col">1</th>
            <th scope="col">2</th>
            <th scope="col">3</th>
            <th scope="col">4</th>
            <th scope="col">5</th>
            <th scope="col">6</th>
            <th scope="col">7</th>
            <th scope="col">8</th>
            <th scope="col">9</th>
            <th scope="col">10</th>
            <th scope="col">11</th>
            <th scope="col">12</th>
        </tr>
    </thead>
    <tbody>
        <tr>
            <ng-template ngFor let-row [ngForOf]="feesTable">
                <td>{{row.member}}</td>
                <ng-template ngFor let-column [ngForOf]="row.months">
                    <td>
                        <ng-template [ngIf]="column"><input type="checkbox" [checked]="column" [attr.disabled]="true"
                                id="active" class="form-check-input">
                        </ng-template>
                    </td>
                </ng-template>
            </ng-template>
        </tr>
    </tbody>
</table>