<!-- Fee form -->
<form [formGroup]="form" (ngSubmit)="onSave()" class="needs-validation" novalidate>
  <!-- Select member -->
  <div class="row mb-2">
    <!-- Selected member -->
    <label for="memberNameInput" class="col-sm-2 col-form-label">Member</label>
    <div class="col-sm-10">
      <input type="text" id="memberNameInput" [value]="member.name.fullName" readonly="true" class="form-control"
        aria-describedby="memberNameLabel">
    </div>
  </div>
  <!-- Fee dates -->
  <div class="row mb-2">
    <label class="col-sm-2 col-form-label">Fee dates</label>
    <div class="col-sm-10">
      <div *ngFor="let date of form.get('feeDates').controls; let i = index" formGroupName="feeDates" class="row">
        <div class="col-md-6 mb-2">
          <input type="month" [id]="'monthYearInput_' + i" [formControlName]="i" class="form-control"
            [ngClass]="{ 'is-invalid': isFieldInvalid('feeDates[]') }">
          <div class="invalid-feedback" *ngFor="let failure of getFailures('feeDates[]')">
            {{failure.message}}
          </div>
        </div>
        <div class="col-md-2 mb-2">
          <button type="button" class="btn btn-link link-danger" aria-label="Remove date" [disabled]="!formEnabled"
            (click)="removeDate(i)">
            <fa-icon [icon]="removeIcon"></fa-icon>
          </button>
        </div>
      </div>
      <div class="row">
        <div class="col-md-12">
          <button type="button" class="btn btn-link link-dark" aria-label="Add date" [disabled]="!formEnabled"
            (click)="addDate()">
            <fa-icon [icon]="addIcon"></fa-icon>
          </button>
        </div>
      </div>
    </div>
  </div>
  <!-- Payment date -->
  <div class="row mb-2">
    <label for="paymentDateInput" id="paymentDateLabel" class="col-sm-2 col-form-label">Payment date</label>
    <div class="col-sm-10">
      <div formGroupName="transaction">
        <input type="date" id="paymentDateInput" formControlName="date" class="form-control"
          [ngClass]="{ 'is-invalid': isFieldInvalid('transaction.date') }" aria-describedby="paymentDateLabel">
        <div class="invalid-feedback" *ngFor="let failure of getFailures('transaction.date')">
          {{failure.message}}
        </div>
      </div>
    </div>
  </div>

  <!-- Save button -->
  <div class="row">
    <div class="col-sm-2 d-grid gap-2">
      <!-- Save button -->
      <layout-waiting-button [waiting]="waiting" [disabled]="!saveEnabled" name="Save"
        (action)="onSave()"></layout-waiting-button>
    </div>
  </div>
</form>