<form [formGroup]="form" (ngSubmit)="onSave()" class="needs-validation" novalidate>
  <ng-template ngFor let-field [ngForOf]="fields">
    <div class="text-center">
      <div class="row mb-2">
        <label for="{{field.property}}Input" id="{{field.property}}Label"
          class="col-sm-2 col-form-label">{{field.name}}</label>
        <div class="col-sm-10">
          <input type="text" id="{{field.property}}Input" formControlName="{{field.property}}" class="form-control"
            [ngClass]="{ 'is-invalid': form.get('{{field.property}}')?.errors }"
            attr.aria-describedby="{{field.property}}Label">
        </div>
      </div>
    </div>
  </ng-template>
</form>