<layout-article title="Datos de autor">
  <div appResponsiveShortColumns>
    <!-- Number -->
    <div *ngIf="data?.number" class="row mb-2">
      <label for="numberInput" id="numberLabel" class="col-sm-2 col-form-label">Número</label>
      <div class="col-sm-10">
        <input type="text" [value]="data?.number" id="numberInput" [readonly]="true" class="form-control"
          aria-describedby="numberLabel">
      </div>
    </div>
    <!-- Form -->
    <app-card>
      <app-card-body>
        <assoc-library-admin-author-form [waiting]="waiting" [readonly]="!formEnabled"
          [data]="data" [failures]="failures" (save)="onSave($event)"
          (cancel)="onCancel()"></assoc-library-admin-author-form>
      </app-card-body>
    </app-card>
  </div>
</layout-article>