<layout-article title="Pago de cuota">
  <div appResponsiveShortColumns>
    <div class="card">
      <div class="card-body">
        <!-- Progress -->
          <div appJustifyBetween>
          <button type="button" class="btn btn-link me-2" aria-label="Return" (click)="onReturnToMembers()"
            [disabled]="isReturnDisabled()"><icon-backward></icon-backward></button>
          <h2>{{currentStep}}/2</h2>
        </div>
        <ng-container [ngSwitch]="selectedMember">
          <ng-container *ngSwitchCase="false">
            <!-- Member selection -->
            <app-fee-pay-select-member [memberPage]="memberPage" [waiting]="readingMembers"
              (selectMember)="onSelectMember($event)" (goToPage)="onGoToMembersPage($event)"
              (changeFilter)="onChangeActiveFilter($event)"></app-fee-pay-select-member>
          </ng-container>
          <ng-container *ngSwitchCase="true">
            <!-- Form -->
            <assoc-fee-pay-form [waiting]="saving" [failures]="failures" [readonly]="!createPermission"
              [member]="member" (save)="onSave($event)">
            </assoc-fee-pay-form>
          </ng-container>
        </ng-container>
      </div>
    </div>
  </div>
</layout-article>