<p-menu #infoMenu [model]="infoMenuItems" [popup]="true" />
<p-menu #editionMenu [model]="editionMenuItems" [popup]="true" />
<p-panel>
  <ng-template #icons>
    <p-button icon="pi pi-envelope" severity="secondary" (click)="onStartInvitation()" [disabled]="!createable"
      aria-label="Invitar usuario" [attr.aria-disabled]="!createable" rounded text />
  </ng-template>
  <p-table lazy="true" dataKey="username" [loading]="loading" [value]="data.content" paginator="true" [rows]="data.size"
    [totalRecords]="data.totalElements" [first]="first" (onSort)="onChangeDirection($event)"
    (onPage)="onPageChange($event)" showCurrentPageReport="true" currentPageReportTemplate="Total: {totalRecords}">
    <ng-template #header>
      <tr>
        <th pSortableColumn="name">Nombre <p-sortIcon field="name" /></th>
        <th></th>
      </tr>
    </ng-template>
    <ng-template #body let-user>
      <tr>
        <td>{{ user.name }}</td>
        <td>
          <p-button icon="pi pi-eye" severity="secondary" aria-label="Ver" [attr.aria-disabled]="!editable"
            (click)="openInfoMenu($event, user)" rounded text />
          <p-button icon="pi pi-pencil" severity="secondary" [disabled]="!editable" aria-label="Editar"
            [attr.aria-disabled]="!editable" (click)="openEditionMenu($event, user)" rounded text />
          <p-button icon="pi pi-trash" severity="danger" [disabled]="!deletable" aria-label="Borrar"
            [attr.aria-disabled]="!deletable" (click)="onDelete($event, user.username)" rounded text />
        </td>
      </tr>
    </ng-template>
  </p-table>
</p-panel>
@if (showing) {
  <p-dialog header="Usuario" [modal]="true" [(visible)]="showing" [style]="{ width: '25rem' }">
    <access-user-info [user]="selectedData" [member]="member" [loading]="loading" />
  </p-dialog>
}
@if (showingRoles) {
  <p-dialog header="Roles" [modal]="true" [(visible)]="showingRoles" [style]="{ width: '25rem' }">
    <access-user-roles-info [user]="selectedData" [loading]="loading" />
  </p-dialog>
}
@switch (view) {
  @case ('invite') {
    <p-dialog header="Invitar usuario" [modal]="true" [(visible)]="editing" [style]="{ width: '50rem' }">
      <access-user-form [create]="true" [selection]="roleSelection" [loading]="loading" [failures]="failures" (save)="onInvite($event)" />
    </p-dialog>
  }
  @case ('edition') {
    <p-dialog header="Editar usuario" [modal]="true" [(visible)]="editing" [style]="{ width: '25rem' }">
      <access-user-form [create]="false" [loading]="loading" [data]="selectedData" [failures]="failures"
        (save)="onUpdate($event)" />
    </p-dialog>
  }
  @case ('roles') {
    <p-dialog header="Editar roles" [modal]="true" [(visible)]="editing" [style]="{ width: '50rem' }">
      <access-user-roles-editor [roles]="selectedData.roles" [selection]="roleSelection" (save)="onSetRoles($event)" />
    </p-dialog>
  }
  @case ('member') {
    <p-dialog header="Asignar socio" [modal]="true" [(visible)]="editing" [style]="{ width: '25rem' }">
      <access-user-member-editor [username]="selectedData.username" [selection]="availableMembers"
        [member]="member" (assignMember)="onAssignMember($event)" />
    </p-dialog>
  }
}