<!-- Save button -->
<div class="col-sm-2 d-grid gap-2">
  <button type="submit" class="btn btn-primary" (click)="onAdd()" aria-label="Save">Add</button>
</div>
<table class="table">
  <thead>
    <tr>
      <th scope="col"></th>
      <th scope="col">
        <pagination-order-button property="name"></pagination-order-button>name
      </th>
    </tr>
  </thead>
  <tbody>
    <ng-template ngFor let-privilege [ngForOf]="privileges">
      <tr>
        <td>
          <button (click)="onRemove(privilege)" type="button" class="btn btn-default" role="button" aria-label="Back">
            <icon-delete></icon-delete>
          </button>
        </td>
        <td>{{privilege.name}}</td>
      </tr>
    </ng-template>
  </tbody>
</table>