<!-- List -->
<table class="table table-hover">
  <thead>
    <tr>
      <!-- Headers -->
      <th scope="col">
        Cuota
      </th>
      <th scope="col">
        Fecha de pago
      </th>
    </tr>
  </thead>
  <tbody class="table-group-divider">
    @for (fee of fees; track fee; let rowIndex = $index) {
      <tr [ngClass]="{ 'table-warning': !fee.paid }">
        <!-- Cells -->
        <td>
          {{fee.month}}
        </td>
        <td>
          @if (fee.paid) {
            {{fee.payment?.date}}
          }
          @if (!fee.paid) {
            <icon-failure class="text-danger"></icon-failure>
          }
        </td>
      </tr>
    }
  </tbody>
</table>