<!-- List -->
<table class="table table-hover">
  <thead>
    <tr>
      <!-- Headers -->
      <th scope="col">
        Cuota
      </th>
      <th scope="col">
        Fecha de pago
      </th>
    </tr>
  </thead>
  <tbody class="table-group-divider">
    <tr *ngFor="let fee of fees; let rowIndex = index" [ngClass]="{ 'table-warning': !fee.paid }">
      <!-- Cells -->
      <td>
        {{fee.month}}
      </td>
      <td>
        <ng-container *ngIf="fee.paid">
          {{fee.transaction.date}}
        </ng-container>
        <ng-container *ngIf="!fee.paid">
          <icon-failure class="text-danger"></icon-failure>
        </ng-container>
      </td>
    </tr>
  </tbody>
</table>