<div class="card">
  <div class="card-body">
    <!-- Index -->
    <div class="row mb-2">
      <div class="col">
        # {{data.index}}
      </div>
    </div>
    <!-- Description -->
    <div class="row mb-2">
      <div class="col-sm-2 text-primary">Description</div>
      <div class="col-sm-10">
        {{data.description}}
      </div>
    </div>
    <!-- Date -->
    <div class="row mb-2">
      <div class="col-sm-2 text-primary">Fecha</div>
      <div class="col-sm-10">
        {{data.date}}
      </div>
    </div>
    <!-- Amount -->
    <div class="row mb-2">
      <div class="col-sm-2 text-primary">Importe</div>
      <div class="col-sm-10">
        {{data.amount}}
      </div>
    </div>
  </div>
  <div *ngIf="showMenu" class="card-footer">
    <div>
      <form-control-buttons [editable]="editable" [deletable]="deletable" (startEditing)="startEditing.emit()"
        (delete)="delete.emit()"></form-control-buttons>
    </div>
  </div>
</div>