<app-card>
  <app-card-body>
    <!-- Index -->
    <div class="row mb-2">
      <div class="col" *layoutPlaceholder="waiting">
        # {{data.index}}
      </div>
    </div>
    <!-- Description -->
    <div class="row mb-2">
      <div class="col-sm-2 text-primary">Description</div>
      <div class="col-sm-10" *layoutPlaceholder="waiting">
        {{data.description}}
      </div>
    </div>
    <!-- Date -->
    <div class="row mb-2">
      <div class="col-sm-2 text-primary">Fecha</div>
      <div class="col-sm-10" *layoutPlaceholder="waiting">
        {{data.date}}
      </div>
    </div>
    <!-- Amount -->
    <div class="row mb-2">
      <div class="col-sm-2 text-primary">Importe</div>
      <div class="col-sm-10" *layoutPlaceholder="waiting">
        {{data.amount}}
      </div>
    </div>
  </app-card-body>
  <app-card-footer>
    <div>
      <form-control-buttons [editable]="editable" [deletable]="deletable" (startEditing)="startEditing.emit()"
        (delete)="delete.emit()"></form-control-buttons>
    </div>
  </app-card-footer>
</app-card>