<layout-article title="Edit member">
  <layout-edition-wrapper [editable]="editPermission" [deletable]="deletePermission" [waiting]="isWaiting()"
    [editing]="editing" [error]="error" (delete)="onDelete()" (edit)="onStartEditing()">
    <!-- Form -->
    <assoc-member-edit-form id="edit" [waiting]="isWaiting()" [readonly]="!isEditable()" [data]="data" [failures]="failures"
      (save)="onSave($event)">
    </assoc-member-edit-form>
    <!-- Info -->
    <assoc-member-info id="info" [data]="data"></assoc-member-info>
  </layout-edition-wrapper>
</layout-article>