<layout-article title="Edit member">
  <layout-waiting-wrapper [waiting]="waiting">
    <layout-edition-wrapper [editable]="editPermission" [saving]="saving" [editing]="editing"
      [deletable]="deletePermission" (delete)="onDelete()" (edit)="onStartEditing()">
      <!-- Form -->
      <assoc-member-form id="edit" [waiting]="waiting" [data]="data" [readonly]="!isEditable()" [failures]="failures"
        (save)="onSave($event)">
      </assoc-member-form>
      <!-- Info -->
      <assoc-member-info id="info" [data]="data"></assoc-member-info>
    </layout-edition-wrapper>
  </layout-waiting-wrapper>
</layout-article>