<p-toast />
<p-confirmpopup />
<p-panel>
  <p-menu #menu [model]="editionMenu" [popup]="true" />
  <ng-template #icons>
    <p-button icon="pi pi-plus-circle" severity="secondary" routerLink="{{routerLink}}" [disabled]="!createable"
      aria-label="Nuevo libro" [attr.aria-disabled]="!createable" rounded text />
    <p-button icon="pi pi-file-excel" [disabled]="loadingExcel" (click)="downloadExcel()" aria-label="Descargar excel"
      [attr.aria-disabled]="loadingExcel" severity="secondary" rounded text />
  </ng-template>
  <select [disabled]="loading" class="form-select form-select-sm" aria-label="Filter person status"
    (change)="onChangeSource($event)">
    <option [selected]="source === 'game'" value="game">Juegos</option>
    <option [selected]="source === 'fiction'" value="fiction">Ficción</option>
  </select>
  <p-table lazy="true" dataKey="number" selectionMode="single" [loading]="loading" [value]="data.content"
    [(selection)]="selectedData" paginator="true" [rows]="data.size" [totalRecords]="data.totalElements" [first]="first"
    (onSort)="onChangeDirection($event)" (onPage)="onPageChange($event)" showCurrentPageReport="true"
    currentPageReportTemplate="Total: {totalRecords}" (onRowSelect)="onSelectRow()">
    <ng-template #header>
      <tr>
        <th pSortableColumn="title">Título <p-sortIcon field="title" /></th>
        <th pSortableColumn="lent">Estado <p-sortIcon field="lent" /></th>
        <th></th>
      </tr>
    </ng-template>
    <ng-template #body let-book>
      <tr [pSelectableRow]="book">
        <td>
          <sup>{{book.title.supertitle}}</sup>
          {{book.title.title}}
          <sub>{{book.title.subtitle}}</sub>
        </td>
        <td>
          @if (book.lent) {
          <p-badge value="Prestado" severity="success" />
          }@else {
          <p-badge value="Disponible" severity="success" />
          }
        </td>
        <td>
          <p-button icon="pi pi-pencil" severity="secondary" [disabled]="!editable" aria-label="Editar"
            [attr.aria-disabled]="!editable" (click)="menu.toggle($event)" rounded text />
          <p-button icon="pi pi-trash" severity="danger" [disabled]="!editable" aria-label="Borrar"
            [attr.aria-disabled]="!editable" (click)="onConfirmDelete($event, book.number)" rounded text />
        </td>
      </tr>
    </ng-template>
  </p-table>
</p-panel>
<p-drawer [(visible)]="editing" position="right">
  @switch (view) {
  @case ('details') {
  <ng-template #header>
    <h2>
      #{{ selectedData.number }}
      @if (selectedData.title.supertitle) {
      <sup>{{selectedData.title.supertitle}}</sup>
      }
      {{selectedData.title.title}}
      @if (selectedData.title.subtitle) {
      <sub>{{selectedData.title.subtitle}}</sub>
      }
    </h2>
  </ng-template>
  <assoc-library-admin-book-info-edition-form [data]="selectedData" [waiting]="loading" [failures]="failures"
    [readonly]="false" [cancellable]="true" [languages]="languages" (save)="onSave($event)" (reject)="onCancel()" />
  }
  @case ('donors') {
  <assoc-library-admin-book-donors-form [data]="selectedData.donation" [waiting]="loading" [failures]="failures"
    [readonly]="false" [cancellable]="true" [donorsSelection]="donorPage" (save)="onSetDonation($event)"
    (reject)="onCancel()" (goToDonorPage)="onGoToDonorPage($event)" />
  }
  }
</p-drawer>