<layout-article title="Game system info">
  <div class="col-md-6 offset-md-3">
    <div class="card">
      <div class="card-body">
        <div *ngIf="showMenu">
          <form-editor-header [editable]="editable" [deletable]="deletable" (startEditing)="onStartEditing()"
            (delete)="onDelete()"></form-editor-header>
        </div>
        <form-info-editor [editing]="editing">
          <!-- Form -->
          <form-info-editor-form>
            <assoc-library-admin-game-system-form [waiting]="waiting" [readonly]="!formEnabled" [data]="data"
              [failures]="failures" (save)="onSave($event)"></assoc-library-admin-game-system-form>
          </form-info-editor-form>
          <!-- Info -->
          <form-info-editor-info>
            <assoc-library-admin-game-system-info [data]="data"></assoc-library-admin-game-system-info>
          </form-info-editor-info>
        </form-info-editor>
      </div>
    </div>
  </div>
</layout-article>