
@switch (view) {
  @case ('form') {
    <form [formGroup]="form" (ngSubmit)="onSave()" class="needs-validation" novalidate>
      <!-- Number -->
      <div class="row mb-2">
        <label for="indexInput" id="indexLabel" class="col-sm-2 col-form-label">Número</label>
        <div class="col-sm-10">
          <input type="text" formControlName="number" id="indexInput" [readonly]="true" class="form-control"
            aria-describedby="indexLabel">
          </div>
        </div>
        <!-- ISBN -->
        <div class="row mb-2">
          <label for="isbnInput" id="isbnLabel" class="col-sm-2 col-form-label">ISBN</label>
          <div class="col-sm-10">
            <input type="text" id="isbnInput" formControlName="isbn" class="form-control" formInvalidField
              [backendFailure]="failures().hasFailures('isbn')" aria-describedby="isbnLabel" maxlength="17">
              <form-input-failure-feedback [failures]="failures().getFailures('isbn')" />
            </div>
          </div>
          <!-- Title -->
          <div class="row mb-2">
            <label for="supertitleInput" id="supertitleLabel" class="col-sm-2 col-form-label">Título</label>
            <div formGroupName="title" class="col-sm-3">
              <input type="text" id="supertitleInput" formControlName="supertitle" class="form-control"
                formInvalidField="title.supertitle" [backendFailure]="failures().hasFailures('title.supertitle')"
                aria-describedby="supertitleLabel" maxlength="100" placeholder="Supertítulo">
                <form-input-failure-feedback [failures]="failures().getFailures('title.supertitle')" />
              </div>
              <div formGroupName="title" class="col-sm-3">
                <input type="text" id="titleInput" formControlName="title" class="form-control" formInvalidField="title.title"
                  [backendFailure]="failures().hasFailures('title.title')" aria-describedby="titleLabel" maxlength="100"
                  placeholder="Título">
                  <form-input-failure-feedback [failures]="failures().getFailures('title.title')" />
                </div>
                <div formGroupName="title" class="col-sm-3">
                  <input type="text" id="titleInput" formControlName="subtitle" class="form-control"
                    formInvalidField="title.subtitle" [backendFailure]="failures().hasFailures('title.subtitle')"
                    aria-describedby="titleLabel" maxlength="100" placeholder="Subtítulo">
                    <form-input-failure-feedback [failures]="failures().getFailures('title.subtitle')" />
                  </div>
                </div>
                <!-- Language -->
                <div class="row mb-2">
                  <label for="languageInput" id="languageLabel" class="col-sm-2 col-form-label">Idioma</label>
                  <div class="col-sm-10">
                    <select class="form-select" aria-label="Select year" formControlName="language" formInvalidField
                      [backendFailure]="failures().hasFailures('language')" aria-describedby="languageLabel">
                      @for (selectionLanguage of languages(); track selectionLanguage) {
                        <option [value]="selectionLanguage.code">
                        {{selectionLanguage.name}}</option>
                      }
                    </select>
                    <form-input-failure-feedback [failures]="failures().getFailures('language')" />
                  </div>
                </div>
                <!-- Publish date -->
                <div class="row mb-2">
                  <label for="publishDateInput" id="publishDateLabel" class="col-sm-2 col-form-label">Fecha de publicación</label>
                  <div class="col-sm-10">
                    <input type="date" id="publishDateInput" formControlName="publishDate" class="form-control"
                      formInvalidField="publishDate" [backendFailure]="failures().hasFailures('publishDate')"
                      aria-describedby="publishDateLabel">
                      <form-input-failure-feedback [failures]="failures().getFailures('publishDate')" />
                    </div>
                  </div>
                  <!-- Publishers -->
                  <div class="row mb-2">
                    <div class="col-sm-12">
                      <h2>Editores</h2>
                    </div>
                    <div class="col-sm-12">
                      <table class="table">
                        <thead>
                          <tr>
                            <th scope="col">
                            </th>
                            <th scope="col">
                              Nombre
                            </th>
                          </tr>
                        </thead>
                        <tbody class="table-group-divider">
                          @for (publisher of publishers; track publisher; let i = $index) {
                            <tr>
                              <td>
                                <button (click)="onRemovePublisher(publisher)" [disabled]="!formEnabled" type="button"
                                  class="btn btn-link link-dark" role="button" aria-label="Remove publisher">
                                  <icon-delete />
                                </button>
                              </td>
                              <td>{{publisher.name}}</td>
                            </tr>
                          }
                        </tbody>
                      </table>
                    </div>
                    <div uiJustifyCenter>
                      <button (click)="onShowPublisherSelection()" [disabled]="!formEnabled" type="button" class="btn btn-primary"
                        aria-label="Add publisher">
                        <icon-add />
                      </button>
                    </div>
                  </div>
                  <!-- Authors -->
                  <div class="row mb-2">
                    <div class="col-sm-12">
                      <h2>Autores</h2>
                    </div>
                    <div class="col-sm-12">
                      <table class="table">
                        <thead>
                          <tr>
                            <th scope="col">
                            </th>
                            <th scope="col">
                              Nombre
                            </th>
                          </tr>
                        </thead>
                        <tbody class="table-group-divider">
                          @for (author of authors; track author) {
                            <tr>
                              <td>
                                <button (click)="onRemoveAuthor(author)" [disabled]="!formEnabled" type="button"
                                  class="btn btn-link link-dark" role="button" aria-label="Remove author">
                                  <icon-delete />
                                </button>
                              </td>
                              <td>{{author.name}}</td>
                            </tr>
                          }
                        </tbody>
                      </table>
                    </div>
                    <div uiJustifyCenter>
                      <button (click)="onShowAuthorSelection()" [disabled]="!formEnabled" type="button" class="btn btn-primary"
                        aria-label="Add author">
                        <icon-add />
                      </button>
                    </div>
                  </div>
                  <form-save-controls [waiting]="waiting" [saveDisabled]="!saveEnabled" [cancelDisabled]="!cancelEnabled"
                  [cancellable]="cancellable" (reject)="onCancel()" />
                </form>
              }
              @case ('author') {
                <div>Escoge un autor</div>
                <assoc-library-admin-list-selection [data]="authorsSelection()" (choose)="onSelectAuthor($event)"
                  (goToPage)="goToAuthorPage.emit($event)" />
              }
              @case ('publisher') {
                <div>Escoge un editor</div>
                <assoc-library-admin-list-selection [data]="publishersSelection()" (choose)="onSelectPublisher($event)"
                  (goToPage)="goToPublisherPage.emit($event)" />
              }
            }
