<aside class="sidebar bg-secondary-subtle border ps-2">
  <!-- Iterate over menu options and display each section -->
  <ng-container *ngFor="let menu of menus">
    <h3>{{ menu.title }}</h3>
    <!-- Iterate over links within each section and display them -->
    <a *ngFor="let link of menu.links" [routerLink]="link.path"
      class="list-group-item list-group-item-action menu-item mb-2">
      <ng-container *ngIf="link.icon">
        <ng-container *ngComponentOutlet="link.icon" />
      </ng-container>
      {{ link.title }}
    </a>
  </ng-container>
</aside>