<layout-article title="#{{data.number}} {{data.name.fullName}}">
  <div appResponsiveShortColumns>
    <div *ngIf="showMenu">
      <form-editor-header [editable]="editable" [deletable]="deletable" (startEditing)="onStartEditing()"
        (delete)="onDelete()"></form-editor-header>
    </div>
    <ng-container [ngSwitch]="editing">
      <!-- Form -->
      <ng-container *ngSwitchCase="true">
        <div class="card mb-1">
          <div class="card-body">
            <assoc-member-form [waiting]="waiting" [readonly]="!formEnabled" [data]="data" [failures]="failures"
              [cancellable]="true" (save)="onSave($event)" (cancel)="onCancel()">
            </assoc-member-form>
          </div>
        </div>
      </ng-container>
      <!-- Info -->
      <ng-container *ngSwitchCase="false">
        <div class="card mb-1">
          <div class="card-body">
            <h5 class="card-title">Detalles</h5>
            <assoc-member-info [data]="data"></assoc-member-info>
          </div>
        </div>
        <div class="card mb-1">
          <div class="card-body">
            <h5 class="card-title">Estado</h5>
            <!-- Active -->
            <div class="row mb-2">
              <label id="activeLabel" class="col-sm-2 col-form-label">Activo</label>
              <div class="col-sm-10">
                <icon-success-or-failure [success]="data.active"></icon-success-or-failure>
              </div>
            </div>
            <!-- Enable button -->
            <ng-template [ngIf]="!data.active">
              <div class="col-sm-2 d-grid gap-2">
                <layout-waiting-button [waiting]="waiting" [disabled]="!editEnabled" name="Activate"
                  data-bs-toggle="modal"
                  [attr.data-bs-target]="editEnabled ? '#activateModal' : ''">Activar</layout-waiting-button>
              </div>
            </ng-template>
            <ng-template [ngIf]="data.active">
              <!-- Disable button -->
              <div class="col-sm-2 d-grid gap-2">
                <layout-waiting-button [waiting]="waiting" [disabled]="!editEnabled" name="Deactivate"
                  data-bs-toggle="modal"
                  [attr.data-bs-target]="editEnabled ? '#deactivateModal' : ''">Desactivar</layout-waiting-button>
              </div>
            </ng-template>
          </div>
        </div>
      </ng-container>
    </ng-container>
  </div>
</layout-article>

<!-- Modal confirmation for deactivating -->
<layout-modal name="deactivateModal" title="Desactivar socio" acceptText="Desactivar" (accept)="onDeactivate()">
  <p>¿Estás seguro de que quieres marcar como no activo al socio?</p>
</layout-modal>

<!-- Modal confirmation for activating -->
<layout-modal name="activateModal" title="Activar socio" acceptText="Activar" (accept)="onActivate()">
  <p>¿Estás seguro de que quieres marcar como activo al socio?</p>
</layout-modal>