<!-- List -->
<table class="table table-hover">
  <thead>
    <tr>
      <!-- Headers -->
      <th scope="col">
        Nombre <sorting-button property="fullName" (directionChange)="changeDirection.emit($event)"></sorting-button>
      </th>
    </tr>
  </thead>
  <tbody class="table-group-divider">
    <tr *ngFor="let member of members; let rowIndex = index" role="button" routerLink="{{routeLinkAdapter(member)}}">
      <!-- Cells -->
      <td>
        {{member.name.fullName}}
      </td>
    </tr>
  </tbody>
</table>