<!-- List -->
<table class="table table-hover">
  <thead>
    <tr>
      <!-- Headers -->
      <th scope="col">
        Fee date
      </th>
      <th scope="col">
        Payment date
      </th>
      <th scope="col">
        Paid
      </th>
    </tr>
  </thead>
  <tbody class="table-group-divider">
    <tr *ngFor="let fee of fees; let rowIndex = index" [ngClass]="{ 'table-warning': fee.paid === false }">
      <!-- Cells -->
      <td>
        {{fee.date}}
      </td>
      <td>
        {{fee.transaction.date}}
      </td>
      <td>
        {{fee.paid}}
      </td>
    </tr>
  </tbody>
</table>