<!-- List -->
<table class="table table-hover">
  <thead>
    <tr>
      <!-- Headers -->
      <th scope="col">
        <pagination-route-order-button property="name"></pagination-route-order-button>Name
      </th>
      <th scope="col">
        <pagination-route-order-button property="surname"></pagination-route-order-button>Surname
      </th>
      <th scope="col">
        <pagination-route-order-button property="active"></pagination-route-order-button>Active
      </th>
    </tr>
  </thead>
  <tbody>
    <tr *ngFor="let member of members; let rowIndex = index" role="button" routerLink="'members/'{{member.id}}">
      <!-- Cells -->
      <td>
        {{member.name}}
      </td>
      <td>
        {{member.surname}}
      </td>
      <td>
        <div [ngSwitch]="member.active">
          <div *ngSwitchCase="true">
            <fa-icon [icon]="activeIcon"></fa-icon>
          </div>
          <div *ngSwitchCase="false">
            <fa-icon [icon]="inactiveIcon"></fa-icon>
          </div>
        </div>
      </td>
    </tr>
  </tbody>
</table>