<form [formGroup]="form" (ngSubmit)="onSave()" class="needs-validation" novalidate>
  <!-- First name -->
  <div formGroupName="name">
    <p-floatlabel variant="in" class="mb-2 d-flex">
      <input pInputText type="text" id="firstNameInput" formControlName="firstName"
        [invalid]="isFieldInvalid('name.firstName')" class="w-100" />
      <label for="firstNameInput">Nombre</label>
    </p-floatlabel>
    <div class="mb-2">
      @for (failure of failures().getFailures('name.firstName'); track failure) {
      <p-message severity="error" size="small" variant="simple">
        {{failure.message}}
      </p-message>
      }
    </div>
  </div>
  <!-- Last name -->
  <div formGroupName="name">
    <p-floatlabel variant="in" class="mb-2 d-flex">
      <input pInputText type="text" id="lastNameInput" formControlName="lastName"
        [invalid]="isFieldInvalid('name.lastName')" class="w-100" />
      <label for="lastNameInput">Apellidos</label>
    </p-floatlabel>
    <div class="mb-2">
      @for (failure of failures().getFailures('name.lastName'); track failure) {
      <p-message severity="error" size="small" variant="simple">
        {{failure.message}}
      </p-message>
      }
    </div>
  </div>
  <!-- Membership -->
  <div class="form-check">
    <div class="row">
      <div formGroupName="membership" class="col-md-2">
        <p-toggleswitch formControlName="active" (onChange)="onChangeMemberStatus($event)" />
      </div>
      <div class="col-md-10">
        <label class="form-check-label" for="flexCheckDefault">
          Socio
        </label>
      </div>
    </div>
  </div>
  <form-save-controls [waiting]="waiting" [saveDisabled]="!saveEnabled" [cancelDisabled]="!cancelEnabled"
    [cancellable]="cancellable" (reject)="onCancel()" />
</form>