<ng-container [ngSwitch]="status">
  <ng-container *ngSwitchCase="'valid_token'">
    <app-card>
      <app-card-body>
        <h5 class="card-title">Activación de usuario {{username}}</h5>
          <access-user-activation-form [failures]="failures" [waiting]="activating"
            (save)="onActivateUser($event.password)" *layoutBlockUi="validating"></access-user-activation-form>
      </app-card-body>
    </app-card>
  </ng-container>
  <ng-container *ngSwitchCase="'invalid_token'">
    Token inválido
  </ng-container>
  <ng-container *ngSwitchCase="'finished'">
    Usuario activado
  </ng-container>
</ng-container>