<p-table lazy="true" dataKey="name" [loading]="loading()" [value]="permissions().content" paginator="true"
  [rows]="permissions().size" [totalRecords]="permissions().totalElements" [first]="first"
  (onPage)="onPageChange($event)" showCurrentPageReport="true" currentPageReportTemplate="Total: {totalRecords}">
  <ng-template #header>
    <tr>
      <th></th>
      <th pSortableColumn="resource">Recurso <p-sortIcon field="resource" /></th>
      <th pSortableColumn="action">Acción <p-sortIcon field="action" /></th>
    </tr>
  </ng-template>
  <ng-template #body let-permission>
    <tr>
      <td>
        <button (click)="onAddPermission(permission)" type="button" class="btn btn-link link-dark" role="button"
          aria-label="Back">
          <icon-add />
        </button>
      </td>
      <td>{{permission.resource}}</td>
      <td>{{permission.action}}</td>
    </tr>
  </ng-template>
</p-table>