<table class="table">
  <thead>
    <tr>
      <th scope="col"></th>
      <th scope="col">
        Recurso<sorting-button property="resource" (directionChange)="onChangeDirection($event)"></sorting-button>
      </th>
      <th scope="col">
        Acción<sorting-button property="action" (directionChange)="onChangeDirection($event)"></sorting-button>
      </th>
    </tr>
  </thead>
  <tbody class="table-group-divider">
    <ng-template ngFor let-permission [ngForOf]="permissions.content">
      <tr>
        <td>
          <button (click)="onAddPermission(permission)" type="button" class="btn btn-link link-dark" role="button"
            aria-label="Back">
            <icon-add></icon-add>
          </button>
        </td>
        <td>{{permission.resource}}</td>
        <td>{{permission.action}}</td>
      </tr>
    </ng-template>
  </tbody>
</table>
<!-- Permissions navigation -->
<div appJustifyCenter class="mt-1">
  <pagination-navigation [current]="permissions.page" [pages]="permissions.totalPages" (goTo)="onGoTo($event)">
  </pagination-navigation>
</div>