<p-card>
  <ng-template #title>
    <div *uiPlaceholder="waiting()"># {{data().index}}</div>
  </ng-template>
  <!-- Description -->
  <div class="row">
    <div class="col-sm-3 text-primary">Description</div>
    <div class="col-sm-9" *uiPlaceholder="waiting()">
      {{data().description}}
    </div>
  </div>
  <!-- Date -->
  <div class="row">
    <div class="col-sm-3 text-primary">Fecha</div>
    <div class="col-sm-9" *uiPlaceholder="waiting()">
      {{data().date}}
    </div>
  </div>
  <!-- Amount -->
  <div class="row">
    <div class="col-sm-3 text-primary">Importe</div>
    <div class="col-sm-9" *uiPlaceholder="waiting()">
      {{data().amount}}
    </div>
  </div>
  <ng-template #footer>
    <div>
      <form-control-buttons [editable]="editable()" [deletable]="deletable()" [disabled]="waiting()"
        (startEditing)="startEditing.emit()" (delete)="delete.emit()"></form-control-buttons>
    </div>
  </ng-template>
</p-card>