<layout-card>
  <layout-card-header>
    <h2 *layoutPlaceholder="waiting"># {{data.index}}</h2>
  </layout-card-header>
  <layout-card-body>
    <!-- Description -->
    <div class="row">
      <div class="col-sm-3 text-primary">Description</div>
      <div class="col-sm-9" *layoutPlaceholder="waiting">
        {{data.description}}
      </div>
    </div>
    <!-- Date -->
    <div class="row">
      <div class="col-sm-3 text-primary">Fecha</div>
      <div class="col-sm-9" *layoutPlaceholder="waiting">
        {{data.date}}
      </div>
    </div>
    <!-- Amount -->
    <div class="row">
      <div class="col-sm-3 text-primary">Importe</div>
      <div class="col-sm-9" *layoutPlaceholder="waiting">
        {{data.amount}}
      </div>
    </div>
  </layout-card-body>
  <layout-card-footer>
    <div>
      <form-control-buttons [editable]="editable" [deletable]="deletable" [disabled]="waiting"
        (startEditing)="startEditing.emit()" (delete)="delete.emit()"></form-control-buttons>
    </div>
  </layout-card-footer>
</layout-card>