<div class="card">
    <div class="card-body">
        <ng-content></ng-content>
        <div class="row">
            <!-- Save button -->
            <div class="col-sm-2 d-grid gap-2">
                <div *ngIf="saving; then saving_cue else save"></div>
                <ng-template #saving_cue>
                    <button type="submit" class="btn btn-primary"
                        aria-label="Save"><icon-waiting></icon-waiting></button>
                </ng-template>
                <ng-template #save>
                    <button type="submit" class="btn btn-primary" (click)="onSave()" [disabled]="!isAbleToSave()"
                        [attr.aria-disabled]="!isAbleToSave()" aria-label="Save">Save</button>
                </ng-template>
            </div>
        </div>
    </div>
</div>