<layout-article title="Datos de tipo">
  <div appResponsiveShortColumns>
    <div class="card">
      <div class="card-body">
        <div *ngIf="showMenu">
          <form-editor-header [editable]="editable" [deletable]="deletable" (startEditing)="onStartEditing()"
            (delete)="onDelete()"></form-editor-header>
        </div>
        <ng-container [ngSwitch]="editing">
          <!-- Form -->
          <ng-container *ngSwitchCase="true">
            <assoc-library-admin-book-type-form [waiting]="waiting" [readonly]="!formEnabled" [data]="data"
              [failures]="failures" (save)="onSave($event)"></assoc-library-admin-book-type-form>
          </ng-container>
          <!-- Info -->
          <ng-container *ngSwitchCase="false">
            <assoc-library-admin-book-type-info [data]="data"></assoc-library-admin-book-type-info>
          </ng-container>
        </ng-container>
      </div>
    </div>
  </div>
</layout-article>