<div class="card">
  <div class="card-body">
    <layout-waiting-wrapper [waiting]="readingUsers">
      <!-- List -->
      <table class="table table-hover">
        <thead>
          <tr>
            <!-- Headers -->
            <th scope="col">
              Username<pagination-order-button property="username"
                (directionChange)="onChangeDirection($event)"></pagination-order-button>
            </th>
            <th scope="col">
              Scope<pagination-order-button property="scope"
                (directionChange)="onChangeDirection($event)"></pagination-order-button>
            </th>
            <th scope="col">
              Created<pagination-order-button property="creationDate"
                (directionChange)="onChangeDirection($event)"></pagination-order-button>
            </th>
            <th scope="col">
              Consumed<pagination-order-button property="consumed"
                (directionChange)="onChangeDirection($event)"></pagination-order-button>
            </th>
            <th scope="col">
              Revoked<pagination-order-button property="revoked"
                (directionChange)="onChangeDirection($event)"></pagination-order-button>
            </th>
          </tr>
        </thead>
        <tbody class="table-group-divider">
          <tr *ngFor="let token of page.content; let rowIndex = index" role="button" routerLink="/user-tokens/{{token.token}}">
            <!-- Cells -->
            <td>
              {{token.username}}
            </td>
            <td>
              {{token.scope}}
            </td>
            <td>
              {{token.creationDate}}
            </td>
            <td>
              {{token.consumed}}
            </td>
            <td>
              {{token.revoked}}
            </td>
          </tr>
        </tbody>
      </table>
    </layout-waiting-wrapper>
  </div>
  <div class="d-flex justify-content-center mt-1">
    <pagination-route-navigation [disabled]="readingUsers" [totalPages]="page.totalPages">
    </pagination-route-navigation>
  </div>
</div>