<layout-article title="Edit fee">
  <div class="col-md-6 offset-md-3">
    <layout-edition-wrapper [editable]="isAbleToEdit()" [deletable]="isAbleToDelete()" [editing]="editing"
      (delete)="onDelete()" (startEditing)="onStartEditing()">
      <!-- Form -->
      <assoc-fee-edit-form id="form" [waiting]="isWaiting()" [readonly]="!isEditable()" [data]="data"
        [failures]="failures" (save)="onSave($event)">
      </assoc-fee-edit-form>
      <!-- Info -->
      <assoc-fee-info id="info" [data]="data"></assoc-fee-info>
    </layout-edition-wrapper>
  </div>
</layout-article>