<!-- List -->
<table class="table table-hover">
  <thead>
    <tr>
      <!-- Headers -->
      <th scope="col">
        Nombre <sorting-button property="name" (directionChange)="changeDirection.emit($event)"></sorting-button>
      </th>
    </tr>
  </thead>
  <tbody class="table-group-divider">
    @for (role of roles; track role; let rowIndex = $index) {
      <tr role="button" routerLink="{{routeLinkAdapter(role)}}">
        <!-- Cells -->
        <td>
          {{role.name}}
        </td>
      </tr>
    }
  </tbody>
</table>