<layout-article title="Edit transaction">
  <layout-waiting-wrapper [waiting]="waiting">
    <layout-edition-wrapper [editable]="editPermission" [saving]="saving" [editing]="editing"
      [deletable]="deletePermission" [valid]="valid" (delete)="onDelete()" (edit)="onStartEditing()"
      (save)="onSaveCurrent()">
      <!-- Form -->
      <assoc-transaction-form id="edit" [data]="data" [readonly]="!isEditable()" [failures]="failures"
        (save)="onSave($event)" (valueChange)="onChange($event)" (validityChange)="onValidityChange($event)">
      </assoc-transaction-form>
      <!-- Info -->
      <assoc-transaction-info id="info" [data]="data"></assoc-transaction-info>
    </layout-edition-wrapper>
  </layout-waiting-wrapper>
</layout-article>