<layout-article title="Edit transaction">
  <layout-edition-wrapper [editable]="editPermission" [deletable]="deletePermission" [waiting]="isWaiting()"
    [error]="error" (delete)="onDelete()">
    <!-- Form -->
    <assoc-transaction-form id="form" [waiting]="isWaiting()" [readonly]="!isEditable()" [data]="data"
      [failures]="failures" (save)="onSave($event)">
    </assoc-transaction-form>
    <!-- Info -->
    <assoc-transaction-info id="info" [data]="data"></assoc-transaction-info>
  </layout-edition-wrapper>
</layout-article>