<canvas id="balanceChart"></canvas>

<div class="row">
  <div class="col-4">
    Start
  </div>
  <div class="col-8">
    <select class="form-select form-select-sm" aria-label="Start month" (change)="onSelectStartMonth($event)">
      <option *ngFor="let selectionMonth of months.reverse()" [selected]="selectionMonth === startMonth"
        [value]="selectionMonth">
        {{selectionMonth}}</option>
    </select>
  </div>
  <div class="col-4">
    End
  </div>
  <div class="col-8">
    <select class="form-select form-select-sm" aria-label="End month" (change)="onSelectEndMonth($event)">
      <option *ngFor="let selectionMonth of months.reverse()" [selected]="selectionMonth === endMonth"
        [value]="selectionMonth">
        {{selectionMonth}}</option>
    </select>
  </div>
</div>