<canvas id="balanceChart"></canvas>

<div class="row">
  <div class="col">
    <!-- Start month -->
    <select class="form-select" aria-label="Start month" [disabled]="readingBalance"
      (change)="onSelectStartMonth($event)">
      <option *ngFor="let selectionMonth of months.reverse()" [selected]="selectionMonth === startMonth"
        [value]="selectionMonth">
        {{selectionMonth}}</option>
    </select>
    <!-- End month -->
    <select class="form-select" aria-label="End month" [disabled]="readingBalance" (change)="onSelectEndMonth($event)">
      <option *ngFor="let selectionMonth of months.reverse()" [selected]="selectionMonth === endMonth"
        [value]="selectionMonth">
        {{selectionMonth}}</option>
    </select>
  </div>
</div>