<div *uiBlock="waiting()">
  <table class="table">
    <thead>
      <tr>
        <th scope="col"></th>
        <th scope="col">
          Recurso
        </th>
        <th scope="col">
          Acción
        </th>
      </tr>
    </thead>
    <tbody class="table-group-divider">
      @for (permission of data.content; track permission) {
        <tr>
          <td>
            <button [disabled]="!deletable()" (click)="onRemove(permission)" type="button" class="btn btn-link link-dark"
              role="button" aria-label="Back">
              <icon-delete />
            </button>
          </td>
          <td>{{permission.resource}}</td>
          <td>{{permission.action}}</td>
        </tr>
      }
    </tbody>
  </table>
</div>
<!-- Page navigation -->
<div uiJustifyCenter class="mt-1">
  <pagination-navigation [current]="data.page" [pages]="data.totalPages" [disabled]="waiting()"
    (goTo)="onGoToPage($event)" />
</div>