<ui-article>
  <ui-card>
    <ui-card-header>
      <!-- Add person -->
      <button type="button" class="btn btn-link" aria-label="register" routerLink="register"
        [disabled]="!createPermission" [attr.aria-disabled]="!createPermission">
        <icon-add></icon-add>
      </button>
    </ui-card-header>
    <ui-card-body>
      <!-- List -->
      <table *uiBlock="reading" class="table table-hover">
        <thead>
          <tr>
            <!-- Headers -->
            <th scope="col">
              Nombre<sorting-button property="name" (directionChange)="onChangeDirection($event)"></sorting-button>
            </th>
          </tr>
        </thead>
        <tbody class="table-group-divider">
          <tr *ngFor="let author of data.content; let rowIndex = index" role="button"
            routerLink="{{author.number}}">
            <!-- Cells -->
            <td>
              {{author.name}}
            </td>
          </tr>
        </tbody>
      </table>
    </ui-card-body>
    <ui-card-footer>
      <pagination-info [waiting]="reading" [current]="data.page" [pages]="data.totalPages"
        [totalElements]="data.totalElements" (goTo)="load($event)"></pagination-info>
    </ui-card-footer>
  </ui-card>
</ui-article>