<form [formGroup]="form" (ngSubmit)="onSave()" class="needs-validation" novalidate>
  <!-- Member -->
  <div class="row mb-2">
    <label for="fullNameInput" class="col-sm-2 col-form-label">Socio</label>
    <div class="col-sm-10">
      <input disabled type="text" [value]="fullname" id="fullNameInput" readonly="true" class="form-control"
        aria-describedby="fullNameLabel">
    </div>
  </div>
  <!-- Month -->
  <div class="row mb-2">
    <label for="monthInput" id="monthLabel" class="col-sm-2 col-form-label">Cuota</label>
    <div class="col-sm-10">
      <input type="month" id="monthInput" formControlName="month" class="form-control" formInvalidField="month"
        [backendFailure]="failures.hasFailures('month')">
      <form-input-failure-feedback [failures]="failures.getFailures('month')"></form-input-failure-feedback>
    </div>
  </div>

  <!-- Save button -->
  <div class="row">
    <div class="col-sm-2 d-grid gap-2">
      <!-- Save button -->
      <button type="submit" name="Save" class="btn btn-primary" [layoutWaiting]="waiting" [disabled]="!saveEnabled"
        [attr.aria-disabled]="!saveEnabled" (click)="onSave()">Guardar</button>
    </div>
  </div>
</form>