<div class="row mb-2">
  <div class="col-2">Selecciona un socio</div>
  <div class="col-4 offset-6 d-flex">
    <div class="me-2">
      Estado:
    </div>
    <assoc-member-status-select [disabled]="waiting"
      (changeStatus)="changeFilter.emit($event)"></assoc-member-status-select>
  </div>
</div>
<layout-waiting-overlay [waiting]="waiting">
  <layout-button-list [values]="memberPage.content" [renderer]="nameRenderer"
    (pick)="selectMember.emit($event)"></layout-button-list>
</layout-waiting-overlay>
<div class="d-flex justify-content-center mt-1">
  <pagination-navigation [disabled]="waiting" [current]="memberPage.page + 1" [pages]="memberPage.totalPages"
    (goTo)="goToPage.emit($event)">
  </pagination-navigation>
</div>