<!-- List -->
<table class="table table-hover">
  <thead>
    <tr>
      <!-- Headers -->
      <th scope="col">
        Nombre <sorting-button property="name" (directionChange)="changeDirection.emit($event)" />
      </th>
    </tr>
  </thead>
  <tbody class="table-group-divider">
    @for (user of users(); track user; let rowIndex = $index) {
      <tr role="button" routerLink="{{routeLinkAdapter()(user)}}">
        <!-- Cells -->
        <td>
          {{user.name}}
        </td>
      </tr>
    }
  </tbody>
</table>