<layout-waiting-wrapper [waiting]="readingSelection">
  <!-- Add role -->
  <table class="table table-hover">
    <thead>
      <tr>
        <th scope="col"></th>
        <th scope="col">
          role
        </th>
      </tr>
    </thead>
    <tbody class="table-group-divider">
      <ng-template ngFor let-role [ngForOf]="response.content">
        <tr role="button">
          <td>
            <button (click)="onAddRole(role)" type="button" class="btn btn-link link-dark" role="button"
              aria-label="Back">
              <icon-add></icon-add>
            </button>
          </td>
          <td>{{role.name}}</td>
        </tr>
      </ng-template>
    </tbody>
  </table>
</layout-waiting-wrapper>
<div class="d-flex justify-content-center mt-1">
  <pagination-navigation [disabled]="readingSelection" [current]="response.currentPage()" [pages]="response.totalPages"
    (goTo)="loadRoleSelectionPage($event)">
  </pagination-navigation>
</div>