<layout-waiting-wrapper [waiting]="readingSelection">
  <!-- Add role -->
  <table class="table table-hover">
    <thead>
      <tr>
        <th scope="col">
          role
        </th>
      </tr>
    </thead>
    <tbody class="table-group-divider">
      <ng-template ngFor let-role [ngForOf]="roleSelection">
        <tr role="button" (click)="onAddRole(role)">
          <td>{{role.name}}</td>
        </tr>
      </ng-template>
    </tbody>
  </table>
</layout-waiting-wrapper>
<div class="d-flex justify-content-center mt-1">
  <pagination-navigation [disabled]="readingSelection" [current]="roleSelectionPage" [pages]="roleSelectionTotalPages"
    (goTo)="loadRoleSelectionPage($event)">
  </pagination-navigation>
</div>