<app-card>
  <app-card-header>
    <!-- Add user -->
    <button type="button" class="btn btn-link" aria-label="register" routerLink="/security/users/add"
      [disabled]="!createPermission" [attr.aria-disabled]="!createPermission">
      <icon-add></icon-add>
    </button>
  </app-card-header>
  <app-card-body>
    <access-user-selection-list [users]="page.content" [routeLinkAdapter]="routeLinkAdapter"
      (changeDirection)="onChangeDirection($event)"></access-user-selection-list>
  </app-card-body>
  <app-card-footer>
    <layout-pagination-info [waiting]="reading" [page]="page" (goTo)="load($event)"></layout-pagination-info>
  </app-card-footer>
</app-card>