<div uiResponsiveShortColumns>
  @if (editing) {
    <!-- Form -->
    @switch (view) {
      @case ('details') {
        <p-card>
          <assoc-library-admin-game-book-edition-form [data]="data" [waiting]="saving" [failures]="failures"
            [readonly]="!formEnabled" [cancellable]="true" [languages]="languages"
            [bookTypesSelection]="bookTypesSelection" [gameSystemsSelection]="gameSystemsSelection"
            [authorsSelection]="authorsSelection" [publishersSelection]="publishersSelection"
            (save)="onSave($event)" (reject)="onCancel()" (goToBookTypePage)="onGoToBookTypePage($event)"
            (goToGameSystemPage)="onGoToGameSystemPage($event)" (goToAuthorPage)="onGoToAuthorPage($event)"
            (goToPublisherPage)="onGoToPublisherPage($event)" />
        </p-card>
      }
      @case ('donors') {
        <p-card>
          <assoc-library-admin-book-donors-form [data]="donation" [waiting]="saving" [failures]="failures"
            [readonly]="!formEnabled" [cancellable]="true" [donorsSelection]="donorPage" (save)="onSetDonation($event)"
            (reject)="onCancel()" (goToDonorPage)="onGoToDonorPage($event)" />
        </p-card>
      }
    }
  } @else {
    <p-card class="mb-2">
      <ng-template #title>
        @if (waiting) {
          <p-skeleton height="2rem" class="mb-2" />
        } @else {
          <h2># {{data.number}} {{data.title.fullTitle}}</h2>
        }
      </ng-template>
      <!-- Number -->
      <div class="row">
        <div class="col-3">
          @if (waiting) {
            <p-skeleton class="mb-2" />
          } @else {
            # {{data.number}}
          }
        </div>
      </div>
      <!-- ISBN -->
      <div class="row">
        <div class="col-sm-3 text-primary">ISBN</div>
        <div class="col-sm-9">
          @if (waiting) {
            <p-skeleton class="mb-2" />
          } @else {
            {{data.isbn}}
          }
        </div>
      </div>
      <!-- Title -->
      <div class="row">
        <div class="col-sm-3 text-primary">Título</div>
        <div class="col-sm-9">
          @if (waiting) {
            <p-skeleton class="mb-2" />
          } @else {
            <sup>{{data.title.supertitle}}</sup>
            {{data.title.title}}
            <sub>{{data.title.subtitle}}</sub>
          }
        </div>
      </div>
      <!-- Language -->
      <div class="row">
        <div class="col-sm-3 text-primary">Idioma</div>
        <div class="col-sm-9">
          @if (waiting) {
            <p-skeleton class="mb-2" />
          } @else {
            {{language}}
          }
        </div>
      </div>
      <!-- Publish date -->
      <div class="row">
        <div class="col-sm-3 text-primary">Fecha de publicación</div>
        <div class="col-sm-9">
          @if (waiting) {
            <p-skeleton class="mb-2" />
          } @else {
            {{data.publishDate}}
          }
        </div>
      </div>
      <!-- Authors -->
      <div class="row">
        <div class="col-sm-3 text-primary">Autor</div>
        <div class="col-sm-9">
          @if (waiting) {
            <p-skeleton class="mb-2" />
          } @else {
            {{authors}}
          }
        </div>
      </div>
      <!-- Publishers -->
      <div class="row">
        <div class="col-sm-3 text-primary">Editor</div>
        <div class="col-sm-9">
          @if (waiting) {
            <p-skeleton class="mb-2" />
          } @else {
            {{publishers}}
          }
        </div>
      </div>
      <!-- Book type -->
      <div class="row">
        <div class="col-sm-3 text-primary">Tipo</div>
        <div class="col-sm-9">
          @if (waiting) {
            <p-skeleton class="mb-2" />
          } @else {
            {{data.bookType?.name}}
          }
        </div>
      </div>
      <!-- Game system -->
      <div class="row">
        <div class="col-sm-3 text-primary">Sistema</div>
        <div class="col-sm-9">
          @if (waiting) {
            <p-skeleton class="mb-2" />
          } @else {
            {{data.gameSystem?.name}}
          }
        </div>
      </div>
      <ng-template #footer>
      <form-control-buttons [editable]="editable" [deletable]="deletable" [disabled]="waiting"
      (startEditing)="onStartEditingView('details')" (delete)="onDelete()" />
      </ng-template>
    </p-card>

    <p-card class="mb-2">
      <ng-template #title>
        <h2>Donantes</h2>
      </ng-template>
      <!-- Donors -->
      <!-- Donation date -->
      <div class="row">
        <div class="col-sm-3 text-primary">Fecha de donación</div>
        <div class="col-sm-9">
          @if (waiting) {
            <p-skeleton class="mb-2" />
          } @else {
            {{data.donation?.date}}
          }
        </div>
      </div>
      <!-- Donors -->
      <div class="row">
        <div class="col-sm-3 text-primary">Donante</div>
        <div class="col-sm-9">
          @if (waiting) {
            <p-skeleton class="mb-2" />
          } @else {
            {{donors}}
          }
        </div>
      </div>
      <ng-template #footer>
        <form-control-buttons [editable]="editable" [disabled]="waiting"
        (startEditing)="onStartEditingView('donors')"/>
      </ng-template>
    </p-card>

    <p-card>
      <ng-template #title>
        <h2>Préstamos</h2>
      </ng-template>
      <assoc-library-book-lendings [lendings]="data.lendings" />
      @if (data.lent) {
        <!-- Return button -->
        <button type="button" class="btn btn-link link-dark" role="button" aria-label="lend" routerLink="return"
          [disabled]="lendDisabled" [attr.aria-disabled]="lendDisabled">
          <span class="pi pi-arrow-circle-down"></span> Devolver
        </button>
      } @else {
        <!-- Lend button -->
        <button type="button" class="btn btn-link link-dark" role="button" aria-label="lend" routerLink="lend"
          [disabled]="lendDisabled" [attr.aria-disabled]="lendDisabled">
          <span class="pi pi-arrow-circle-up"></span> Prestar
        </button>
      }
    </p-card>
  }
</div>