<div uiResponsiveShortColumns>
  @if (editing) {
    <!-- Form -->
    @switch (view) {
      @case ('details') {
        <p-card>
          <assoc-library-admin-game-book-edition-form [data]="data" [waiting]="saving" [failures]="failures"
            [readonly]="!formEnabled" [cancellable]="true" [languages]="languages"
            [bookTypesSelection]="bookTypesSelection" [gameSystemsSelection]="gameSystemsSelection"
            [authorsSelection]="authorsSelection" [publishersSelection]="publishersSelection"
            (save)="onSave($event)" (reject)="onCancel()" (goToBookTypePage)="onGoToBookTypePage($event)"
            (goToGameSystemPage)="onGoToGameSystemPage($event)" (goToAuthorPage)="onGoToAuthorPage($event)"
            (goToPublisherPage)="onGoToPublisherPage($event)" />
        </p-card>
      }
      @case ('donors') {
        <p-card>
          <assoc-library-admin-book-donors-form [data]="donation" [waiting]="saving" [failures]="failures"
            [readonly]="!formEnabled" [cancellable]="true" [donors]="donorPage" (save)="onSetDonation($event)"
            (reject)="onCancel()" (goToDonorPage)="onGoToDonorPage($event)" />
        </p-card>
      }
    }
  } @else {
    <!-- Info -->
    <assoc-library-admin-game-book-details [data]="data" [showMenu]="showMenu" [editEnabled]="editEnabled"
      [waiting]="waiting" [deletable]="deletable" [editable]="editable" [lendDisabled]="lendDisabled"
      [languages]="languages" (delete)="onDelete()"
    (startEditing)="onStartEditingView($event)" />

    <p-card>
      <ng-template #title>
        <h2>Donantes</h2>
      </ng-template>
      <!-- Donors -->
      <!-- Donation date -->
      <div class="row">
        <div class="col-sm-3 text-primary">Fecha de donación</div>
        <div class="col-sm-9">
          @if (waiting) {
            <p-skeleton class="mb-2" />
          } @else {
            {{data.donation?.date}}
          }
        </div>
      </div>
      <!-- Donors -->
      <div class="row">
        <div class="col-sm-3 text-primary">Donante</div>
        <div class="col-sm-9">
          @if (waiting) {
            <p-skeleton class="mb-2" />
          } @else {
            {{donors}}
          }
        </div>
      </div>
      <ng-template #footer>
        <form-control-buttons [editable]="editable" [disabled]="waiting"
        (startEditing)="onStartEditingView('donors')"/>
      </ng-template>
    </p-card>

    <p-card>
      <ng-template #title>
        <h2>Préstamos</h2>
      </ng-template>
      <assoc-library-book-lendings [lendings]="data.lendings" />
      @if (data.lent) {
        <!-- Return button -->
        <button type="button" class="btn btn-link link-dark" role="button" aria-label="lend" routerLink="return"
          [disabled]="lendDisabled" [attr.aria-disabled]="lendDisabled">
          <span class="pi pi-arrow-circle-down"></span> Devolver
        </button>
      } @else {
        <!-- Lend button -->
        <button type="button" class="btn btn-link link-dark" role="button" aria-label="lend" routerLink="lend"
          [disabled]="lendDisabled" [attr.aria-disabled]="lendDisabled">
          <span class="pi pi-arrow-circle-up"></span> Prestar
        </button>
      }
    </p-card>
  }
</div>