<form [formGroup]="form" (ngSubmit)="onSave()">
    <div class="text-center">
        <div class="form-group mb-2">
            <input placeholder="password" type="password" formControlName="oldPassword" class="form-control"
                [ngClass]="{ 'is-invalid': isFieldInvalid('oldPassword') }" />
        </div>
        <div class="form-group mb-2">
            <input placeholder="new_password" type="password" formControlName="newPassword" class="form-control"
                [ngClass]="{ 'is-invalid': isFieldInvalid('newPassword') }" />
        </div>
        <div class="form-group mb-2">
            <input placeholder="password_repeat" type="password" formControlName="passwordRepeat" class="form-control"
                [ngClass]="{ 'is-invalid': isFieldInvalid('passwordRepeat') }" />
        </div>
        <!-- Save button -->
        <div class="d-grid gap-2">
            <button [disabled]="!isSaveEnabled()" class="btn btn-primary" [attr.aria-disabled]="!isSaveEnabled()"
                aria-label="Login">
                <cue-waiting *ngIf="saving"></cue-waiting> Change
            </button>
        </div>
    </div>
</form>