<form [formGroup]="form" (ngSubmit)="onSave()">
  <!-- Original password -->
  <div class="row mb-2">
    <label for="oldPasswordInput" id="oldPasswordLabel" class="col-sm-2 col-form-label">Old password</label>
    <div class="col-sm-10">
      <input type="password" id="oldPasswordInput" formControlName="oldPassword" [readonly]="readonly" class="form-control"
        [ngClass]="{ 'is-invalid': isFieldInvalid('oldPassword') }" aria-describedby="oldPasswordLabel">
      <div class="invalid-feedback" *ngFor="let failure of getFailures('oldPassword')">
        {{failure.message}}
      </div>
    </div>
  </div>
  <!-- Original password -->
  <div class="row mb-2">
    <label for="newPasswordInput" id="newPasswordLabel" class="col-sm-2 col-form-label">New password</label>
    <div class="col-sm-10">
      <input type="password" id="newPasswordInput" formControlName="newPassword" [readonly]="readonly" class="form-control"
        [ngClass]="{ 'is-invalid': isFieldInvalid('newPassword') }" aria-describedby="newPasswordLabel">
      <div class="invalid-feedback" *ngFor="let failure of getFailures('newPassword')">
        {{failure.message}}
      </div>
    </div>
  </div>
  <!-- Repeat password -->
  <div class="row mb-2">
    <label for="passwordRepeatInput" id="passwordRepeatLabel" class="col-sm-2 col-form-label">Repeat password</label>
    <div class="col-sm-10">
      <input type="password" id="passwordRepeatInput" formControlName="passwordRepeat" [readonly]="readonly" class="form-control"
        [ngClass]="{ 'is-invalid': isFieldInvalid('passwordRepeat') }" aria-describedby="passwordRepeatLabel">
      <div class="invalid-feedback" *ngFor="let failure of getFailures('passwordRepeat')">
        {{failure.message}}
      </div>
    </div>
  </div>
  <!-- Save button -->
  <div class="row">
    <div class="col-sm-2 d-grid gap-2">
      <layout-waiting-button [waiting]="waiting" [disabled]="isSaveDisabled()" name="Save"
        (action)="onSave()"></layout-waiting-button>
    </div>
  </div>
</form>