<layout-article title="Socios">
  <div class="row pb-2">
    <div appJustifyCenter>
      <assoc-member-balance-chart-widget></assoc-member-balance-chart-widget>
    </div>
  </div>
  <div class="row">
    <!-- Member List -->
    <app-card>
      <app-card-body>
        <!-- List -->
        <layout-pagination-info-wrapper [waiting]="reading" [page]="page" (goTo)="load($event)">
          <assoc-public-member-list [members]="page.content" [routeLinkAdapter]="routeLinkAdapter"
            (changeDirection)="onChangeDirection($event)">
          </assoc-public-member-list>
        </layout-pagination-info-wrapper>
      </app-card-body>
    </app-card>
  </div>
</layout-article>