<form [formGroup]="form" (ngSubmit)="onResetPassword()" class="needs-validation" novalidate>
    <!-- Password -->
    <div class="mb-2">
      <input placeholder="Password" type="text" id="passwordInput" formControlName="password" class="form-control"
        [ngClass]="{ 'is-invalid': isInvalid('password') }" />
    </div>
    <!-- Repeat password -->
    <div class="mb-2">
      <input placeholder="Confirm password" type="text" id="confirmPasswordInput" formControlName="confirmPassword" class="form-control"
        [ngClass]="{ 'is-invalid': isInvalid('confirmPassword') }" />
    </div>
    <!-- Login button -->
    <button type="submit" class="btn btn-primary" [disabled]="!isAbleToSubmit()" name="Reset" aria-label="Reset">
      Reset
    </button>
  </form>