<div class="row">
    <h1>roles</h1>
</div>
<layout-data-list createRoute="/security/roles/create" [totalPages]="totalPages" (delete)="onDelete()">
    <table class="table">
        <thead>
            <tr>
                <th scope="col">
                    <pagination-order-button property="name" [disabled]="isLoading()"></pagination-order-button>name
                </th>
                <th scope="col"></th>
            </tr>
        </thead>
        <tbody>
            <ng-template ngFor let-role [ngForOf]="roles">
                <tr>
                    <td>{{role.name}}</td>
                    <td>
                        <a routerLink="/security/roles/{{role.id}}" class="btn btn-default" role="button">
                            <icon-edit></icon-edit>
                        </a>
                        <button (click)="select(role)" data-bs-toggle="modal" data-bs-target="#deleteModal"
                            type="button" class="btn btn-default" role="button" aria-label="Back">
                            <icon-delete></icon-delete>
                        </button>
                    </td>
                </tr>
            </ng-template>
        </tbody>
    </table>
</layout-data-list>