<layout-article title="Book info">
  <div class="col-md-6 offset-md-3">
    <div class="card">
      <div class="card-body">
        <div *ngIf="showMenu">
          <form-editor-header [editable]="editable" [deletable]="deletable" (startEditing)="onStartEditing()"
            (delete)="onDelete()"></form-editor-header>
        </div>
        <form-info-editor [editing]="editing">
          <!-- Form -->
          <form-info-editor-form>
            <assoc-library-admin-book-form [data]="data" [waiting]="saving" [failures]="failures"
              [readonly]="!formEnabled" [bookTypePage]="bookTypePage" [gameSystemPage]="gameSystemPage"
              [authorPage]="authorPage" [publisherPage]="publisherPage" [cancellable]="true" (save)="onSave($event)"
              (cancel)="onCancel()" (goToBookTypePage)="onGoToBookTypePage($event)"
              (goToGameSystemPage)="onGoToGameSystemPage($event)" (goToAuthorPage)="onGoToAuthorPage($event)"
              (goToPublisherPage)="onGoToPublisherPage($event)" (selectBookType)="onSelectBookType($event)"
              (selectGameSystem)="onSelectGameSystem($event)" (selectAuthor)="onSelectAuthor($event)"
              (selectPublisher)="onSelectPublisher($event)">
            </assoc-library-admin-book-form>
          </form-info-editor-form>
          <!-- Info -->
          <form-info-editor-info>
            <assoc-library-admin-book-info [data]="data"></assoc-library-admin-book-info>
          </form-info-editor-info>
        </form-info-editor>
      </div>
    </div>
  </div>
</layout-article>