<layout-article>
  <div layoutResponsiveShortColumns>
    <ng-container [ngSwitch]="editing">
      <!-- Form -->
      <ng-container *ngSwitchCase="true">
        <layout-card>
          <layout-card-body>
            <assoc-transaction-form [waiting]="waiting" [readonly]="!formEnabled" [data]="data" [failures]="failures"
              [cancellable]="true" (save)="onSave($event)" (reject)="onCancel()">
            </assoc-transaction-form>
          </layout-card-body>
        </layout-card>
      </ng-container>
      <!-- Info -->
      <ng-container *ngSwitchCase="false">
        <assoc-transaction-info [data]="data" [showMenu]="showMenu" [deletable]="deletable" [editable]="editable"
          [waiting]="waiting" (delete)="onDelete()" (startEditing)="onStartEditing()"></assoc-transaction-info>
      </ng-container>
    </ng-container>
  </div>
</layout-article>