<div uiResponsiveShortColumns>
  @switch (editing) {
  <!-- Form -->
  @case (true) {
  <p-card>
    <assoc-transaction-form [waiting]="waiting" [readonly]="!formEnabled" [data]="data" [failures]="failures"
      [cancellable]="true" (save)="onSave($event)" (reject)="onCancel()" />
  </p-card>
  }
  <!-- Info -->
  @case (false) {
  <assoc-transaction-info [data]="data" [showMenu]="showMenu" [deletable]="deletable" [editable]="editable"
    [waiting]="waiting" (delete)="onDelete()" (startEditing)="onStartEditing()" />
  }
  }
</div>