<div class="row">
  <h1>members</h1>
</div>
<!-- Stats -->
<div class="row">
  <div class="col-1">
    active: {{activeCount}}
  </div>
</div>
<layout-data-list createRoute="/members/create" [loading]="loading" [pageInfo]="pageInfo" (delete)="onDelete()">
  <table class="table">
    <thead>
      <tr>
        <th scope="col">
          <order-button property="name"></order-button>name
        </th>
        <th scope="col">
          <order-button property="surname"></order-button>surname
        </th>
        <th scope="col">
          <order-button property="active"></order-button>active
        </th>
        <th scope="col"></th>
      </tr>
    </thead>
    <tbody>
      <ng-template ngFor let-member [ngForOf]="members">
        <tr>
          <td>{{member.name}}</td>
          <td>{{member.surname}}</td>
          <td><input type="checkbox" [checked]="member.active" [attr.disabled]="true" class="form-check-input">
          </td>
          <td>
            <button-link-edit link="/members/{{member.id}}"></button-link-edit>
            <button-delete (click)="select(member)" data-bs-toggle="modal"
              data-bs-target="#deleteModal"></button-delete>
          </td>
        </tr>
      </ng-template>
    </tbody>
  </table>
</layout-data-list>