<form [formGroup]="form" (ngSubmit)="onSave()" novalidate>

  <!-- Name -->
  <div formGroupName="name" class="flex flex-col gap-2">
  
    <label for="firstNameInput" class="font-medium">
      Nombre
    </label>
  
    <div class="flex flex-col md:items-end md:flex-row gap-4">
      <p-inputgroup class="mb-2 d-flex">
        <p-inputgroup-addon>
          <i class="pi pi-user"></i>
        </p-inputgroup-addon>
        <input pInputText type="text" id="firstNameInput" formControlName="firstName"
          [invalid]="isFieldInvalid('name.firstName')" placeholder="Nombre" />
        <input pInputText type="text" id="lastNameInput" formControlName="lastName"
          [invalid]="isFieldInvalid('name.lastName')" placeholder="Apellidos" />
      </p-inputgroup>
    </div>
  
  </div>

  <!-- Birth date -->
  <p-inputgroup class="mb-2">
    <p-inputgroup-addon>
      <i class="pi pi-calendar"></i>
    </p-inputgroup-addon>
    <p-datepicker id="birthDateInput" formControlName="birthDate" [invalid]="isFieldInvalid('birthDate')"
      dateFormat="yy-mm-dd" appendTo="body" placeholder="Fecha de nacimiento" />
  </p-inputgroup>

  <div class="mb-2">
    @for (failure of failures().getFailures('birthDate'); track failure) {
      <p-message severity="error" size="small" variant="simple">
        {{failure.message}}
      </p-message>
    }
  </div>

  <!-- Identifier -->
  <p-inputgroup class="mb-2">
    <p-inputgroup-addon>
      <i class="pi pi-id-card"></i>
    </p-inputgroup-addon>
    <input pInputText type="text" id="identifierInput" formControlName="identifier"
      [invalid]="isFieldInvalid('identifier')" placeholder="DNI" class="w-100" />
  </p-inputgroup>

  <div class="mb-2">
    @for (failure of failures().getFailures('identifier'); track failure) {
      <p-message severity="error" size="small" variant="simple">
        {{failure.message}}
      </p-message>
    }
  </div>

  <!-- Status toggles -->
  <div class="flex flex-col gap-4 mb-4">
  
    <!-- Active toggle -->
    <div class="flex flex-col gap-1">
      <div class="flex items-center space-x-2">
        <p-toggleswitch inputId="activeToggle" formControlName="active"></p-toggleswitch>
        <label for="activeToggle" class="select-none font-medium">
          Activo
        </label>
      </div>
      <span class="text-sm text-gray-500 ml-8">
        Indica si el socio puede participar en las actividades de la asociación.
      </span>
    </div>
  
    <!-- Renew toggle -->
    <div class="flex flex-col gap-1">
      <div class="flex items-center space-x-2">
        <p-toggleswitch inputId="renewToggle" formControlName="renew"></p-toggleswitch>
        <label for="renewToggle" class="select-none font-medium">
          Renovación
        </label>
      </div>
      <span class="text-sm text-gray-500 ml-8">
        Si está activo, se renovará mensualmente al socio.
      </span>
    </div>
  
  </div>

  <p-button type="submit" name="Guardar" [disabled]="!formStatus.saveEnabled" [loading]="loading()"
    [attr.aria-disabled]="!formStatus.saveEnabled">Guardar</p-button>
</form>