<!-- Roles -->
<table class="table" *uiBlock="waiting()">
  <thead>
    <tr>
      <th scope="col"></th>
      <th scope="col">
        Nombre
      </th>
    </tr>
  </thead>
  <tbody class="table-group-divider">
    @for (role of data.content; track role) {
      <tr>
        <td>
          <button [disabled]="!deletable()" (click)="onRemove(role)" type="button" class="btn btn-link link-dark"
            role="button" aria-label="Remove role">
            <icon-delete />
          </button>
        </td>
        <td>{{role.name}}</td>
      </tr>
    }
  </tbody>
</table>
<!-- Page navigation -->
<div uiJustifyCenter class="mt-1">
  <pagination-navigation [current]="data.page" [pages]="data.totalPages" [disabled]="waiting()"
    (goTo)="onGoToPage($event)" />
</div>