<div>
  @if (editing) {
    <!-- Form -->
    @switch (view) {
      @case ('details') {
        <p-card>
          <assoc-library-admin-fiction-book-edition-form [data]="data" [waiting]="saving" [failures]="failures"
            [readonly]="!formEnabled" [cancellable]="true" [languages]="languages" [authorsSelection]="authorsSelection"
            [publishersSelection]="publishersSelection" (save)="onSave($event)" (reject)="onCancel()"
            (goToAuthorPage)="onGoToAuthorPage($event)" (goToPublisherPage)="onGoToPublisherPage($event)" />
        </p-card>
      }
      @case ('donors') {
        <p-card>
          <assoc-library-admin-book-donors-form [data]="donation" [waiting]="saving" [failures]="failures"
            [readonly]="!formEnabled" [cancellable]="true" [donorsSelection]="donorPage" (save)="onSetDonation($event)"
            (reject)="onCancel()" (goToDonorPage)="onGoToDonorPage($event)" />
        </p-card>
      }
    }
  } @else {
    <p-toast />
    <p-confirmpopup />
    <div class="row justify-content-md-center">
      <p-panel class="col-sm-6">
        <ng-template #header>
          @if (waiting) {
          <p-skeleton height="2rem" class="mb-2" />
          } @else {
          <span class="p-panel-title"># {{data.number}} {{data.title.fullTitle}}</span>
          }
        </ng-template>
        <ng-template #icons>
          <p-button icon="pi pi-pencil" severity="secondary" [disabled]="!editable" aria-label="Editar"
            [attr.aria-disabled]="!editable" (click)="menu.toggle($event)" rounded text />
          <p-menu #menu [model]="editionMenu" [popup]="true" />
          <p-button icon="pi pi-trash" severity="danger" [disabled]="!editable" aria-label="Borrar"
            [attr.aria-disabled]="!editable" (click)="confirmDelete($event)" rounded text />
        </ng-template>
        <div class="row">
          @if (donated) {
              @if (waiting) {
              <p-skeleton height="2rem" class="mb-2" />
              } @else {
              Donado el {{ data.donation?.date }} por {{ donors }}
              }
          }
        </div>
        <div class="row">
            <!-- ISBN -->
            <div class="row">
              <div class="col-sm-3 text-primary">ISBN</div>
              <div class="col-sm-9">
                @if (waiting) {
                <p-skeleton class="mb-2" />
                } @else {
                {{data.isbn}}
                }
              </div>
            </div>
            <!-- Title -->
            <div class="row">
              <div class="col-sm-3 text-primary">Título</div>
              <div class="col-sm-9">
                @if (waiting) {
                <p-skeleton class="mb-2" />
                } @else {
                <sup>{{data.title.supertitle}}</sup>
                {{data.title.title}}
                <sub>{{data.title.subtitle}}</sub>
                }
              </div>
            </div>
            <!-- Language -->
            <div class="row">
              <div class="col-sm-3 text-primary">Idioma</div>
              <div class="col-sm-9">
                @if (waiting) {
                <p-skeleton class="mb-2" />
                } @else {
                {{language}}
                }
              </div>
            </div>
            <!-- Publish date -->
            <div class="row">
              <div class="col-sm-3 text-primary">Fecha de publicación</div>
              <div class="col-sm-9">
                @if (waiting) {
                <p-skeleton class="mb-2" />
                } @else {
                {{data.publishDate}}
                }
              </div>
            </div>
            <!-- Authors -->
            <div class="row">
              <div class="col-sm-3 text-primary">Autor</div>
              <div class="col-sm-9">
                @if (waiting) {
                <p-skeleton class="mb-2" />
                } @else {
                {{authors}}
                }
              </div>
            </div>
            <!-- Publishers -->
            <div class="row">
              <div class="col-sm-3 text-primary">Editor</div>
              <div class="col-sm-9">
                @if (waiting) {
                <p-skeleton class="mb-2" />
                } @else {
                {{publishers}}
                }
              </div>
            </div>
        </div>
      </p-panel>
      <!-- Lendings -->
      <p-panel class="col-sm-3 offset-sm-1">
        <ng-template #header>
          <span class="p-panel-title">Préstamos</span>
        </ng-template>
        <ng-template #icons>
          @if (data.lent) {
          <!-- Return button -->
          <p-button severity="secondary" routerLink="return" [disabled]="lendDisabled" aria-label="Devolver"
            [attr.aria-disabled]="lendDisabled" text><span class="pi pi-download"></span> Devolver</p-button>
          } @else {
          <!-- Lend button -->
          <p-button severity="secondary" routerLink="lend" [disabled]="lendDisabled" aria-label="Prestar"
            [attr.aria-disabled]="lendDisabled" text><span class="pi pi-upload"></span> Prestar</p-button>
          }
        </ng-template>
        <assoc-library-book-lendings [lendings]="data.lendings" />
      </p-panel>
    </div>
  }
</div>