<form [formGroup]="form" (ngSubmit)="onLogin()">
    <div class="form-group">
        <label for="username">Username</label>
        <input type="text" formControlName="username" class="form-control"
            [ngClass]="{ 'is-invalid': isFieldInvalid('username') }" />
        <div *ngIf="isFieldInvalid('username') && form.get('username')?.hasError('required')" class="invalid-feedback">
            Username is required
        </div>
    </div>
    <div class="form-group">
        <label for="password">Password</label>
        <input type="password" formControlName="password" class="form-control"
            [ngClass]="{ 'is-invalid': isFieldInvalid('password') }" />
        <div *ngIf="isFieldInvalid('password') && form.get('password')?.hasError('required')" class="invalid-feedback">
            Password is required
        </div>
    </div>
    <div class="form-check form-switch">
        <input type="checkbox" formControlName="rememberMe" class="form-check-input">
        <label for="rememberMe" class="form-check-label">Remember me</label>
    </div>
    <button [disabled]="!this.form.valid" class="btn btn-primary" [attr.aria-disabled]="!this.form.valid" aria-label="Login">
        Login
    </button>
</form>