<app-card>
  <app-card-body>
    <!-- List -->
    <layout-pagination-info-wrapper [waiting]="reading" [page]="page" (goTo)="load($event)">
      <access-role-selection-list [roles]="page.content" (changeDirection)="onChangeDirection($event)"
        [routeLinkAdapter]="routeLinkAdapter"></access-role-selection-list>
    </layout-pagination-info-wrapper>
    <!-- Add -->
    <div appJustifyCenter>
      <button type="button" class="btn btn-primary" aria-label="register" routerLink="/security/roles/add"
        [disabled]="!createPermission" [attr.aria-disabled]="!createPermission">
        <icon-add></icon-add>
      </button>
    </div>
  </app-card-body>
</app-card>