<div class="card">
  <div class="card-body">
    <!-- List -->
    <layout-waiting-overlay [waiting]="reading">
      <access-role-selection-list [page]="page"
        (changeDirection)="onChangeDirection($event)"></access-role-selection-list>
    </layout-waiting-overlay>
    <!-- Pagination info -->
    <pagination-navigation-info [page]="page" [disabled]="reading" (goTo)="load($event)"></pagination-navigation-info>
    <!-- Add -->
    <div class="col-md-2 offset-md-5">
      <div class="d-grid">
        <button type="button" class="btn btn-primary" aria-label="register" routerLink="/security/roles/add"
          [disabled]="!createPermission" [attr.aria-disabled]="!createPermission">
          <icon-add></icon-add>
        </button>
      </div>
    </div>
  </div>
</div>