<div class="card">
  <div class="card-body">
    <!-- List -->
    <layout-pagination-info-wrapper [waiting]="reading" [page]="page" (goTo)="load($event)">
      <access-role-selection-list [roles]="page.content" (changeDirection)="onChangeDirection($event)"
        [routeLinkAdapter]="routeLinkAdapter"></access-role-selection-list>
    </layout-pagination-info-wrapper>
    <!-- Add -->
    <div class="col-md-2 offset-md-5">
      <div class="d-grid">
        <button type="button" class="btn btn-primary" aria-label="register" routerLink="/security/roles/add"
          [disabled]="!createPermission" [attr.aria-disabled]="!createPermission">
          <icon-add></icon-add>
        </button>
      </div>
    </div>
  </div>
</div>