<form class="needs-validation" novalidate>
  <!-- Username -->
  <div class="row mb-2">
    <label for="usernameInput" id="usernameLabel" class="col-sm-2 col-form-label">Username</label>
    <div class="col-sm-10">
      <input type="text" [value]="data.username" id="usernameInput" [readonly]="true" class="form-control"
        aria-describedby="usernameLabel">
    </div>
  </div>
  <!-- Name -->
  <div class="row mb-2">
    <label for="nameInput" id="nameLabel" class="col-sm-2 col-form-label">Name</label>
    <div class="col-sm-10">
      <input type="text" [value]="data.name" id="nameInput" [readonly]="true" class="form-control"
        aria-describedby="nameLabel">
    </div>
  </div>
  <!-- Email -->
  <div class="row mb-2">
    <label for="emailInput" id="emailLabel" class="col-sm-2 col-form-label">Email</label>
    <div class="col-sm-10">
      <input type="text" [value]="data.email" id="emailInput" [readonly]="true" class="form-control"
        aria-describedby="emailLabel">
    </div>
  </div>
  <!-- Enabled -->
  <div class="row mb-2">
    <label id="enabledLabel" class="col-sm-2 col-form-label">Enabled</label>
    <div class="col-sm-10">
      <icon-success *ngIf="data.enabled"></icon-success>
      <icon-failure *ngIf="!data.enabled"></icon-failure>
    </div>
  </div>
  <!-- Password expired -->
  <div class="row mb-2">
    <label id="passwordExpiredLabel" class="col-sm-2 col-form-label">Password expired</label>
    <div class="col-sm-10">
      <icon-success *ngIf="data.passwordExpired"></icon-success>
      <icon-failure *ngIf="!data.passwordExpired"></icon-failure>
    </div>
  </div>
</form>