<nav id="navbar-main" class="navbar navbar-expand-md navbar-dark sticky-top bg-primary flex-md-nowrap p-0">
  <div class="container-fluid">
    <a class="navbar-brand" href="#">
      <img src="assets/resources/img/ucronia.png" alt="Ucronía" width="19.85" height="24" routerLink="/" class="me-2">{{title}}
    </a>
    <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbar-main-menu"
      aria-controls="navbar-main" aria-expanded="false" aria-label="Toggle navigation">
      <span class="navbar-toggler-icon"></span>
    </button>
    <div class="collapse navbar-collapse" id="navbar-main-menu">
      <ul class="nav navbar-nav ms-auto">
        <li *ngIf="showSecurity" class="nav-item">
          <a routerLink="/security" class="nav-link" aria-label="Security" title="Security">
            <icon-shield></icon-shield>
          </a>
        </li>
        <li *ngIf="showConfig" class="nav-item">
          <a routerLink="/configuration" class="nav-link" aria-label="Configuration" title="Configuration">
            <icon-settings></icon-settings>
          </a>
        </li>
        <!-- Account menu -->
        <layout-account-dropdown></layout-account-dropdown>
      </ul>
    </div>
  </div>
</nav>