<nav id="navbar-main" class="navbar navbar-expand-md navbar-dark sticky-top bg-primary flex-md-nowrap p-0">
  <div class="container-fluid">
    <a class="navbar-brand" routerLink="/">{{title}}</a>
    <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbar-main-menu"
      aria-controls="navbar-main" aria-expanded="false" aria-label="Toggle navigation">
      <span class="navbar-toggler-icon"></span>
    </button>
    <div class="collapse navbar-collapse" id="navbar-main-menu">
      <ul class="nav navbar-nav ms-auto">
        <ng-template [ngIf]="showConfigMenu">
          <layout-config-dropdown></layout-config-dropdown>
        </ng-template>
        <!-- Account menu -->
        <layout-account-dropdown></layout-account-dropdown>
      </ul>
    </div>
  </div>
</nav>