<div uiResponsiveShortColumns>
  @if (editing) {
    <!-- Form -->
    <p-card>
      <assoc-library-admin-publisher-form [waiting]="waiting" [readonly]="!formEnabled" [cancellable]="true"
        [data]="data" [failures]="failures" (save)="onSave($event)" (reject)="onCancel()" />
    </p-card>
  }@else {
    <!-- Info -->
    <p-card>
      <ng-template #title>
        @if (waiting) {
          <p-skeleton height="2rem" class="mb-2" />
        } @else {
          <h2># {{data.number}}</h2>
        }
      </ng-template>
      <!-- Name -->
      <div class="row">
        <div class="col-sm-3 text-primary">Nombre</div>
        <div class="col-sm-9">
          @if (waiting) {
            <p-skeleton class="mb-2" />
          } @else {
            {{data.name}}
          }
        </div>
      </div>
      @if (showMenu) {
        <ng-template #footer>
          <form-control-buttons [editable]="editable" [deletable]="deletable" [disabled]="waiting"
          (startEditing)="onStartEditing()" (delete)="onDelete()" />
        </ng-template>
      }
    </p-card>
  }
</div>