<p-menubar [model]="menuItems">
  <ng-template pTemplate="start">
    <a class="navbar-brand flex items-center" routerLink="/">
      <img src="img/brand-icon.png" alt="Ucronía" width="20" height="24" class="mr-2" />
      {{ title }}
    </a>
  </ng-template>

  <ng-template pTemplate="end">
    <div class="d-flex align-items-center gap-2">
      @if (loggedOut) {
      <a routerLink="/login" class="p-button p-button-rounded p-button-text" aria-label="Login" title="Login">
        <icon-login />
      </a>
      }

      @if (loggedIn) {
      @if (showSecurity) {
      <a routerLink="/security" class="p-button p-button-rounded p-button-text" title="Seguridad">
        <icon-shield />
      </a>
      }

      @if (showSettings) {
      <a routerLink="/settings" class="p-button p-button-rounded p-button-text" title="Configuración">
        <icon-settings />
      </a>
      }

      <layout-account-dropdown class="ml-2" />
      }
    </div>
  </ng-template>
</p-menubar>