<p-menubar [model]="menuItems">
  <ng-template pTemplate="start">
    <a class="navbar-brand flex items-center" routerLink="/">
      <img src="img/brand-icon.png" alt="Ucronía" width="20" height="24" class="mr-2" />
      {{ title }}
    </a>
  </ng-template>

  <ng-template pTemplate="end">
    <div class="d-flex align-items-center gap-2">
      @if (loggedOut) {
      <p-button icon="pi pi-sign-in" [link]="true" routerLink="/login" aria-label="Login" />
      }

      @if (loggedIn) {
      @if (showSecurity) {
      <p-button icon="pi pi-shield" [link]="true" routerLink="/security" aria-label="Seguridad" />
      }

      @if (showSettings) {
      <p-button icon="pi pi-cog" [link]="true" routerLink="/settings" aria-label="Configuración" />
      }

      <layout-account-dropdown />

      }
    </div>
  </ng-template>
</p-menubar>