<!-- Username -->
<div class="row">
  <div class="col-sm-3 text-primary">Usuario</div>
  <div class="col-sm-9" *layoutPlaceholder="waiting">
    {{data.username}}
  </div>
</div>
<!-- Name -->
<div class="row">
  <div class="col-sm-3 text-primary">Nombre</div>
  <div class="col-sm-9" *layoutPlaceholder="waiting">
    {{data.name}}
  </div>
</div>
<!-- Email -->
<div class="row">
  <div class="col-sm-3 text-primary">E-mail</div>
  <div class="col-sm-9" *layoutPlaceholder="waiting">
    {{data.email}}
  </div>
</div>