<edition-edit-form-wrapper [saving]="saving" [editable]="editable" [deletable]="deletable" [valid]="formValid"
  (save)="onSave()" (edit)="onEdit()">
  <form [formGroup]="form" (ngSubmit)="onSave()" class="needs-validation" novalidate>
    <!-- Name -->
    <div class="row mb-2">
      <label for="nameInput" id="nameLabel" class="col-sm-2 col-form-label">Name</label>
      <div class="col-sm-10">
        <input type="text" id="nameInput" formControlName="name" [readonly]="!isEditable()" class="form-control"
          [ngClass]="{ 'is-invalid': isInvalid('name') }" aria-describedby="nameLabel">
        <div class="invalid-feedback" *ngFor="let failure of getFailures('name')">
          <span *ngIf="failure.field === 'name'">{{failure.message}}</span>
        </div>
      </div>
    </div>
    <!-- Surname -->
    <div class="row mb-2">
      <label for="surnameInput" id="surnameLabel" class="col-sm-2 col-form-label">Surname</label>
      <div class="col-sm-10">
        <input type="text" id="surnameInput" formControlName="surname" [readonly]="!isEditable()" class="form-control"
          [ngClass]="{ 'is-invalid': isInvalid('surname') }" aria-describedby="surnameLabel">
        <div class="invalid-feedback" *ngFor="let failure of getFailures('surname')">
          <span *ngIf="failure.field === 'surname'">{{failure.message}}</span>
        </div>
      </div>
    </div>
    <!-- Identifier -->
    <div class="row mb-2">
      <label for="identifierInput" id="identifierLabel" class="col-sm-2 col-form-label">Identifier</label>
      <div class="col-sm-10">
        <input type="text" id="identifierInput" formControlName="identifier" [readonly]="!isEditable()"
          class="form-control" [ngClass]="{ 'is-invalid': isInvalid('identifier') }" aria-describedby="identifierLabel">
        <div class="invalid-feedback" *ngFor="let failure of getFailures('identifier')">
          <span *ngIf="failure.field === 'identifier'">{{failure.message}}</span>
        </div>
      </div>
    </div>
    <!-- Phone -->
    <div class="row mb-2">
      <label for="phoneInput" id="phoneLabel" class="col-sm-2 col-form-label">Phone</label>
      <div class="col-sm-10">
        <input type="text" id="phoneInput" formControlName="phone" [readonly]="!isEditable()" class="form-control"
          [ngClass]="{ 'is-invalid': isInvalid('phone') }" aria-describedby="phoneLabel">
        <div class="invalid-feedback" *ngFor="let failure of getFailures('phone')">
          <span *ngIf="failure.field === 'phone'">{{failure.message}}</span>
        </div>
      </div>
    </div>
    <!-- Active -->
    <div class="col-sm-10 offset-sm-2">
      <input type="checkbox" id="activeInput" formControlName="active" [readonly]="!isEditable()"
        class="form-check-input" [ngClass]="{ 'is-invalid': isInvalid('active') }" aria-describedby="activeLabel">
      <label for="activeInput" id="activeLabel" class="form-check-label ps-1">Active</label>
      <div class="invalid-feedback" *ngFor="let failure of getFailures('active')">
        <span *ngIf="failure.field === 'active'">{{failure.message}}</span>
      </div>
    </div>
  </form>
</edition-edit-form-wrapper>