<form class="needs-validation" novalidate>
  <!-- Member -->
  <div class="row mb-2">
    <label for="fullNameInput" id="fullNameLabel" class="col-sm-2 col-form-label">Member</label>
    <div class="col-sm-10">
      <input type="text" [value]="data.fullName" id="fullNameInput" readonly="true" class="form-control"
        aria-describedby="fullNameLabel">
    </div>
  </div>
  <!-- Date -->
  <div class="row mb-2">
    <label for="dateInput" id="dateLabel" class="col-sm-2 col-form-label">Date</label>
    <div class="col-sm-10">
      <input type="month" [value]="data.date" id="dateInput" [readonly]="true" class="form-control"
        aria-describedby="dateLabel">
    </div>
  </div>
  <!-- Paid -->
  <div class="row mb-2">
    <label id="activeLabel" class="col-sm-2 col-form-label">Paid</label>
    <div class="col-sm-10">
      <icon-success *ngIf="data.paid"></icon-success>
      <icon-failure *ngIf="!data.paid"></icon-failure>
    </div>
  </div>
  <!-- Payment date -->
  <div class="row mb-2">
    <label for="paymentDateInput" id="paymentDateLabel" class="col-sm-2 col-form-label">Payment date</label>
    <div class="col-sm-9">
      <input type="date" [value]="data.paymentDate" id="paymentDateInput" [readonly]="true" class="form-control"
        aria-describedby="paymentDateLabel">
    </div>
    <div class="col-sm-1">
      <button [disabled]="isTransactionDisabled()" (click)="selectTransaction()" type="button" class="btn btn-link link-dark" role="button" aria-label="Back">
        <icon-search></icon-search>
      </button>
    </div>
  </div>
</form>