<form class="needs-validation" novalidate>
  <!-- Member -->
  <div class="row mb-2">
    <label for="memberNameInput" id="memberNameLabel" class="col-sm-2 col-form-label">Member</label>
    <div class="col-sm-10">
      <input type="text" [value]="data.memberName" id="memberNameInput" readonly="true" class="form-control"
        aria-describedby="memberNameLabel">
    </div>
  </div>
  <!-- Date -->
  <div class="row mb-2">
    <label for="dateInput" id="dateLabel" class="col-sm-2 col-form-label">Date</label>
    <div class="col-sm-10">
      <input type="month" [value]="data.date" id="dateInput" [readonly]="true" class="form-control"
        aria-describedby="dateLabel">
    </div>
  </div>
  <!-- Paid -->
  <div class="row mb-2">
    <label id="activeLabel" class="col-sm-2 col-form-label">Paid</label>
    <div class="col-sm-10">
      <icon-success *ngIf="data.paid"></icon-success>
      <icon-failure *ngIf="!data.paid"></icon-failure>
    </div>
  </div>
</form>