<layout-article title="Edit user">
  <!-- User -->
  <div class="mb-1">
    <layout-edition-wrapper [editable]="editPermission" [deletable]="deletePermission" [waiting]="isWaiting()"
      [editing]="editing" [error]="error" (delete)="onDelete()" (edit)="onStartEditing()">
      <!-- Form -->
      <access-user-edit-form id="edit" [waiting]="isWaiting()" [readonly]="!isEditable()" [username]="data.username"
        [data]="data" [failures]="failures" (save)="onSave($event)">
      </access-user-edit-form>
      <!-- Info -->
      <access-user-info id="info" [data]="data"></access-user-info>
    </layout-edition-wrapper>
  </div>
  <!-- Roles -->
  <div class="mb-1">
    <div class="card">
      <div class="card-body">
        <access-user-roles [userId]="data.id">
        </access-user-roles>
      </div>
    </div>
  </div>
</layout-article>