<div class="card">
  <div class="card-body">
    <div class="row">
      <div class="col-md-1 offset-md-9">
        Estado
      </div>
      <div class="col-md-2">
        <assoc-member-status-select (changeStatus)="onChangeActiveFilter($event)"></assoc-member-status-select>
      </div>
    </div>
    <assoc-fee-calendar [activeFilter]="activeFilter" [range]="range" [waiting]="readingCalendar" [rows]="rows"
      (goToYear)="onGoToYear($event)"></assoc-fee-calendar>
    <div class="col-md-2 offset-md-5">
      <div class="d-grid">
        <button type="button" class="btn btn-primary" aria-label="register" routerLink="/fees/pay"
          [disabled]="!createPermission" [attr.aria-disabled]="!createPermission">
          Pay fee
        </button>
      </div>
    </div>
  </div>
</div>