name: Artifact deployment

on:
  push:
    branches:
      - master

jobs:
  deploy:
    runs-on: ubuntu-latest
    environment: deployment
    steps:
    - name: Check-out
      uses: actions/checkout@v4
    - name: Set up Node.js 22
      uses: actions/setup-node@v4
      with:
        node-version: 22
        cache: 'npm'
    - name: Install dependencies
      run: npm ci
    - name: Install Angular CLI
      run: npm install -g @angular/cli
    - name: Build libraries
      run: npm run build-libs-production
    - name: Build
      run: npm run build-production
    - uses: FirebaseExtended/action-hosting-deploy@v0
      with:
        repoToken: '${{ secrets.GITHUB_TOKEN }}'
        firebaseServiceAccount: '${{ secrets.FIREBASE_TOKEN }}'
        channelId: live
        projectId: ar-ucronia