<ng-container [ngSwitch]="view">
  <!-- List -->
  <ng-container *ngSwitchCase="'list'">
    <access-user-roles [roles]="roles" [editable]="editable" [deletable]="deletable" [waiting]="waiting"
      (remove)="onRemoveRole($event)">
    </access-user-roles>
    <div class="d-grid">
      <!-- Add button -->
      <button type="button" class="btn btn-primary" aria-label="Add role" [disabled]="!editable"
        (click)="onShowAddRole()">
        <icon-add></icon-add>
      </button>
    </div>
  </ng-container>
  <!-- Add -->
  <ng-container *ngSwitchCase="'add'">
    <access-user-add-role [roles]="rolesSelection" [waiting]="waitingRolesSelection" (addRole)="onAddRole($event)"
      (goToPage)="onGoToSelectionPage($event)"></access-user-add-role>
    <div class="d-grid">
      <!-- Cancel button -->
      <button type="button" class="btn btn-primary" aria-label="Add role" (click)="onCancelAddRole()">
        Cancel
      </button>
    </div>
  </ng-container>
</ng-container>