<layout-pagination-info-wrapper [waiting]="reading" [page]="page" (goTo)="load($event)">
  <table class="table table-hover">
    <thead>
      <tr>
        <!-- Headers -->
        <th scope="col">
          Nombre<sorting-button property="name"
            (directionChange)="onChangeDirection($event)"></sorting-button>
        </th>
      </tr>
    </thead>
    <tbody class="table-group-divider">
      <tr *ngFor="let publisher of page.content; let rowIndex = index" role="button"
        routerLink="/library/admin/publisher/{{publisher.name}}">
        <!-- Cells -->
        <td>
          {{publisher.name}}
        </td>
      </tr>
    </tbody>
  </table>
</layout-pagination-info-wrapper>