<layout-article title="Funds">
  <div class="row pb-2">
    <div class="col-md-3 offset-md-3 pb-2">
      <assoc-transaction-balance-chart-widget></assoc-transaction-balance-chart-widget>
    </div>
    <div class="col-md-3">
      <div class="card">
        <div class="card-body">
          <h5 class="card-title">Current balance</h5>
          <assoc-transaction-current-balance-widget></assoc-transaction-current-balance-widget>
        </div>
      </div>
    </div>
  </div>
  <!-- Funds calendar -->
  <assoc-transaction-calendar-widget></assoc-transaction-calendar-widget>
</layout-article>