<div *ngIf="validToken; then change else invalid"></div>
<ng-template #change>
  <div *ngIf="finished; then finished_message else form"></div>
  <ng-template #form>
    <div class="card">
      <div class="card-body">
        <h5 class="card-title">Activate new user</h5>
        <access-user-activate-user-form (save)="onUserActivate($event)"></access-user-activate-user-form>
      </div>
    </div>
  </ng-template>
  <ng-template #finished_message>
    Activate user
  </ng-template>
</ng-template>
<ng-template #invalid>
  Invalid token
</ng-template>