<form [formGroup]="form" (ngSubmit)="onSave()" class="needs-validation" novalidate>
  <!-- Member -->
  <h2>{{fee.member.name.fullName}}</h2>
  <!-- Month -->
  <p-floatlabel variant="in" class="mb-2 d-flex">
    <p-datepicker id="monthInput" formControlName="month" [invalid]="isFieldInvalid('month')" view="month" dateFormat="yy-mm"
      (onSelect)="onMonthSelect($event)" />
  </p-floatlabel>
  <div class="mb-2">
    @for (failure of failures().getFailures('month'); track failure) {
      <p-message severity="error" size="small" variant="simple">
        {{failure.message}}
      </p-message>
    }
  </div>
  <!-- Paid -->
  <div class="row mb-2">
    <label id="activeLabel" class="col-sm-2 col-form-label">Pagado</label>
    <div class="col-sm-10">
      <icon-success-or-failure [success]="fee.paid" />
    </div>
  </div>
  <!-- Payment date -->
  <div formGroupName="transaction">
    <p-floatlabel variant="in" class="mb-2 d-flex">
      <p-datepicker id="transaction.dateInput" formControlName="date" [invalid]="isFieldInvalid('transaction.date')"
        dateFormat="yy-mm-dd" />
      <label for="transaction.dateInput">Pago</label>
    </p-floatlabel>
  </div>
  <div class="mb-2">
    @for (failure of failures().getFailures('transaction.date'); track failure) {
      <p-message severity="error" size="small" variant="simple">
        {{failure.message}}
      </p-message>
    }
  </div>
  <form-save-controls [waiting]="waiting" [saveDisabled]="!saveEnabled" [cancelDisabled]="!cancelEnabled"
    [cancellable]="cancellable" (reject)="onCancel()" />
</form>