<li class="nav-item dropdown">
  <a href="#" class="nav-link dropdown-toggle" id="accountMenuDropdown" data-bs-toggle="dropdown" role="button"
    aria-haspopup="true" aria-expanded="false">
    <icon-account />
  </a>
  <ul class="dropdown-menu dropdown-menu-end" aria-labelledby="accountMenuDropdown">
    <li>
      <div uiJustifyCenter>{{username}}</div>
    </li>
    <li>
      <hr class="dropdown-divider">
    </li>
    <li>
      <div uiJustifyCenter>
        <a routerLink="/account" type="button" class="dropdown-item" title="Account">
          <icon-settings />
          Datos de cuenta
        </a>
      </div>
    </li>
    <li>
      <hr class="dropdown-divider">
    </li>
    <li>
      <div uiJustifyCenter>
        <button (click)="onLogout()" type="button" class="dropdown-item" aria-label="Logout" role="button">
          <icon-logout />
          Desconectar
        </button>
      </div>
    </li>
  </ul>
</li>