<app-card>
  <app-card-body>
    <!-- Member -->
    <div class="row mb-2">
      <div class="col-sm-2 text-primary">Socio</div>
      <div class="col-sm-10">
        {{data.person.fullName}}
      </div>
    </div>
    <!-- Month -->
    <div class="row mb-2">
      <div class="col-sm-2 text-primary">Mes</div>
      <div class="col-sm-10">
        {{data.date}}
      </div>
    </div>
    <!-- Paid -->
    <div class="row mb-2">
      <div class="col-sm-2 text-primary">Pagado</div>
      <div class="col-sm-10">
        <icon-success-or-failure [success]="data.paid"></icon-success-or-failure>
      </div>
    </div>
    <!-- Payment date -->
    <div class="row mb-2">
      <div class="col-sm-2 text-primary">Fecha de pago</div>
      <div class="col-sm-9">
        {{data.transaction.date}}
      </div>
      <div class="col-sm-1">
        <button [disabled]="isTransactionDisabled()" (click)="selectTransaction()" type="button"
          class="btn btn-link link-dark" role="button" aria-label="Back">
          <icon-search></icon-search>
        </button>
      </div>
    </div>
  </app-card-body>
  <app-card-footer>
    <div>
      <form-control-buttons [editable]="editable" [deletable]="deletable" (startEditing)="startEditing.emit()"
        (delete)="delete.emit()"></form-control-buttons>
    </div>
  </app-card-footer>
</app-card>