<layout-article title="Administración de biblioteca">
  <div class="row">
    <app-card>
      <app-card-header>
        <button type="button" class="btn btn-link" aria-label="register" [routerLink]="creationRoute"
          [disabled]="!createPermission" [attr.aria-disabled]="!createPermission">
          <icon-add></icon-add>
        </button>
        <button type="button" class="btn btn-link" aria-label="Download excel" [disabled]="downloading"
          (click)="downloadExcel()">
          <icon-excel></icon-excel>
        </button>
        <app-card-navigation [tabs]="tabs" [active]="view" (pickTab)="onChangeView($event)"></app-card-navigation>
      </app-card-header>
      <app-card-body>
        <ng-container [ngSwitch]="view">
          <!-- Books -->
          <ng-container *ngSwitchCase="'books'">
            <assoc-library-admin-book-listing [pageNumber]="pageNumber" (wait)="onWait($event)"
              (changePage)="onChangePage($event)"></assoc-library-admin-book-listing>
          </ng-container>
          <!-- Authors -->
          <ng-container *ngSwitchCase="'authors'">
            <assoc-library-admin-author-listing [pageNumber]="pageNumber" (wait)="onWait($event)"
              (changePage)="onChangePage($event)"></assoc-library-admin-author-listing>
          </ng-container>
          <!-- Publishers -->
          <ng-container *ngSwitchCase="'publishers'">
            <assoc-library-admin-publisher-listing [pageNumber]="pageNumber" (wait)="onWait($event)"
              (changePage)="onChangePage($event)"></assoc-library-admin-publisher-listing>
          </ng-container>
          <!-- Book types -->
          <ng-container *ngSwitchCase="'book_types'">
            <assoc-library-admin-book-type-listing [pageNumber]="pageNumber" (wait)="onWait($event)"
              (changePage)="onChangePage($event)"></assoc-library-admin-book-type-listing>
          </ng-container>
          <!-- Game systems -->
          <ng-container *ngSwitchCase="'game_systems'">
            <assoc-library-admin-game-system-listing [pageNumber]="pageNumber" (wait)="onWait($event)"
              (changePage)="onChangePage($event)"></assoc-library-admin-game-system-listing>
          </ng-container>
        </ng-container>
      </app-card-body>
      <app-card-footer>
        <layout-pagination-info [waiting]="reading" [current]="data.page" [pages]="data.totalPages"
          [totalElements]="data.totalElements" (goTo)="load($event)"></layout-pagination-info>
      </app-card-footer>
    </app-card>
  </div>
</layout-article>