<table class="table">
    <thead class="thead-light">
        <tr>
            <th scope="col">Member</th>
            <th scope="col">1</th>
            <th scope="col">2</th>
            <th scope="col">3</th>
            <th scope="col">4</th>
            <th scope="col">5</th>
            <th scope="col">6</th>
            <th scope="col">7</th>
            <th scope="col">8</th>
            <th scope="col">9</th>
            <th scope="col">10</th>
            <th scope="col">11</th>
            <th scope="col">12</th>
        </tr>
    </thead>
    <tbody>
        <tr>
            <th scope="row">1</th>
            <td><input type="checkbox" id="active" formControlName="active" class="form-check-input"></td>
            <td><input type="checkbox" id="active" formControlName="active" class="form-check-input"></td>
            <td><input type="checkbox" id="active" formControlName="active" class="form-check-input"></td>
            <td><input type="checkbox" id="active" formControlName="active" class="form-check-input"></td>
            <td><input type="checkbox" id="active" formControlName="active" class="form-check-input"></td>
            <td><input type="checkbox" id="active" formControlName="active" class="form-check-input"></td>
            <td><input type="checkbox" id="active" formControlName="active" class="form-check-input"></td>
            <td><input type="checkbox" id="active" formControlName="active" class="form-check-input"></td>
            <td><input type="checkbox" id="active" formControlName="active" class="form-check-input"></td>
            <td><input type="checkbox" id="active" formControlName="active" class="form-check-input"></td>
            <td><input type="checkbox" id="active" formControlName="active" class="form-check-input"></td>
            <td><input type="checkbox" id="active" formControlName="active" class="form-check-input"></td>
        </tr>
    </tbody>
</table>