<h1>fees</h1>
<admin-fee-tabs [listActive]=true></admin-fee-tabs>
<div>
  <div class="row mb-2">
    <label for="startDateInput" id="startDateLabel" class="col-sm-2 col-form-label">startDate</label>
    <div class="col-sm-10">
      <input type="month" id="startDateInput" [(ngModel)]="startDate" (change)="reload()" aria-describedby="startDateLabel" class="form-control">
    </div>
  </div>
  <div class="row mb-2">
    <label for="endDateInput" id="endDateLabel" class="col-sm-2 col-form-label">endDate</label>
    <div class="col-sm-10">
      <input type="month" id="endDateInput" [(ngModel)]="endDate" (change)="reload()" aria-describedby="endDateLabel" class="form-control">
    </div>
  </div>
</div>
<layout-data-list createRoute="/fees/create" [loading]="loading" [pageInfo]="pageInfo" (delete)="onDelete()">
  <table class="table">
    <thead>
      <tr>
        <th scope="col">
          <order-button property="name"></order-button>name
        </th>
        <th scope="col">
          <order-button property="surname"></order-button>surname
        </th>
        <th scope="col">
          <order-button property="date"></order-button>pay date
        </th>
        <th scope="col">
          <order-button property="paid"></order-button>paid
        </th>
        <th scope="col"></th>
      </tr>
    </thead>
    <tbody>
      <ng-template ngFor let-fee [ngForOf]="fees">
        <tr>
          <td>{{fee.name}}</td>
          <td>{{fee.surname}}</td>
          <td>{{fee.date | date:'shortDate'}}</td>
          <td>{{fee.paid}}</td>
          <td>
            <button-link-edit link="/fees/{{fee.id}}"></button-link-edit>
            <button-delete (click)="onSelect(fee)" data-bs-toggle="modal" data-bs-target="#deleteModal"></button-delete>
          </td>
        </tr>
      </ng-template>
    </tbody>
  </table>
</layout-data-list>