<div *uiBlock="waiting()">
  <!-- Add role -->
  <table class="table table-hover">
    <thead>
      <tr>
        <th scope="col"></th>
        <th scope="col">
          Nombre
        </th>
      </tr>
    </thead>
    <tbody class="table-group-divider">
      @for (role of roles().content; track role) {
        <tr role="button">
          <td>
            <button (click)="onAdd(role)" type="button" class="btn btn-link link-dark" role="button" aria-label="Back">
              <icon-add></icon-add>
            </button>
          </td>
          <td>{{role.name}}</td>
        </tr>
      }
    </tbody>
  </table>
</div>
<div uiJustifyCenter class="mt-1">
  <pagination-navigation [disabled]="waiting()" [current]="roles().page" [pages]="roles().totalPages"
    (goTo)="onGoToPage($event)">
  </pagination-navigation>
</div>